Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(scoring): use upsert for snapshot persistence to prevent TOCTOU race
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_analysis_api_v2_community_servers_community_server_id_scoring_analysis_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_history_api_v2_community_servers_community_server_id_scoring_history_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_history_snapshot_api_v2_community_servers_community_server_id_scoring_history_timestamp_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_analysis_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_analysis_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_analysis_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_entry_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_entry_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_list_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_list_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_list_response_meta_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_snapshot_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_snapshot_attributes_snapshot.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_snapshot_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_snapshot_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_history_snapshot_response_jsonapi.py
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/notes/scoring/snapshot_persistence.py
  opennotes-server/tests/integration/notes/scoring/test_snapshot_persistence.py
Due: regenerate-openapi

fix(task-1251.10): add regex validation to prevent path traversal in scoring history endpoint
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/tests/unit/test_scoring_history_timestamp_validation.py
Due: regenerate-openapi

test(scoring): add behavioral tests for scoring analysis and persistence
  opennotes-server/tests/unit/notes/scoring/test_scoring_snapshot.py
Due: none

fix(scoring): address medium review findings (exception leakage, Ward linkage, NaN handling, etc.)
  opennotes-cli/src/opennotes_cli/analysis/correlation.py
  opennotes-cli/src/opennotes_cli/analysis/profile_recovery.py
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_correlation_analysis.py
  opennotes-cli/tests/test_profile_recovery.py
  opennotes-server/src/notes/scoring/gcs_storage.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

feat(task-1253): switch from NullPool to QueuePool for DB connections
  opennotes-server/src/common/connection_retry.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: regenerate-openapi

fix(database): add prepared_statement_cache_size=0 to connect_args
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(database): remove engine.dispose() calls on shared singleton
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
Due: regenerate-openapi

fix(task-1253.04): address medium/low review findings from task-1253
  opennotes-server/.env.yaml.example
  opennotes-server/docs/taskiq-hybrid-pattern.md
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/conftest.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: none

docs(task-1253): fix stale engine.dispose() in taskiq-hybrid-pattern doc
  opennotes-server/docs/taskiq-hybrid-pattern.md
Due: none

feat(task-1253): switch from NullPool to QueuePool for DB connections (#248)
  opennotes-server/.env.yaml.example
  opennotes-server/docs/taskiq-hybrid-pattern.md
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/src/common/connection_retry.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/conftest.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: regenerate-openapi

fix(task-1254): resolve Discord snowflake to profile UUID for rater filter
  opennotes-discord/src/commands/list.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/notes/test_notes_jsonapi_validation.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1254.01): add resolveUserProfileId mock to list-notes-filtering test
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
Due: none

fix(notes): use create_error_response for rater_id UUID validation
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/notes/test_notes_jsonapi_validation.py
Due: regenerate-openapi

fix(discord): QueueState backward compat and resolveUserProfileId error handling
  opennotes-discord/src/commands/list.ts
Due: eslint-discord, typecheck-discord

fix(task-1254): resolve Discord snowflake to profile UUID for rater filter (#249)
  opennotes-discord/src/commands/list.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/notes/test_notes_jsonapi_validation.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(auth): add production playground API key seeding
  opennotes-server/scripts/seed_api_keys.py
Due: none

fix(task-1257): create parent directories before saving xlsx output
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(playground): add VITE build args and remove reserved PORT env
  opennotes-playground/Dockerfile
Due: none

fix(auth): use CAST instead of :: for jsonb in seed script
  opennotes-server/scripts/seed_api_keys.py
Due: none

docs(task-1259): merge sim-agent taxonomy into unified document
  docs/sim-agent-epistemic-archetypes.md
  docs/sim-agent-personality-dimensions.md
  docs/sim-agent-taxonomy.md
Due: none

docs(task-1259): merge sim-agent taxonomy into unified document (#250)
  docs/sim-agent-epistemic-archetypes.md
  docs/sim-agent-personality-dimensions.md
  docs/sim-agent-taxonomy.md
Due: none

fix(task-1260.01): add strip_discord_markdown utility for query sanitization
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/tests/unit/test_strip_discord_markdown.py
Due: regenerate-openapi

fix(search): escape PGroonga special chars in hybrid_search_with_chunks
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/tests/integration/test_fact_check_hybrid_search.py
Due: regenerate-openapi

fix(auth): add tokens_valid_after check to get_current_user_or_api_key
  opennotes-server/src/auth/dependencies.py
  opennotes-server/tests/integration/test_token_invalidation_security.py
Due: regenerate-openapi

fix(auth): secure refresh token path against tokens_valid_after bypass
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_token_invalidation_security.py
Due: regenerate-openapi

feat(task-1262.02): add Cloud Run identity token to playground API client
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/lib/api-client.server.test.ts
  opennotes-playground/src/lib/api-client.server.ts
Due: none

fix(search): escape PGroonga special characters in similarity search (#252)
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/tests/integration/test_fact_check_hybrid_search.py
  opennotes-server/tests/unit/test_strip_discord_markdown.py
Due: regenerate-openapi

test(auth): add cross-path token invalidation integration tests
  opennotes-server/tests/integration/test_token_invalidation_security.py
Due: none

docs(task-1256): add theoretical transparency notes and citation supplements
  docs/sim-agent-taxonomy.md
Due: none

docs(task-1256): add theoretical transparency notes and citation supplements (#251)
  docs/sim-agent-taxonomy.md
Due: none

fix(task-1263): mock db.execute for revoke_all_user_refresh_tokens in unit test
  opennotes-server/tests/unit/test_users_crud_simple.py
Due: none

fix(playground): cache GoogleAuth singleton and add token fetch timeout
  opennotes-playground/src/lib/api-client.server.test.ts
  opennotes-playground/src/lib/api-client.server.ts
Due: none

fix(playground): fix request reconstruction and interceptor error handling
  opennotes-playground/src/lib/api-client.server.test.ts
  opennotes-playground/src/lib/api-client.server.ts
Due: none

test(playground): add missing test coverage for identity token auth
  opennotes-playground/src/lib/api-client.server.test.ts
Due: none

fix(server): close LiteLLM aiohttp sessions on shutdown
  opennotes-server/src/main.py
Due: regenerate-openapi

feat(llm): add EmptyLLMResponseError guard for empty LLM responses
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider_empty_response.py
Due: regenerate-openapi

fix(task-1266): prevent MissingGreenlet on DBOS worker pool dispose
  opennotes-server/src/database.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

feat(llm): add retry decorator to LLMService.complete() for transient errors
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(task-1265): use direct import for close_litellm_async_clients
  opennotes-server/src/main.py
Due: regenerate-openapi
