Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(task-1072): upgrade flashpoint detection to comparative scoring
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/scripts/flashpoints/README.md
  opennotes-server/scripts/flashpoints/dspy_dataset.py
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/integration/test_flashpoint_integration.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1072): unwrap FlashpointDetector for GEPA module traversal
  opennotes-server/scripts/flashpoints/flashpoint_module.py
Due: none

fix(task-1071): skip JWT verification for service-auth requests in audit middleware
  opennotes-server/src/middleware/audit.py
  opennotes-server/tests/unit/test_audit_middleware.py
Due: regenerate-openapi

fix(task-1071): skip JWT verification for service-auth requests in audit middleware (#152)
  opennotes-server/src/middleware/audit.py
  opennotes-server/tests/unit/test_audit_middleware.py
Due: regenerate-openapi

fix(task-1075): set workflow_id=scan_id in DBOS content scan EnqueueOptions
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1075): set workflow_id=scan_id in DBOS content scan EnqueueOptions (#153)
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat(task-1076): upgrade dbos-py from 1.14.0 to 2.11.0
  opennotes-server/docs/known-issues.md
  opennotes-server/pyproject.toml
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1077): use __qualname__ for DBOS workflow name constants
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow_names.py
Due: regenerate-openapi

feat: upgrade DBOS 1.x→2.11 and fix workflow name mismatch (#154)
  opennotes-server/docs/known-issues.md
  opennotes-server/pyproject.toml
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow_names.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(docker): copy optimized flashpoint detector into image
  opennotes-server/Dockerfile
Due: none

feat(discord): update scan copy to include flashpoints
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
Due: eslint-discord, typecheck-discord

fix(redis): detect event loop changes and reconnect in DBOS workers
  opennotes-server/src/cache/redis_client.py
  opennotes-server/tests/unit/cache/__init__.py
  opennotes-server/tests/unit/cache/test_redis_client.py
Due: regenerate-openapi

fix(scan): resolve orchestrator race condition and zero-message handling
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat(flashpoints): enable flashpoint detection by default for all servers
  opennotes-server/alembic/versions/992453458994_task_1082_enable_flashpoint_detection_.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/tests/unit/test_flashpoint_detection_default.py
Due: schema-consistency, regenerate-openapi

fix: scan orchestrator race condition, Redis loop mismatch, flashpoint defaults & Docker (#155)
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-server/Dockerfile
  opennotes-server/alembic/versions/992453458994_task_1082_enable_flashpoint_detection_.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/tests/unit/cache/__init__.py
  opennotes-server/tests/unit/cache/test_redis_client.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/test_flashpoint_detection_default.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(scan): add diagnostic logging to batch processing step and run_sync
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/utils/async_compat.py
Due: regenerate-openapi

fix(scan): eager flashpoint detector init and redis close timeout
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/main.py
Due: regenerate-openapi

feat(search): return both cosine_similarity and cc_score from similarity search + add first-class fields to request create endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/embedding_schemas.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/tests/unit/bulk_content_scan/test_note_request_creation.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(monitor): add CC score threshold check and send first-class fields in note requests
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-cc-threshold.test.ts
Due: eslint-discord, typecheck-discord

fix(scan): eager flashpoint detector init and redis close timeout (#156)
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(schema): make cosine_similarity optional with default 0.0 on FactCheckMatch
  opennotes-server/src/fact_checking/embedding_schemas.py
Due: schema-consistency, regenerate-openapi

fix(discord): address review findings for task-1085 subtasks
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/unit/MessageMonitorService-cc-threshold.test.ts
Due: eslint-discord, typecheck-discord

fix(server): address code review findings for task-1085 subtasks
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/embedding_schemas.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/tests/unit/bulk_content_scan/test_note_request_creation.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/notes/test_request_create_attributes.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix: low-confidence note requests from automated monitoring (#157)
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-cc-threshold.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/embedding_schemas.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/tests/unit/bulk_content_scan/test_note_request_creation.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/notes/test_request_create_attributes.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1072.02): make GEPA metric feedback generic and evolvable
  opennotes-server/data/flashpoints/optimized_detector.json
  opennotes-server/scripts/flashpoints/README.md
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_metric.py
Due: regenerate-openapi

refactor(task-1072.02): remove dynamic feedback, add meta-coaching
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_metric.py
Due: none

fix(task-1087): consolidate health check response models to fix schema mismatch
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/tests/integration/test_monitoring.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1079): add SafeJsonSerializer for DBOS workflows
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

refactor(task-1089): split content scan batch into per-strategy DBOS steps
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(test): update dual_completion test for per-strategy DBOS steps
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

feat(flashpoints): add reasoning trace logging and truncation
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

fix(tests): update extract_reasoning test for new truncation behavior
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_metric.py
Due: none

feat(task-1072.05): add calibrated score anchors to FlashpointSignature
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
Due: regenerate-openapi

feat(task-1072.06): add BootstrapFewShot pre-pass to seed GEPA with demos
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

feat(task-1072.03): fix two-stage detector info bottleneck, pass context to Stage 2
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
Due: regenerate-openapi

feat(task-1072.04): add rubric-based categorical detector with --detector-type CLI
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
Due: regenerate-openapi

feat(task-1072.06): upgrade bootstrap to parallel BootstrapFewShotWithRandomSearch
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

fix(serializer): remove pickle fallback, add module allowlist, strict typing, recursive exception handling
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
