Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

feat(playground): inline blog post date and author on same line
  opennotes-playground/src/components/BlogPost.tsx
Due: none

fix(scoring): patch _prefetch_community_data in tests broken by diversity threshold
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: none

feat(playground): migrate UI library to Solid UI [task-1378] (#319)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/app.css
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/button.tsx
  opennotes-playground/src/components/ui/card.tsx
  opennotes-playground/src/components/ui/checkbox.tsx
  opennotes-playground/src/components/ui/dropdown-menu.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/components/ui/note-filter.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/components/ui/popover.tsx
  opennotes-playground/src/components/ui/select.tsx
  opennotes-playground/src/components/ui/separator.tsx
  opennotes-playground/src/components/ui/sheet.tsx
  opennotes-playground/src/components/ui/sortable-header.tsx
  opennotes-playground/src/components/ui/toggle-group.tsx
  opennotes-playground/src/components/ui/toggle.tsx
  opennotes-playground/src/components/ui/tooltip.tsx
  opennotes-playground/src/lib/cva.ts
  opennotes-playground/ui.config.json
Due: none

fix(simulation): remove PENDING status filter from request queries
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_jsonapi_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/request_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): review fixes — FAILED filter, dead params, test assertions
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): agent tools and prompt updates for request status visibility
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(simulation): sibling-aware request and note filtering in build_deps_step
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(simulation): use sibling IDs in list_my_actions and exclude sibling-acted requests [task-1377]
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): remove PENDING filter, add sibling-aware dedup and agent tools (#318)
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_jsonapi_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/request_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(simulation): add nullable name column to simulation_runs [task-1380]
  opennotes-server/alembic/versions/63983efd8f6c_add_name_to_simulation_runs.py
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

feat(simulation): add name to schemas and PATCH endpoint [task-1380]
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/update_simulation_api_v2_simulations_simulation_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_request.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(playground): show simulation name in IdBadge and detail page [task-1380]
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(cli): add --name to simulation create/launch and new edit subcommand [task-1380]
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(simulation): use model_fields_set for PATCH semantics [task-1380]
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: regenerate-openapi

feat(simulation): skip agent turn when no content available [TASK-1382]
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): add COMPLETED→PENDING reverse transition on scoring re-score [task-1376]
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: regenerate-openapi

fix(simulation): guard select_action retries on empty work and fix prompt heading [TASK-1376]
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
Due: regenerate-openapi

fix(task-1380.07): add try/except and max_length to PATCH endpoint
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: regenerate-openapi

fix(simulation): raise SIMULATION_DEFAULT_TOKEN_LIMIT to 80000 [TASK-1376]
  opennotes-server/src/config.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): relax write_note to accept any valid request, reject acted-on [task-1381]
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(playground): add RSS feed at /blog/feed.xml [task-1383]
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/routes/blog/feed.xml.test.ts
  opennotes-playground/src/routes/blog/feed.xml.ts
Due: none

feat(simulation): propagate no-content skip signal to orchestrator auto-pause [TASK-1382]
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(tests): fix CI lint and test failures
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

fix(simulation): narrow type guard for sibling_ids_subq in list_requests
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

fix(simulation): use explicit string comparison for include_acted_on param
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

feat(simulation): add optional name to simulation runs [task-1380] (#321)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/update_simulation_api_v2_simulations_simulation_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_update_request.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/alembic/versions/63983efd8f6c_add_name_to_simulation_runs.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(playground): add RSS feed at /blog/feed.xml [task-1383] (#322)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/routes/blog/feed.xml.test.ts
  opennotes-playground/src/routes/blog/feed.xml.ts
Due: none

fix(simulation): scope skipped_no_content to iteration and fix exception reset [TASK-1376.04, TASK-1382.03]
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(simulation): fix agent empty-work loop, request filtering, and token limits [tasks-1376-1381-1382] (#323)
  opennotes-server/src/config.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(simulation): use CAST syntax for jsonb parameter in set_current_iteration
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: regenerate-openapi

fix(playground): wrap filter groups in DropdownMenuGroup to fix kobalte crash
  opennotes-playground/src/components/ui/note-filter.tsx
Due: none

fix(playground): align blog post anchor link with title baseline
  opennotes-playground/src/components/BlogPost.tsx
Due: none

fix(playground): refactor FontToggle to ToggleGroup and reposition to first post row
  opennotes-playground/src/components/FontToggle.tsx
  opennotes-playground/src/routes/index.tsx
Due: none

refactor(task-1385.01): share original message archives in copy-requests flow
  opennotes-server/src/notes/copy_request_service.py
  opennotes-server/tests/integration/notes/test_copy_requests_e2e.py
  opennotes-server/tests/unit/notes/test_copy_request_service.py
Due: regenerate-openapi

feat(task-1385.02): data migration to re-point copied requests to original archives
  opennotes-server/alembic/versions/1dceabf5c87e_repoint_copied_requests_to_original_.py
Due: none

fix(playground): add aria-labels to FontToggle ToggleGroup
  opennotes-playground/src/components/FontToggle.tsx
Due: none

fix(task-1385.02): scope migration DELETE to only archives orphaned by this migration
  opennotes-server/alembic/versions/1dceabf5c87e_repoint_copied_requests_to_original_.py
Due: none

fix(task-1385): handle many-to-one archive→request in cascade_soft_delete
  opennotes-server/src/notes/message_archive_service.py
Due: regenerate-openapi

fix(playground): fix solid-ui migration regressions [task-1384] (#324)
  opennotes-playground/src/components/BlogPost.tsx
  opennotes-playground/src/components/FontToggle.tsx
  opennotes-playground/src/components/ui/note-filter.tsx
  opennotes-playground/src/routes/index.tsx
Due: none

fix(copy-requests): share original message archives instead of duplicating [task-1385] (#325)
  opennotes-server/alembic/versions/1dceabf5c87e_repoint_copied_requests_to_original_.py
  opennotes-server/src/notes/copy_request_service.py
  opennotes-server/src/notes/message_archive_service.py
  opennotes-server/tests/integration/notes/test_copy_requests_e2e.py
  opennotes-server/tests/unit/notes/test_copy_request_service.py
Due: regenerate-openapi
