Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(task-1246.03): remove invalid prepared_statement_cache_size from asyncpg.connect()
  opennotes-server/src/database.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
Due: regenerate-openapi

fix(server): exit with non-zero code on seed_api_keys fatal error
  opennotes-server/scripts/seed_api_keys.py
Due: none

fix(playground): reject backslash in safe redirect path
  opennotes-playground/src/lib/safe-redirect.ts
  opennotes-playground/src/routes/auth/callback.test.ts
Due: none

fix(server): align PROJECT_NAME across env files
  .env.ci.yaml
Due: none

feat(playground): add test and build infrastructure
  .env.ci.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mise.toml
  opennotes-playground/package.json
Due: none

fix(task-1246.04): revert DBOS sync creator to connect_args
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(server): atomic key file permissions and exit code masking
  opennotes-server/scripts/seed_api_keys.py
Due: none

fix(server): fix startup validation tests and migration multi-head handling
  opennotes-server/src/config.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_validation.py
Due: regenerate-openapi

fix(playground): supabase env validation and callback handler tests
  opennotes-playground/src/lib/supabase-browser.ts
  opennotes-playground/src/lib/supabase-server.ts
  opennotes-playground/src/routes/auth/callback.test.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(server): set SKIP_MIGRATIONS=False in startup migration tests
  opennotes-server/tests/unit/test_startup_migrations.py
Due: none

fix(task-1246.06): narrow transient errors and protect metric emission
  opennotes-server/src/common/connection_retry.py
  opennotes-server/tests/unit/test_connection_retry.py
Due: regenerate-openapi

fix(task-1246.05): restore prepared_statement_cache_size for SQLAlchemy adapter
  opennotes-server/src/database.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(task-1246.07): wire sync_connect_with_retry into missed engine creation sites
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: none

fix(task-1246.07): wire sync_connect_with_retry into source files
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/startup_migrations.py
Due: regenerate-openapi

fix(task-1246.08): add config validation and fill test gaps
  opennotes-server/src/config.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

feat(playground): local dev config, E2E tests, and review fixes (#241)
  .env.ci.yaml
  .env.yaml.example
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mise.toml
  opennotes-playground/.env.example
  opennotes-playground/app.config.ts
  opennotes-playground/docs/supabase-setup.md
  opennotes-playground/package.json
  opennotes-playground/src/lib/safe-redirect.ts
  opennotes-playground/src/lib/supabase-browser.ts
  opennotes-playground/src/lib/supabase-server.ts
  opennotes-playground/src/routes/auth/callback.test.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/docker-entrypoint.sh
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/config.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
  opennotes-server/tests/unit/test_startup_validation.py
Due: regenerate-openapi

fix(task-1246.09): detect psycopg2/psycopg OperationalError as transient
  opennotes-server/src/common/connection_retry.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: regenerate-openapi

fix(task-1246.10): improve test quality and DSN handling
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: regenerate-openapi

fix(task-1246.11): call _run_migrations_sync directly in wiring tests
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: none

fix(monitoring): block Redis from Traceloop to prevent double instrumentation
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
Due: regenerate-openapi

build(task-1243.05): upgrade traceloop-sdk to >=0.53.0
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

feat(monitoring): add AttributeSanitizingSpanProcessor to filter invalid OTel attribute types
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
Due: regenerate-openapi

fix(monitoring): explicitly set span attribute limit to 128 to prevent truncation
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_otel_gcp_exporter.py
Due: regenerate-openapi

fix(monitoring): add defensive guards and version pin cap for traceloop-sdk
  opennotes-server/pyproject.toml
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
  opennotes-server/uv.lock
Due: regenerate-openapi

style(monitoring): apply ruff formatting to test_attribute_sanitizer
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
Due: regenerate-openapi

feat(task-1246): add connection retry for transient DNS failures (#242)
  opennotes-server/src/common/connection_retry.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
  opennotes-server/tests/unit/test_sync_retry_wiring.py
Due: regenerate-openapi

fix(monitoring): eliminate OpenTelemetry warnings in production (#243)
  opennotes-cli/uv.lock
  opennotes-server/pyproject.toml
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
  opennotes-server/tests/unit/monitoring/test_otel_gcp_exporter.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
  opennotes-server/uv.lock
Due: regenerate-openapi

ci(task-1238.35): add playground build, lint, and security CI parity
  .github/workflows/ci.yml
  mise.toml
Due: none

ci(task-1238.35): add playground build, lint, and security CI parity (#244)
  .github/workflows/ci.yml
  mise.toml
Due: none

feat(task-1250): add huuid support to opennotes-cli
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/batch.py
  opennotes-cli/src/opennotes_cli/commands/candidates.py
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/playground.py
  opennotes-cli/src/opennotes_cli/commands/rechunk.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_huuid_integration.py
  opennotes-cli/tests/test_score_command.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-cli/uv.lock
Due: none

fix(cli): handle None input in format_id() gracefully
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_huuid_integration.py
Due: none

fix(cli): add huuid formatting to XLSX export
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

test(task-1250.03): fix broken 404 test and add huuid coverage
  opennotes-cli/tests/test_score_command.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

refactor(cli): remove dead code and format IDs in error messages
  opennotes-cli/src/opennotes_cli/commands/batch.py
  opennotes-cli/src/opennotes_cli/commands/candidates.py
  opennotes-cli/src/opennotes_cli/commands/rechunk.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/src/opennotes_cli/polling.py
  opennotes-cli/tests/test_formatting.py
Due: none

feat(scoring): persist scoring factor matrices and add analysis endpoint
  docs/sim-agent-assignment-matrix.md
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/84eb220a346a_add_scoring_snapshots_table.py
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/models.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/notes/scoring/snapshot_persistence.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_scoring_analysis.py
  opennotes-server/tests/unit/notes/scoring/test_scoring_snapshot.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(cli): add analyze mf command with correlation and profile recovery
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/analysis/__init__.py
  opennotes-cli/src/opennotes_cli/analysis/correlation.py
  opennotes-cli/src/opennotes_cli/analysis/profile_recovery.py
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_analyze_command.py
  opennotes-cli/tests/test_correlation_analysis.py
  opennotes-cli/tests/test_profile_recovery.py
  opennotes-cli/uv.lock
Due: none

feat(scoring): add GCS storage for scoring snapshot history
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/notes/scoring/gcs_storage.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_gcs_storage.py
  opennotes-server/uv.lock
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(scoring): wrap snapshot persistence in try/except to prevent scoring crash
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
Due: regenerate-openapi

fix(cli): fix broken --rescore flag in analyze command
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_analyze_command.py
Due: none

fix(cli): add network error handling to analyze command
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_analyze_command.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
