Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(logging): use Cloud Run revision name instead of localhost for hostname
  opennotes-server/src/monitoring/instance.py
  opennotes-server/src/monitoring/logging.py
Due: regenerate-openapi

fix(task-1056.01): route single-item chunking through DBOS
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

feat(task-1056): remove TaskIQ support for fact-check rechunking
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: regenerate-openapi

fix(logging): use Cloud Run revision name instead of localhost for hostname (#140)
  opennotes-server/src/monitoring/instance.py
  opennotes-server/src/monitoring/logging.py
Due: regenerate-openapi

fix(tests): update tests for DBOS migration (TASK-1056)
  opennotes-server/tests/integration/batch_jobs/test_rechunk_workflow_integration.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: none

fix(tests): update test_chunk_endpoints to mock DBOS workflow
  opennotes-server/tests/integration/test_chunk_endpoints.py
Due: none

feat(task-1056): remove TaskIQ support for fact-check rechunking (#141)
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/integration/batch_jobs/test_rechunk_workflow_integration.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

fix(task-1057): fix pre-existing CI integration test failures
  opennotes-server/tests/integration/test_autopost_similarity_search.py
  opennotes-server/tests/integration/test_chunking_service_integration.py
Due: none

fix(task-1057): fix pre-existing CI integration test failures (#142)
  opennotes-server/tests/integration/test_autopost_similarity_search.py
  opennotes-server/tests/integration/test_chunking_service_integration.py
Due: none

docs(task-1058.05): document DBOS notification listener connection drops
  opennotes-server/docs/known-issues.md
Due: none

fix(task-1058): resolve taskiq to DBOS migration production issues
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/__init__.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/main.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/integration/batch_jobs/test_batch_job_service_workflow_id.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/fact_checking/test_chunking_service_singleton.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: regenerate-openapi

fix(task-1058): implement review feedback subtasks 1058.08-1058.15
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/fact_checking/test_chunking_service_singleton.py
Due: regenerate-openapi

fix(task-1058): implement review feedback subtasks 1058.17-1058.35
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/main.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/utils/__init__.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow_names.py
  opennotes-server/tests/unit/fact_checking/test_chunking_service_singleton.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
  opennotes-server/tests/unit/utils/__init__.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(task-1058): resolve basedpyright type errors in DBOS config
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(task-1058): implement batch 1 subtasks - singleton fixes, shutdown, startup validation
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/main.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow_names.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
  opennotes-server/tests/unit/test_taskiq_broker.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(task-1058): implement batch 2 subtasks - lock narrowing, async startup, test improvements
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/chunk_embedding_service.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

feat(task-1058.46): add DBOS Conductor API key to application configuration
  opennotes-server/.env.yaml.example
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(task-1058): add otlp_attributes to DBOS config and fix docstring
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/integration/batch_jobs/test_batch_job_service_workflow_id.py
Due: regenerate-openapi

fix(task-1058): fix lint error and unit test failures
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

chore: remove stale monitoring volume mounts from docker-compose
  docker-compose.yml
Due: none

fix(task-1061): address DBOS review findings from PR #143
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/chunk_embedding_service.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/main.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(task-1062): fix container startup failures for taskiq and DBOS
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(dbos): import workflow modules in worker mode before launch
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

test(task-1060): increase DBOS unit test coverage
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: none

fix(task-1063): update unit tests for TASK-1062 code changes
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: none

feat(task-1064.03): add GCP Cloud Run resource detection for traces
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

feat(task-1064.05): add record_span_error helper for OTel error recording
  opennotes-server/src/main.py
  opennotes-server/src/middleware/timeout.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/errors.py
  opennotes-server/src/monitoring/middleware.py
Due: regenerate-openapi

feat(task-1064.04): tune BatchSpanProcessor for production performance
  opennotes-server/pyrightconfig.json
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

feat(task-1064): add GCP trace header filter to isolate HTTP request traces
  opennotes-server/src/main.py
  opennotes-server/src/middleware/gcp_trace_filter.py
  opennotes-server/tests/integration/test_gcp_trace_isolation.py
  opennotes-server/tests/unit/middleware/__init__.py
  opennotes-server/tests/unit/middleware/test_gcp_trace_filter.py
Due: regenerate-openapi

feat(task-1064.01): add GCP-native log format for Cloud Trace correlation
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/__init__.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

fix(dbos): address code review feedback for PR #147
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

chore: add type ignore comments for dynamically assigned cache_clear
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: none

refactor(task-1065.11): remove redundant env var check in test_gcp_trace_filter
  opennotes-server/src/monitoring/errors.py
  opennotes-server/tests/unit/middleware/test_gcp_trace_filter.py
Due: regenerate-openapi

refactor(task-1065.17): clarify non-True values test naming in test_logging.py
  opennotes-server/tests/unit/monitoring/test_errors.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: none

fix(task-1065.10): use actual Cloud Run instance ID for FAAS_INSTANCE
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

refactor(task-1065.04): use Settings class for OTel configuration in main.py
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(task-1065.03,1065.12): add tracer provider cleanup and remove unused fixtures in test_gcp_trace_isolation
  opennotes-server/tests/integration/test_gcp_trace_isolation.py
Due: none

fix(task-1065.07,1065.13,1065.14): improve logging.py exception handling, caching, and debug output
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

fix(task-1065): comprehensive otel.py improvements
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(batch_jobs): add type arguments to dict types for basedpyright
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/schemas.py
Due: schema-consistency, regenerate-openapi
