Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

test(task-1283.08): cover terminal scan helper branches
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: none

test(task-1283.08): cover flashpoint success path
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: none

test(task-1310.14): raise patch coverage for workflow fixes
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: none

ci(task-1283.08): restore unit coverage upload
  .github/workflows/ci.yml
Due: none

ci(task-1310.14): generate unit coverage xml for codecov
  .github/workflows/ci.yml
  opennotes-server/tests/unit/test_ci_workflow_coverage_contract.py
Due: none

fix(task-1283.09): expose finalizing latch to late workers
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

test(task-1283.11): stub finalizing step in workflow tests
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
Due: none

fix(task-1307.07): allow cache fallback for partial routing
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1307.08): reject mismatched cache fallback routing
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1283): preserve late scan accounting and clear finalizing latch
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

test(task-1283.15): mock finalizing latch cleanup in unit tests
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
Due: none

fix(task-1283.16): make finalizing cleanup failure-safe
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix: resolve enqueued community scoring workflows (#276)
  .github/workflows/ci.yml
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
  opennotes-server/tests/unit/test_ci_workflow_coverage_contract.py
Due: regenerate-openapi

fix: harden force-publish score update routing (#277)
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/events/types.ts
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/integration/note-publisher-e2e.test.ts
  opennotes-discord/tests/integration/note-publisher-error-handling.test.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/utils/note-publisher-fixtures.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/score_event_context.py
  opennotes-server/tests/integration/test_force_publish_nats_event.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
  opennotes-server/tests/unit/notes/test_score_event_context.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix: harden Discord bulk scan terminal replay recovery (#278)
  opennotes-discord/src/bot.ts
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix: clean up orphaned content scan batch workers (#279)
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
Due: regenerate-openapi

fix(vibecheck): finalize zero-message scans directly in NATS handler
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
Due: regenerate-openapi

fix(dbos): use direct PostgreSQL connection for DBOS system database
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(vibecheck): resolve stuck production scans from 2026-03-13
  opennotes-server/alembic/versions/c2bb19d8c78c_resolve_stuck_scans_2026_03_13.py
Due: none

fix(vibecheck): add X-Correlation-Id header to zero-message finished event
  opennotes-server/src/bulk_content_scan/nats_handler.py
Due: regenerate-openapi

feat(rls): enable RLS and FORCE RLS on all 41 public tables
  opennotes-server/alembic/versions/458c433da8d8_enable_rls_on_all_public_tables.py
Due: none

feat(rls): add RLS policies for playground-facing tables
  opennotes-server/alembic/versions/d6267cf7c0d0_rls_policies_for_playground_facing_.py
Due: none

docs: replace dashboard RLS instructions with Alembic-based approach
  opennotes-playground/docs/supabase-setup.md
Due: none

fix: resolve DBOS queue stall and zero-message vibecheck scan gap (#280)
  opennotes-server/alembic/versions/c2bb19d8c78c_resolve_stuck_scans_2026_03_13.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix: register workflows in server mode to match DBOS worker version hash
  opennotes-server/src/main.py
Due: regenerate-openapi

chore(cli): update baalbek to v0.3.1
  opennotes-cli/uv.lock
Due: none

fix(task-1318): use per-thread Redis connection for search analytics logging
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/search/search_analytics.py
Due: regenerate-openapi

fix(task-1319): wire data_provider into MFCoreScorerAdapter for LIMITED+ tiers
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_preloaded_data_provider.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_factory.py
Due: regenerate-openapi

refactor(task-1319): address review feedback
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

fix(task-1319): match protocol parameter names for basedpyright compatibility
  opennotes-server/pyproject.toml
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
Due: regenerate-openapi

fix(task-1318): use per-thread Redis connection for search analytics logging (#282)
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/search/search_analytics.py
Due: regenerate-openapi

fix: wire data_provider into MFCoreScorerAdapter for LIMITED+ tiers (#283)
  opennotes-server/pyproject.toml
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_preloaded_data_provider.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_factory.py
Due: regenerate-openapi

feat(task-1321): remove real-time scoring from routers, dispatch DBOS rescore
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/tests/unit/notes/test_remove_realtime_scoring.py
Due: schema-consistency, regenerate-openapi

feat(task-1320): optimize CommunityDataProvider to use pyarrow tables
  opennotes-server/pyproject.toml
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/data_provider.py
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/heavy/test_mf_scorer_integration.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
  opennotes-server/tests/unit/notes/scoring/test_data_provider.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms_benchmark.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_protocol.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1320,task-1321): address review findings for scoring refactor
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/tests/integration/test_rating_transaction_rollback.py
  opennotes-server/tests/unit/notes/test_remove_realtime_scoring.py
Due: schema-consistency, regenerate-openapi

fix(task-1326): fix circuit breaker stuck open — zero turns executing
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_circuit_breaker.py
Due: regenerate-openapi

test(task-1326): fix tests after removing @DBOS.step from schedule_turns_step
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: none

test(task-1326): add stuck log test and extract SCORING_TIMEOUT constant
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix: circuit breaker stuck open — zero turns executing (#285)
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/dbos_workflows/test_circuit_breaker.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(task-1328): replace rate_note with batch rate_notes tool (1-5 notes)
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
Due: schema-consistency, regenerate-openapi
