Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(cli): add pyyaml as optional gcp dependency
  opennotes-cli/pyproject.toml
  opennotes-cli/uv.lock
Due: none

feat(task-1176): make playground add-request async via DBOS workflow
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/unit/simulation/test_playground_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_playground_url_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1176): address code review findings for async playground workflow
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/shared/url_validation.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/unit/simulation/test_playground_url_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1176): update opennotes-cli for async 202 response format
  opennotes-cli/src/opennotes_cli/commands/playground.py
Due: none

fix(task-1176): add from_attributes to PlaygroundNoteRequestJobResponse
  opennotes-cli/src/opennotes_cli/api_client/api/playground_jsonapi/create_playground_note_requests_api_v2_playgrounds_community_server_id_note_requests_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_response_jsonapi.py
  opennotes-server/src/simulation/schemas.py
Due: schema-consistency, regenerate-openapi

feat(task-1176): make playground add-request async via DBOS workflow (#206)
  opennotes-cli/src/opennotes_cli/api_client/api/playground_jsonapi/create_playground_note_requests_api_v2_playgrounds_community_server_id_note_requests_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/commands/playground.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/shared/url_validation.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/unit/simulation/test_playground_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_playground_url_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(cli): add orchestrator update command
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
Due: none

feat(task-1189.01): reload orchestrator config on pause-to-running transition
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(task-1186.01): add text content support to playground note-requests
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(cli): add orchestrator apply command (patch + pause + resume)
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
Due: none

feat(cli): add --text flag to playground add-request command
  opennotes-cli/src/opennotes_cli/commands/playground.py
Due: none

fix(test): update validation error regex for playground note-request schema
  opennotes-server/tests/unit/simulation/test_playground_jsonapi_router.py
Due: none

feat(task-1177): add simulation launch all-in-one CLI command
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix: address code review findings across CLI and server
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
Due: schema-consistency, regenerate-openapi

feat: simulation launch CLI, orchestrator config reload, playground text content (#207)
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/playground_note_request_job_attributes.py
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/playground.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/unit/simulation/test_playground_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

test(task-1184): audit migration 4d7edc118a2e model name normalization
  opennotes-server/scripts/audit_model_names.sql
  opennotes-server/tests/unit/llm_config/test_migration_4d7edc118a2e_audit.py
Due: none

fix(task-1184.01): fix SQL false positives and vacuous tests
  opennotes-server/scripts/audit_model_names.sql
  opennotes-server/tests/unit/llm_config/test_migration_4d7edc118a2e_audit.py
Due: none

fix(cli): parse markdown list URLs in --urls-from files
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(cli): handle dict-typed model_name in sim-agent list/get
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
Due: none

feat(task-1185): move community_server_id from SimAgent to SimulationRun
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_create_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_update_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/55d3b5d409c0_task_1185_remove_community_server_id_.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_sim_agent_model.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(test): use provider:model format in sim-agent router tests
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
Due: none

feat: move community_server_id to SimulationRun, fix CLI dict crash (#209)
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_create_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_update_attributes.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/55d3b5d409c0_task_1185_remove_community_server_id_.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_sim_agent_model.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix: eagerly load Note.request in scoring query to prevent lazy='raise' error
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

fix(task-1195): cast case() to PG enum type and standardize loaders
  opennotes-server/src/notes/message_archive_service.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/integration/simulation/test_scoring_integration_db.py
Due: regenerate-openapi

fix(task-1195.04): add ORDER BY to batch query and helpful_note subquery
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/integration/simulation/test_scoring_integration_db.py
Due: regenerate-openapi

fix(task-1195): fix scoring_integration bugs preventing notes from being scored (#210)
  opennotes-server/src/notes/message_archive_service.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/integration/simulation/test_scoring_integration_db.py
Due: regenerate-openapi

fix(simulation): use loop-aware Redis client in persist_state_step
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/cache/test_redis_client.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(llm): pass vertex_location and vertex_project to litellm for Vertex AI provider
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
Due: regenerate-openapi

fix: production Redis event loop + Vertex AI endpoint routing (#211)
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/cache/test_redis_client.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

test(simulation): add assertions for community_server_id source and model_name serialization
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: none

fix(simulation): handle UsageLimitExceeded as partial completion and clean up dead code
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): use explicit default=None in SimAgentAction Fields
  opennotes-server/src/simulation/schemas.py
Due: schema-consistency, regenerate-openapi

feat(scoring): add score_community_server_notes standalone scoring function
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_score_community_server.py
Due: regenerate-openapi

feat(scoring): increase run_scoring_step max_attempts from 2 to 10
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: regenerate-openapi

fix: move test_score_community_server to tests/unit/simulation/
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: none

fix(simulation): preserve phase1 messages on UsageLimitExceeded
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(scoring): add DBOS workflow for manual community scoring
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: regenerate-openapi

feat(api): add POST /api/v2/community-servers/{id}/score endpoint
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/score_community_server_api_v2_community_servers_community_server_id_score_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/score_community_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/community_servers/__init__.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(cli): add opennotes score command for manual community scoring
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/tests/test_cli.py
  opennotes-cli/tests/test_score_command.py
  opennotes-server/src/community_servers/scoring_router.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
