Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(docker): reorder Discord Dockerfile for better layer caching
  opennotes-discord/Dockerfile
Due: none

feat(playground): scaffold SolidStart project with SSR
  opennotes-playground/.gitignore
  opennotes-playground/app.config.ts
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/.gitkeep
  opennotes-playground/src/entry-client.tsx
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/lib/.gitkeep
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/tsconfig.json
Due: none

feat(playground): add Supabase client and auth middleware
  opennotes-playground/app.config.ts
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/.gitkeep
  opennotes-playground/src/lib/.gitkeep
  opennotes-playground/src/lib/supabase-browser.ts
  opennotes-playground/src/lib/supabase-server.ts
  opennotes-playground/src/middleware/index.ts
Due: none

feat(playground): add Dockerfile and mise tasks
  mise.toml
  opennotes-playground/.dockerignore
  opennotes-playground/Dockerfile
  opennotes-playground/src/routes/health.ts
Due: none

feat(playground): add typed API client for opennotes-server
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
Due: none

feat(playground): add auth pages and auth state UI
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AuthStatus.tsx
  opennotes-playground/src/lib/auth-guard.ts
  opennotes-playground/src/routes/auth/callback.ts
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
Due: none

feat(task-1238.11): add is_public column to SimulationRun with admin toggle
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/publish_simulation_api_v2_simulations_simulation_id_publish_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/unpublish_simulation_api_v2_simulations_simulation_id_unpublish_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/03f349b8269f_task_1238_add_is_public_to_simulation_.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(playground): add simulation list page with SSR
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/Pagination.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/routes/simulations/index.tsx
Due: none

feat(playground): add simulation detail page with analysis
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

refactor(startup): remove check_database_schema — replaced by startup migration runner
  opennotes-server/src/startup_validation.py
  opennotes-server/tests/unit/test_startup_validation.py
Due: regenerate-openapi

feat(task-1227.01): add startup migration runner with advisory lock and rollback
  opennotes-server/src/monitoring/logging.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

feat(task-1238.12): add read-only scope to API keys for playground
  opennotes-cli/src/opennotes_cli/api_client/models/api_key_create.py
  opennotes-cli/src/opennotes_cli/api_client/models/api_key_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/f591db73272e_task_1238_add_scopes_column_to_api_keys.py
  opennotes-server/openapi.json
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/models.py
  opennotes-server/src/users/router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1227.02): integrate startup migrations into lifespan, remove entrypoint migration step
  opennotes-server/docker-entrypoint.sh
  opennotes-server/src/main.py
Due: regenerate-openapi

feat(task-1238): add Supabase docs, playground API key seed
  opennotes-playground/.env.example
  opennotes-playground/docs/supabase-setup.md
  opennotes-server/scripts/seed_api_keys.py
Due: none

fix(task-1238): correct ColumnElement type annotation for base_filter
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: regenerate-openapi

fix(task-1227): add subprocess timeout, fix returncode/multi-head parsing, clean up dead code
  docker-compose.yml
  opennotes-server/Dockerfile
  opennotes-server/scripts/run_migrations_with_lock.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix(playground): validate redirect URL in auth callback
  opennotes-playground/src/routes/auth/callback.ts
Due: none

fix(playground): remove insecure getSession export
  opennotes-playground/src/lib/supabase-server.ts
Due: none

fix(auth): fix privilege escalation and block service account login
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/users/crud.py
  opennotes-server/tests/unit/test_auth_security.py
Due: regenerate-openapi

fix: address review findings — Dockerfile, error handling, and medium issues
  opennotes-playground/Dockerfile
  opennotes-playground/src/app.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: schema-consistency, regenerate-openapi

fix(task-1227.07): add TimeoutExpired handler for rollback subprocess
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

test(auth): add tests for publish/unpublish and API key scope model
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/test_api_key_model.py
Due: none

chore(playground): regenerate TypeScript types from openapi.json
  opennotes-playground/src/lib/generated-types.ts
Due: none

fix(server): pass key_prefix to seed_playground_api_key
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/tests/integration/test_seed_playground_api_key.py
Due: none

fix(task-1240): handle DBOSWorkflowCancelledError in agent turn workflows
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(playground): add error state handling and logging to routes
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
Due: none

fix: address medium review findings (validate_scopes tests, safeRedirectPath tests, env trim, scope simplification)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/safe-redirect.ts
  opennotes-playground/src/routes/auth/callback.test.ts
  opennotes-playground/src/routes/auth/callback.ts
  opennotes-server/src/auth/dependencies.py
  opennotes-server/tests/unit/test_validate_scopes.py
Due: regenerate-openapi

fix(task-1238.26): stop logging API key values in seed script
  opennotes-server/scripts/seed_api_keys.py
Due: none

fix(task-1238.26): break CodeQL sensitive data flow in seed script
  opennotes-server/scripts/seed_api_keys.py
Due: none

feat: run Alembic migrations on server startup with graceful failure handling (#239)
  docker-compose.yml
  opennotes-server/Dockerfile
  opennotes-server/docker-entrypoint.sh
  opennotes-server/scripts/run_migrations_with_lock.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/src/startup_validation.py
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_startup_migrations.py
  opennotes-server/tests/unit/test_startup_validation.py
Due: regenerate-openapi

fix(task-1240): handle DBOSWorkflowCancelledError in agent turn workflows (#240)
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(task-1247): fix asyncpg SQL syntax error in seed script causing crash loop
  opennotes-server/docker-entrypoint.sh
  opennotes-server/scripts/seed_api_keys.py
Due: none

feat(playground): apply review fixes and publishable key migration
  opennotes-playground/.env.example
  opennotes-playground/docs/supabase-setup.md
  opennotes-playground/src/lib/supabase-browser.ts
  opennotes-playground/src/lib/supabase-server.ts
  opennotes-server/docker-entrypoint.sh
  opennotes-server/scripts/seed_api_keys.py
Due: none

feat(playground): configure local development on port 3100
  .env.yaml.example
  mise.toml
  opennotes-playground/app.config.ts
Due: none

fix(task-1238.27): set PORT env var for playground dev server
  mise.toml
Due: none

feat(task-1246): add connection retry for transient DNS/connection errors
  opennotes-server/src/common/connection_retry.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/test_connection_retry.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(task-1246): use stdlib logging to avoid circular import chain
  opennotes-server/src/common/connection_retry.py
Due: regenerate-openapi

ci(task-1238.29): fix pre-commit hooks for playground type generation
  .env.ci.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore(cli): update baalbek to v0.3.0
  opennotes-cli/uv.lock
Due: none
