Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

refactor(task-1137): complete VisionService dead code removal
  opennotes-server/src/services/vision_service.py
Due: regenerate-openapi

test(task-1137): update VisionService fallback tests for new architecture
  opennotes-server/tests/unit/test_global_api_key_fallback.py
Due: none

test(task-1137): update relevance check tests for provider inference
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: none

test(task-1137.06): update relevance check tests for provider inference
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
Due: none

fix(llm): preserve model prefix for LiteLLM routing
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/router.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: regenerate-openapi

feat(task-1137.02): add VERTEXAI_PROJECT startup validation
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: regenerate-openapi

feat(task-1137.03): log warning on provider/model prefix conflict
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
Due: regenerate-openapi

refactor(task-1137.05): clean up stale docstrings and extract ADC constant
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/services/vision_service.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
Due: regenerate-openapi

test(task-1137.07): add Vertex AI edge case test coverage
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/test_config.py
Due: none

refactor(task-1137.04): deduplicate default model mappings to constants.py
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/router.py
Due: regenerate-openapi

feat(task-1137): add Gemini model support via Vertex AI (#187)
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/providers/base.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/router.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/services/vision_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_global_api_key_fallback.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
  opennotes-server/tests/unit/test_parse_provider_model.py
Due: regenerate-openapi

feat(discord): add OTEL MeterProvider for metrics export
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
  opennotes-discord/src/instrumentation.cjs
Due: none

test(monitoring): restore metric verification assertions in OTEL migration tests
  opennotes-server/tests/integration/test_monitoring.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
  opennotes-server/tests/unit/test_instance_metadata.py
Due: none

fix(monitoring): restore histogram buckets, isolate meter provider, configurable insecure
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

feat(monitoring): replace prometheus_client with OTEL SDK metrics export
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/cache/monitoring.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/health.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/audit.py
  opennotes-server/src/middleware/metrics_middleware.py
  opennotes-server/src/middleware/request_size.py
  opennotes-server/src/middleware/timeout.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/monitoring/middleware.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring/bayesian_average_scorer.py
  opennotes-server/src/search/search_analytics.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/tasks/metrics_middleware.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/integration/test_monitoring.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
  opennotes-server/tests/unit/test_events.py
  opennotes-server/tests/unit/test_instance_metadata.py
  opennotes-server/tests/unit/test_metrics_openapi.py
  opennotes-server/tests/unit/test_taskiq_metrics_middleware.py
  opennotes-server/uv.lock
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(monitoring): remove dead code from prometheus-to-OTEL migration
  opennotes-server/src/cache/monitoring.py
  opennotes-server/src/config.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/metrics_middleware.py
  opennotes-server/tests/unit/test_taskiq_metrics_middleware.py
Due: regenerate-openapi

feat(community-servers): add POST endpoint for creating community servers
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
  opennotes-server/tests/integration/test_create_community_server_endpoint.py
Due: regenerate-openapi

feat(flashpoints): add detector_type metadata to serialized JSON
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
Due: regenerate-openapi

feat(flashpoints): validate GEPA state predictor names on resume
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/tests/unit/bulk_content_scan/test_gepa_state_validation.py
Due: none

refactor(task-1152): harden POST community-servers endpoint and extract shared auth
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/integration/test_create_community_server_endpoint.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(monitoring): resolve basedpyright reportArgumentType in otel shutdown
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

fix(ci): resolve basedpyright type error and enable XML coverage report
  opennotes-server/pyproject.toml
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

feat(community-servers): add POST endpoint for creating community servers (#190)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/integration/test_create_community_server_endpoint.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(flashpoints): detector type metadata & GEPA state validation (#191)
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_gepa_state_validation.py
Due: regenerate-openapi

feat(task-1144): add scheduled cleanup for stale token holds
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_cleanup.py
Due: regenerate-openapi

feat(token-bucket): implement core acquire/release operations
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

feat(token-bucket): integrate token-gated concurrency into rechunk workflows
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_rechunk.py
Due: regenerate-openapi

feat(token-bucket): add pool initialization and workflow weight config
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
Due: regenerate-openapi

feat(token-bucket): add TokenGate helper with blocking acquire
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
Due: regenerate-openapi

feat(token-bucket): add TokenPool and TokenHold models with migration
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/c83119a1f5aa_task_1144_add_token_bucket_tables.py
  opennotes-server/src/dbos_workflows/token_bucket/__init__.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
Due: schema-consistency, regenerate-openapi

feat(token-bucket): add admin endpoints for pool status and holds
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/src/dbos_workflows/token_bucket/schemas.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
Due: schema-consistency, regenerate-openapi

feat(token-bucket): integrate token-gated concurrency into all DBOS queues
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1144): add TokenGate mocks to existing DBOS workflow tests
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

feat(task-1145): default monitored channel dataset_tags to all datasets
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/task_1145_default_dataset_tags_to_empty.py
  opennotes-server/src/fact_checking/monitored_channel_models.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(monitoring): resolve basedpyright type error in otel shutdown
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

feat(task-1145): default dataset_tags to all datasets (#192)
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/task_1145_default_dataset_tags_to_empty.py
  opennotes-server/src/fact_checking/monitored_channel_models.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1144): add token-bucket concurrency limiter for DBOS queues (#189)
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/c83119a1f5aa_task_1144_add_token_bucket_tables.py
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/dbos_workflows/token_bucket/__init__.py
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/src/dbos_workflows/token_bucket/schemas.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_cleanup.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_rechunk.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

fix(alembic): merge migration heads c83119a1f5aa and task1145001
  opennotes-server/alembic/versions/96eb91160c67_merge_heads_c83119a1f5aa_and_task1145001.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
