Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(playground): add global page size selector defaulting to 10
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): stack note badges below text on mobile viewports
  opennotes-playground/src/components/NoteDetails.tsx
Due: none

feat(playground): add sort/filter query params to detailed analysis endpoint
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/integration/test_simulation_detailed_analysis.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(playground): paginate per-agent ratings and fix overall section height
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): add sortable table headers to per-agent, agent profiles, and per-note sections
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/ui/sortable-header.tsx
Due: none

feat(playground): add note filter and has-score sort to per-note breakdown
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/ui/note-filter.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(task-1337.08): validate sort_by param with Literal type
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get_sort_by.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat: optimize scoring data pipeline and remove real-time scoring from routers (#284)
  opennotes-server/pyproject.toml
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/data_provider.py
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/heavy/test_mf_scorer_integration.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
  opennotes-server/tests/integration/test_rating_status_threshold.py
  opennotes-server/tests/integration/test_rating_transaction_rollback.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_data_provider.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms_benchmark.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_protocol.py
  opennotes-server/tests/unit/notes/test_remove_realtime_scoring.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-1335): add ZWS wrap hints to CLI IDs and remove truncation
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_huuid_integration.py
  opennotes-cli/tests/test_score_command.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

feat(playground): pagination, sorting, filtering, and mobile layout (TASK-1337) (#294)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get_sort_by.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/ui/note-filter.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/components/ui/sortable-header.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/integration/test_simulation_detailed_analysis.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): bump PydanticAI agent retries to 3
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(simulation): make scoring failures non-fatal in orchestrator loop
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(scoring): sanitize NaN/Inf floats in scoring factor extraction
  opennotes-server/src/notes/scoring/snapshot_persistence.py
  opennotes-server/tests/unit/notes/scoring/test_sanitize_nan.py
Due: regenerate-openapi

refactor(simulation): move SCORING_PERSISTENCE_FAILURE_MESSAGE to its only consumer
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(scoring): handle None global_intercept across schemas and persistence
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/notes/scoring/snapshot_persistence.py
  opennotes-server/tests/unit/notes/scoring/test_snapshot_persistence_nullability.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(scoring): sanitize NaN/Inf in get_last_scoring_factors production path
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(scoring): prevent sys.modules pollution in sanitize test
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
Due: none

fix: harden simulation against scoring and validation failures (#293)
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/notes/scoring/snapshot_persistence.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
  opennotes-server/tests/unit/notes/scoring/test_sanitize_nan.py
  opennotes-server/tests/unit/notes/scoring/test_snapshot_persistence_nullability.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(scoring): set timestampMillisOfLatestNonNMRStatus to created_at + 1 week
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/note_status_history_builder.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
Due: regenerate-openapi

feat(simulation): add short_description column to sim_agents table
  opennotes-server/alembic/versions/0dd89d1cf4df_task_1345_add_short_description_to_sim_.py
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

feat(cli): add progress stats to simulation status command
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

chore(simulation): add SQL backfill for sim agent short_descriptions
  opennotes-server/scripts/backfill_short_descriptions.sql
Due: none

feat(simulation): add short_description to Pydantic schemas and JSON:API router
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix: improve CLI progress display and backfill script accuracy
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-server/scripts/backfill_short_descriptions.sql
Due: none

feat(playground): display short_description in agent behaviors table
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_create_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_update_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

feat(simulation): thread short_description through analysis and scoring schemas
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
Due: none

feat(cli): add short_description to sim-agent and analyze-mf commands
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
Due: none

feat(simulation): complete short_description threading in analysis and scoring
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
Due: schema-consistency, regenerate-openapi

feat(playground): add Skeleton and SectionSkeleton UI components
  opennotes-playground/src/components/ui/skeleton.tsx
Due: none

feat(playground): extract SECTIONS constant and add InlineTOC component
  opennotes-playground/src/components/InlineTOC.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/sections.ts
Due: none

feat(playground): lazy-load simulation sections with Suspense and Skeleton fallbacks
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): add mobile sidebar hamburger drawer with Kobalte Dialog
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): use em-based sizing for Badge to scale with parent context
  opennotes-playground/src/components/ui/badge.tsx
Due: none

feat(task-1345): add short_description field to SimAgent model (#296)
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rater_factor_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_create_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_agent_update_attributes.py
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/alembic/versions/0dd89d1cf4df_task_1345_add_short_description_to_sim_.py
  opennotes-server/openapi.json
  opennotes-server/scripts/backfill_short_descriptions.sql
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/notes/scoring/schemas.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1338): use future timestamp for non-NMR note status history
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/note_status_history_builder.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
  opennotes-server/tests/unit/notes/scoring/test_note_status_history_builder.py
Due: regenerate-openapi

fix(task-1338): guard against inf intercepts in _process_model_result
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
Due: regenerate-openapi

fix(cli): update test fixtures for agent_profile_id schema rename
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

feat(simulation): count active agents by profile in progress endpoint
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_router_profile_aggregation.py
Due: regenerate-openapi

feat(simulation): add profile aggregation mapping utilities
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/unit/simulation/test_analysis_aggregation.py
Due: regenerate-openapi

feat(scoring): remap rater_id to agent_profile_id before MF scoring
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_prescoring_remap.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
