Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(playground): add stable DOM IDs to notes, agents, and request groups
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/NoteDetails.tsx
Due: none

feat(playground): middleware stores auth user and read-only client on event.locals
  opennotes-playground/src/middleware/index.test.ts
  opennotes-playground/src/middleware/index.ts
Due: none

feat(playground): add markdown rendering and typography dependencies
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/app.css
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/lib/markdown.test.ts
  opennotes-playground/src/lib/markdown.ts
Due: none

feat(playground): add blog data layer with Supabase query and markdown rendering
  opennotes-playground/src/lib/blog.server.test.ts
  opennotes-playground/src/lib/blog.server.ts
Due: none

refactor(playground): auth helpers read from event.locals instead of creating clients
  opennotes-playground/src/lib/auth-guard.test.ts
  opennotes-playground/src/lib/auth-guard.ts
  opennotes-playground/src/lib/supabase-server.test.ts
  opennotes-playground/src/lib/supabase-server.ts
Due: none

feat(playground): add BlogPost and BlogFeed components
  opennotes-playground/src/components/AuthStatus.tsx
  opennotes-playground/src/components/BlogFeed.tsx
  opennotes-playground/src/components/BlogPost.tsx
  opennotes-playground/src/routes/api/blog.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): two-column landing page with blog feed and font toggle
  opennotes-playground/src/app.css
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/FontToggle.tsx
  opennotes-playground/src/routes/index.tsx
Due: none

feat(playground): fragment-aware pagination and scroll-to-highlight for deep links
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/lib/anchor-scroll.test.ts
  opennotes-playground/src/lib/anchor-scroll.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(simulation): add channel messages JSON:API endpoint with cursor pagination and tests
  opennotes-cli/src/opennotes_cli/api_client/api/sim_channel_messages_jsonapi/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/sim_channel_messages_jsonapi/list_channel_messages_api_v2_simulations_simulation_id_channel_messages_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_meta.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_resource.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(playground): add channel messages API client and server query wrapper
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): add deterministic emoji avatar utility for sim agents
  opennotes-playground/src/lib/agent-avatar.test.ts
  opennotes-playground/src/lib/agent-avatar.ts
Due: none

feat(playground): add SIM channel message feed component
  opennotes-playground/src/components/SimChannelMessages.tsx
Due: none

feat(playground): integrate SIM channel section into simulation detail page
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): route note/request anchors through parseFragment with page scanning
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): address review findings across tasks 1273, 1365, 1366
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/FontToggle.tsx
  opennotes-playground/src/lib/markdown.test.ts
  opennotes-playground/src/lib/markdown.ts
  opennotes-playground/src/middleware/index.ts
  opennotes-playground/src/routes/api/blog.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(task-1367): address review findings for auth guards and error state
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-server/src/simulation/sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
Due: regenerate-openapi

fix(playground): move createReadOnlyClient to finally block in middleware
  opennotes-playground/src/middleware/index.test.ts
  opennotes-playground/src/middleware/index.ts
Due: none

fix(task-1367): add HTTPException re-raise and positive scoped key test
  opennotes-server/src/simulation/sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
Due: regenerate-openapi

feat(task-1364.01.05): update simulation agent tools and workflows for UUID request id
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_agent_message_history_safety.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
  opennotes-server/tests/unit/simulation/test_request_variance.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): add list_requests tool for agent request discovery
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(simulation): persist agent request context across turns
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: none

fix(tests): update test fixtures for UUID request_id migration
  opennotes-server/tests/integration/simulation/test_scoring_integration_db.py
  opennotes-server/tests/integration/test_authorization_enforcement.py
  opennotes-server/tests/integration/test_force_publish_query_optimization.py
  opennotes-server/tests/integration/test_request_status_on_publish.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

feat(server): update JOINs and services for UUID request_id FK
  opennotes-cli/src/opennotes_cli/api_client/api/notes_jsonapi/list_notes_jsonapi_api_v2_notes_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_create_attributes.py
  opennotes-playground/package-lock.json
  opennotes-server/alembic/versions/b9a4ff797dca_add_seen_request_ids_to_sim_agent_memory.py
  opennotes-server/openapi.json
  opennotes-server/src/events/publisher.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
Due: schema-consistency, regenerate-openapi

feat(db): migrate Note request_id FK from String to UUID
  opennotes-server/alembic/versions/48fac3019407_migrate_note_request_id_fk_from_string_.py
  opennotes-server/openapi.json
  opennotes-server/src/events/schemas.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

fix(types): update _get_image_description param type from str to UUID
  opennotes-server/src/services/ai_note_writer.py
Due: regenerate-openapi

feat(simulation): add message dedup on shared channel
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

feat(server): update JOINs and services for UUID request_id FK
  opennotes-cli/src/opennotes_cli/api_client/api/requests_jsonapi/generate_ai_note_jsonapi_api_v2_requests_request_id_ai_notes_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/requests_jsonapi/get_request_jsonapi_api_v2_requests_request_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/requests_jsonapi/update_request_jsonapi_api_v2_requests_request_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_jsonapi_attributes.py
  opennotes-server/openapi.json
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/tests/integration/test_requests_jsonapi.py
Due: regenerate-openapi

fix(tests): use UUID id for request API path params in integration tests
  opennotes-server/tests/integration/test_ai_note_writer.py
  opennotes-server/tests/integration/test_notes_router.py
  opennotes-server/tests/integration/test_requests_serialization.py
Due: none

feat(task-1364.01.06): use UUID resource id for request API path params
  opennotes-discord/src/services/DiscordFormatter.ts
Due: eslint-discord, typecheck-discord

fix(tests): use UUID id for request URL paths in integration tests
  opennotes-server/tests/integration/test_notes_router.py
Due: none

fix(dbos): convert request_id str to UUID for Note.request_id FK
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
Due: regenerate-openapi

fix(playground): catch blog fetch errors and fix hasMore default
  opennotes-playground/src/components/BlogFeed.tsx
Due: none

fix(llm): exclude BadRequestError from retry predicate and fix test helper
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(sim): fix pagination off-by-one, null error state, and bg engine disposal
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-server/src/database.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
Due: regenerate-openapi

fix(sim): fix rate limit off-by-one in channel message posting
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

feat(sim): rotate request-discovery context by evicting acted-on requests
  opennotes-server/alembic/versions/3b17fbc895f3_add_acted_on_request_ids_to_sim_agent_.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

fix: sanitize embedding input and add BadRequestError diagnostic logging (#311)
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

feat(playground): auth consolidation, blog feed, deep-linkable anchors (#312)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/app.css
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/AuthStatus.tsx
  opennotes-playground/src/components/BlogFeed.tsx
  opennotes-playground/src/components/BlogPost.tsx
  opennotes-playground/src/components/FontToggle.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/env.d.ts
  opennotes-playground/src/lib/anchor-scroll.test.ts
  opennotes-playground/src/lib/anchor-scroll.ts
  opennotes-playground/src/lib/auth-guard.test.ts
  opennotes-playground/src/lib/auth-guard.ts
  opennotes-playground/src/lib/blog.server.test.ts
  opennotes-playground/src/lib/blog.server.ts
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/lib/markdown.test.ts
  opennotes-playground/src/lib/markdown.ts
  opennotes-playground/src/lib/supabase-server.test.ts
  opennotes-playground/src/lib/supabase-server.ts
  opennotes-playground/src/middleware/index.test.ts
  opennotes-playground/src/middleware/index.ts
  opennotes-playground/src/routes/api/blog.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/supabase/blog_posts.sql
Due: none

feat(task-1367): build chat-style SIM channel message feed (#313)
  opennotes-cli/src/opennotes_cli/api_client/api/sim_channel_messages_jsonapi/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/sim_channel_messages_jsonapi/list_channel_messages_api_v2_simulations_simulation_id_channel_messages_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_meta.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_list_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/sim_channel_message_resource.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/lib/agent-avatar.test.ts
  opennotes-playground/src/lib/agent-avatar.ts
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/openapi.json
  opennotes-server/src/database.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
