Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

docs(discourse): comprehensive E2E test plan [task-1400.04] (#337)
  opennotes-discourse/docs/TEST-PLAN.md
Due: none

feat(server): add provider_scope column and DISCOURSE AuthProvider
  opennotes-server/alembic/versions/b58738457bfb_add_provider_scope_to_user_identity.py
  opennotes-server/src/users/profile_models.py
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/tests/unit/test_provider_scope.py
Due: schema-consistency, regenerate-openapi

refactor(server): replace Discord middleware with PlatformContextMiddleware
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/auth/discord_claims.py
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/discord_context.py
  opennotes-server/src/middleware/internal_auth.py
  opennotes-server/src/middleware/platform_context.py
  opennotes-server/src/middleware/user_context.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/integration/test_header_spoofing_blocked.py
  opennotes-server/tests/unit/middleware/test_discord_context.py
  opennotes-server/tests/unit/middleware/test_platform_context.py
  opennotes-server/tests/unit/test_discord_claims.py
  opennotes-server/tests/unit/test_internal_auth_middleware.py
  opennotes-server/tests/unit/test_platform_claims.py
  opennotes-server/tests/unit/test_verify_community_membership_by_uuid.py
Due: regenerate-openapi

feat(server): generalize identity CRUD and profile lookup for multi-platform
  opennotes-server/openapi.json
  opennotes-server/src/users/profile_crud.py
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/tests/integration/test_profile_lookup_discourse.py
  opennotes-server/tests/unit/test_platform_identity_input.py
Due: schema-consistency, regenerate-openapi

refactor(discord): switch to X-Platform-* headers
  opennotes-discord/src/lib/api-middleware.ts
  opennotes-discord/src/utils/discord-claims.ts
  opennotes-discord/src/utils/platform-claims.ts
  opennotes-discord/tests/api-client-jwt.test.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/lib/api-middleware.test.ts
  opennotes-discord/tests/platform-claims.test.ts
Due: eslint-discord, typecheck-discord

refactor(server): update NATS headers and integration tests for platform identity
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/src/config.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/src/middleware/rate_limiting.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/events/test_subscriber_event_context.py
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
  opennotes-server/tests/unit/monitoring/test_logging_discord_context.py
  opennotes-server/tests/unit/monitoring/test_otel_baggage_keys.py
  opennotes-server/tests/unit/test_rate_limiting.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(server): resolve CI failures — update has_discord_manage_server refs and PlatformIdentityInput defaults
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
Due: none

fix(server): use explicit default= in PlatformIdentityInput Field() for basedpyright
  opennotes-server/src/users/profile_schemas.py
Due: schema-consistency, regenerate-openapi

fix(server,discord): address review findings — rate limit header, scoped identity creation, scope-safe lookup
  opennotes-discord/src/lib/api-middleware.ts
  opennotes-server/src/users/profile_crud.py
  opennotes-server/src/users/profile_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(server): harden platform claims and use concurrent index rebuild
  opennotes-server/alembic/versions/b58738457bfb_add_provider_scope_to_user_identity.py
  opennotes-server/src/auth/platform_claims.py
Due: regenerate-openapi

fix(server): resolve remaining CI failures — basedpyright defaults, test kwargs, identity linking
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/tests/unit/middleware/test_platform_context.py
  opennotes-server/tests/unit/test_platform_claims.py
Due: schema-consistency, regenerate-openapi

feat(middleware): add StartupGateMiddleware for background init [task-1274.04]
  opennotes-server/src/middleware/startup_gate.py
  opennotes-server/tests/unit/middleware/test_startup_gate.py
Due: regenerate-openapi

feat(startup): move init chain to background task for probe compatibility [task-1274.05]
  opennotes-server/src/main.py
  opennotes-server/tests/unit/test_lifespan_background_init.py
Due: regenerate-openapi

fix(startup): address Codex review findings for background init [task-1274]
  opennotes-server/src/main.py
  opennotes-server/src/middleware/startup_gate.py
  opennotes-server/tests/unit/middleware/test_startup_gate.py
  opennotes-server/tests/unit/test_lifespan_background_init.py
Due: regenerate-openapi

fix(middleware): allow all /health routes through during startup [task-1274]
  opennotes-cli/src/opennotes_cli/api_client/api/embeddings_jsonapi/similarity_search_jsonapi_api_v2_similarity_searches_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/hybrid_searches_jsonapi/hybrid_search_jsonapi_api_v2_hybrid_searches_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/llm_config/get_usage_stats_api_v1_community_servers_community_server_id_llm_config_provider_usage_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/profiles_jsonapi/lookup_user_profile_jsonapi_api_v2_user_profiles_lookup_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_status_jsonapi_api_v2_scoring_status_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/auth_provider.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_daily_requests.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_daily_spend.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_daily_tokens.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_monthly_requests.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_monthly_spend.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_usage_stats_response_monthly_tokens.py
  opennotes-cli/src/opennotes_cli/api_client/models/orchestrator_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/orchestrator_create_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/orchestrator_update_attributes.py
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/middleware/startup_gate.py
  opennotes-server/tests/unit/middleware/test_startup_gate.py
Due: regenerate-openapi

docs: defer note composition to v2 and add wireframes [task-1400]
  opennotes-discourse/docs/MVP-SPEC.md
  opennotes-playground/docs/WIREFRAME-blog-feed-landing.md
  opennotes-playground/src/components/WIREFRAME-sim-channel-messages.md
Due: none

feat(moderation-actions): add ModerationAction model and Alembic migration
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/task1400_06_01_create_moderation_actions.py
  opennotes-server/src/moderation_actions/__init__.py
  opennotes-server/src/moderation_actions/models.py
  opennotes-server/tests/unit/test_moderation_action_model.py
Due: schema-consistency, regenerate-openapi

feat(moderation-actions): add Pydantic schemas, CRUD, and state machine validation
  opennotes-server/src/moderation_actions/crud.py
  opennotes-server/src/moderation_actions/schemas.py
  opennotes-server/tests/unit/test_moderation_action_schemas.py
  opennotes-server/tests/unit/test_moderation_action_state_machine.py
Due: schema-consistency, regenerate-openapi

feat(events): add 6 moderation_action.* event types and publisher methods
  opennotes-server/tests/unit/test_moderation_action_events.py
Due: none

feat(events): add 6 moderation_action.* event types and publisher methods
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/schemas.py
Due: schema-consistency, regenerate-openapi

feat(task-1400.06.07): make monitored-channels and community-config endpoints platform-agnostic
  opennotes-server/openapi.json
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/webhooks/router.py
  opennotes-server/tests/integration/test_platform_agnostic_endpoints.py
Due: regenerate-openapi

feat(moderation-actions): add JSON:API endpoints with event emission
  opennotes-cli/src/opennotes_cli/api_client/api/moderation_actions_jsonapi/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/moderation_actions_jsonapi/create_moderation_action_endpoint_api_v2_moderation_actions_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/moderation_actions_jsonapi/get_moderation_action_endpoint_api_v2_moderation_actions_action_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/moderation_actions_jsonapi/list_moderation_actions_endpoint_api_v2_moderation_actions_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/moderation_actions_jsonapi/patch_moderation_action_endpoint_api_v2_moderation_actions_action_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/action_state.py
  opennotes-cli/src/opennotes_cli/api_client/models/action_tier.py
  opennotes-cli/src/opennotes_cli/api_client/models/action_type.py
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create.py
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create_classifier_evidence.py
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_update.py
  opennotes-cli/src/opennotes_cli/api_client/models/review_group.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/moderation_actions/router.py
  opennotes-server/tests/integration/test_moderation_actions_jsonapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(notes): add dismiss endpoint for staff disagree action
  opennotes-cli/src/opennotes_cli/api_client/api/notes_jsonapi/dismiss_note_jsonapi_api_v2_notes_note_id_dismiss_post.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/integration/test_notes_dismiss.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(webhooks): add outbound webhook delivery service with HMAC signing and retry
  opennotes-cli/src/opennotes_cli/api_client/models/webhook_config_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/webhook_config_secure.py
  opennotes-cli/src/opennotes_cli/api_client/models/webhook_create_request.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/alembic/versions/task1400_06_06_create_webhook_deliveries_table.py
  opennotes-server/openapi.json
  opennotes-server/src/events/subscriber.py
  opennotes-server/src/webhooks/delivery.py
  opennotes-server/src/webhooks/delivery_models.py
  opennotes-server/src/webhooks/models.py
  opennotes-server/src/webhooks/types.py
  opennotes-server/tests/integration/test_outbound_webhook_delivery.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(server): resolve CI failures for moderation actions PR
  opennotes-server/alembic/env.py
  opennotes-server/src/events/schemas.py
  opennotes-server/src/moderation_actions/router.py
  opennotes-server/src/webhooks/delivery_models.py
Due: schema-consistency, regenerate-openapi

fix(tests): bypass StartupGateMiddleware in unit tests
  opennotes-server/tests/unit/conftest.py
Due: none

fix(tests): bypass StartupGateMiddleware in integration tests
  opennotes-server/tests/integration/conftest.py
Due: none

fix(tests): add auth overrides to webhook integration tests
  opennotes-server/tests/integration/test_webhook_secret_exposure.py
  opennotes-server/tests/integration/test_webhooks.py
Due: none

fix(tests): monkey-patch StartupGateMiddleware dispatch instead of setting state
  opennotes-server/tests/integration/conftest.py
  opennotes-server/tests/unit/conftest.py
Due: none

fix(tests): replace lifespan with no-op in unit tests to prevent hangs
  opennotes-server/tests/unit/conftest.py
Due: none

feat(task-1397): update nav labels and remove Write Note button
  opennotes-discord/src/lib/navigation-components.ts
  opennotes-discord/tests/commands/about-opennotes.test.ts
  opennotes-discord/tests/commands/clear.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/list-notes-v2.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/commands/note-score.test.ts
  opennotes-discord/tests/commands/status-bot.test.ts
  opennotes-discord/tests/lib/navigation-components.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1397): update nav labels and remove Write Note button (#341)
  opennotes-discord/src/lib/navigation-components.ts
  opennotes-discord/tests/commands/about-opennotes.test.ts
  opennotes-discord/tests/commands/clear.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/list-notes-v2.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/commands/note-score.test.ts
  opennotes-discord/tests/commands/status-bot.test.ts
  opennotes-discord/tests/lib/navigation-components.test.ts
Due: eslint-discord, typecheck-discord

fix(scoring): lazy-import communitynotes deps and bypass startup gate in unit tests
  .github/workflows/ci.yml
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/tests/unit/conftest.py
  opennotes-server/tests/unit/test_lifespan_background_init.py
  opennotes-server/tests/unit/test_scoring_history_timestamp_validation.py
  opennotes-server/tests/unit/test_shutdown_order.py
Due: regenerate-openapi

fix(tests): remove duplicate bypass_startup_gate from rebase conflict
  opennotes-server/tests/unit/conftest.py
Due: none

fix(events): use Literal types for moderation event discriminators
  opennotes-server/src/events/schemas.py
Due: schema-consistency, regenerate-openapi

fix(events): add pyright ignore for Literal type overrides
  opennotes-server/src/events/schemas.py
Due: schema-consistency, regenerate-openapi

fix: lazy-import scoring deps and bypass startup gate in unit tests (#343)
  .github/workflows/ci.yml
  opennotes-server/src/events/schemas.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/tests/unit/conftest.py
  opennotes-server/tests/unit/test_lifespan_background_init.py
  opennotes-server/tests/unit/test_scoring_history_timestamp_validation.py
  opennotes-server/tests/unit/test_shutdown_order.py
Due: schema-consistency, regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
