Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(task-1263): harden auth token validation across all paths
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/auth/profile_dependencies.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_token_invalidation_security.py
  opennotes-server/tests/unit/test_users_crud_simple.py
Due: regenerate-openapi

docs(task-1266): update stale docstrings after run_sync refactor
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/database.py
Due: regenerate-openapi

feat(task-1250): add huuid support to opennotes-cli (#245)
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/batch.py
  opennotes-cli/src/opennotes_cli/commands/candidates.py
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/playground.py
  opennotes-cli/src/opennotes_cli/commands/rechunk.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/src/opennotes_cli/polling.py
  opennotes-cli/tests/test_formatting.py
  opennotes-cli/tests/test_huuid_integration.py
  opennotes-cli/tests/test_score_command.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-cli/uv.lock
Due: none

feat(task-1262.02): add Cloud Run identity token to playground API client (#253)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/lib/api-client.server.test.ts
  opennotes-playground/src/lib/api-client.server.ts
Due: none

fix(auth): close tokens_valid_after enforcement gaps across auth paths (#254)
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/auth/profile_dependencies.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_token_invalidation_security.py
  opennotes-server/tests/unit/test_users_crud_simple.py
Due: regenerate-openapi

fix(task-1266): prevent MissingGreenlet on DBOS worker pool dispose (#255)
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/database.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

feat(llm): add retry to LLMService.complete() and close LiteLLM sessions on shutdown (#256)
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider_empty_response.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

feat(playground): add Tailwind CSS v4 + shadcn-solid foundation
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/postcss.config.mjs
  opennotes-playground/src/app.css
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/ModeToggle.tsx
  opennotes-playground/src/components/ui/button.tsx
  opennotes-playground/src/lib/cn.ts
  opennotes-playground/src/lib/cva.ts
Due: none

feat(task-1269.03): expose message_metadata and personality in detailed analysis
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data_message_metadata_type_0.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(simulation): populate agent_count and note_count in run metrics
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: regenerate-openapi

feat(playground): restyle with Tailwind + shadcn-solid, humanize status labels
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/AuthStatus.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/Pagination.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
Due: none

feat(playground): show agent personas in behavior table
  opennotes-playground/src/components/AgentProfiles.tsx
Due: none

feat(playground): add simulation mechanics section, tier explanations, helpfulness tooltips
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/lib/scoring-tiers.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): group notes by request with sort toggle and source URLs
  opennotes-playground/src/components/NoteDetails.tsx
Due: none

feat(playground): gate notes and agents lists behind auth with login prompt
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(test): update snapshot persistence test for new count metrics queries
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
Due: none

fix(playground): accessibility improvements for tooltips and aria-labels
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
Due: none

fix(database): replace singleton engine with per-loop engine dictionary
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
Due: regenerate-openapi

fix(playground): auth cache invalidation and returnTo URL
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

test(database): add integration tests for per-loop engine dictionary
  opennotes-server/tests/unit/test_database_per_loop.py
Due: none

fix(scoring): add infinite loop guards in unscored pass
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: regenerate-openapi

fix(scoring): rounding, deprecated asyncio, sequential queries
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

fix(playground): null guards for agent_behaviors, helpfulness_score, message_metadata
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(task-1269): re-review fixes for asyncio, null guards, auth, a11y
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/lib/scoring-tiers.ts
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/src/simulation/analysis.py
Due: regenerate-openapi

feat(playground): simulation detail page styling, UX, and data enhancements (#257)
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data_message_metadata_type_0.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/postcss.config.mjs
  opennotes-playground/src/app.css
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/AuthStatus.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/ModeToggle.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/Pagination.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/button.tsx
  opennotes-playground/src/lib/cn.ts
  opennotes-playground/src/lib/cva.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/lib/scoring-tiers.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(server): use direct DB connection for migrations with non-blocking advisory lock
  opennotes-server/src/config.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix(tests): replace dead database attribute refs with _reset_database_for_test_loop
  opennotes-server/tests/conftest.py
Due: none

fix(database): dispose all loop engines in close_db and fix MagicMock is_closed bug
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
Due: regenerate-openapi

test(database): add __getattr__ compat tests and fix integration teardown
  opennotes-server/tests/integration/conftest.py
  opennotes-server/tests/unit/test_database.py
Due: none

fix(database): per-loop engine dictionary for DBOS worker event loops (#258)
  opennotes-server/src/database.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/integration/conftest.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/test_database_per_loop.py
Due: regenerate-openapi

fix(database): add SUPAVISOR_CONNECT_ARGS constant with prepared_statement_name_func
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(database): narrow SUPAVISOR_CONNECT_ARGS type annotation to dict[str, object]
  opennotes-server/src/database.py
Due: regenerate-openapi

refactor(task-1275.02): use shared SUPAVISOR_CONNECT_ARGS in alembic and all scripts
  opennotes-server/alembic/env.py
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/scripts/generate_embeddings.py
  opennotes-server/scripts/generate_test_data.py
  opennotes-server/scripts/load_snopes_dataset.py
  opennotes-server/scripts/migrate_message_content_to_archive.py
  opennotes-server/scripts/migrate_users_to_profiles.py
  opennotes-server/scripts/validate_migration.py
  opennotes-server/scripts/validate_scoring.py
Due: none

feat(task-1272.05): render inline histograms in agent breakdown table
  opennotes-playground/src/components/AgentProfiles.tsx
Due: none

fix(task-1272.04): preserve scoring metrics in orchestrator update_metrics_step
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1272.01): load IBM Plex Sans from Google Fonts
  opennotes-playground/src/entry-server.tsx
Due: none

fix(task-1272.03): show article titles in note groups, de-bold summary text
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/notes/backfill_titles.py
  opennotes-server/src/shared/content_extraction.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow_steps.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
  opennotes-server/tests/unit/shared/test_content_extraction.py
Due: regenerate-openapi

feat(task-1272.02): make simulations list the homepage with logo
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/Pagination.tsx
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
Due: none

fix(task-1275.03,1275.04): make SUPAVISOR_CONNECT_ARGS immutable and fix test dispose ordering
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(task-1276.01): extract get_direct_sync_url() and point DBOS at direct connection
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
