Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(simulation): fix retry history and add soft guard for pass_turn with notes available
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
Due: regenerate-openapi

fix(task-1217): fix last_messages XLSX export and increase to 30 messages (#230)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
Due: regenerate-openapi

feat(task-1216): reset max_retries_exceeded agents on simulation restart (#229)
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/simulation/test_restart.py
  opennotes-server/tests/unit/simulation/test_restart.py
Due: regenerate-openapi

chore(cli): update baalbek to v0.2.10
  opennotes-cli/uv.lock
Due: none

fix(simulation): show note summaries when requests=0 and extend soft guard
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_queue_summary.py
Due: regenerate-openapi

feat(task-1220.01): upgrade pydantic-ai from v0.0.x to v1.0+
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-1220.02): add WebSearchTool gated by tool_config via prepare_tools
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(task-1220.03): update system prompts with research tool instructions
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(simulation): configurable token/request limits via tool_config
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): secure WebSearchTool gating and sanitize DB errors
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(task-1220.09): align research prompts with provider support check
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

fix(simulation): prevent agents from erroneously choosing pass_turn (#231)
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_queue_summary.py
Due: regenerate-openapi

feat(simulation): add web search tools to playground agents (#232)
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-1211): token bucket active scavenging + per-worker dynamic capacity (#226)
  opennotes-cli/src/opennotes_cli/api_client/api/admin/get_pool_holds_api_v1_admin_token_pools_pool_name_holds_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/admin/list_token_pools_api_v1_admin_token_pools_get.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/1db7b2f41382_task_1211_007_add_released_at_index_and_fk_cascade.py
  opennotes-server/alembic/versions/6d0da20fd824_merge_task_1211_with_main_heads.py
  opennotes-server/alembic/versions/task_1211_001_add_token_pool_workers.py
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_cleanup.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1224): add progress indicator to detailed analysis fetching
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

feat(task-1224): add progress indicator to detailed analysis fetching (#233)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

feat(simulation): add SimChannelMessage model and migration
  opennotes-server/alembic/versions/0451fbf4ce30_add_sim_channel_messages_table.py
  opennotes-server/src/simulation/models.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_channel_message_model.py
Due: schema-consistency, regenerate-openapi

feat(simulation): add post_to_channel and read_channel tools
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

feat(simulation): wire channel context into agent turn workflow
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: regenerate-openapi

test(simulation): update tests for channel deps fields
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

fix(simulation): use result.output instead of result.data in soft guard
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

fix(simulation): fix channel bugs from code review
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

fix(task-1225): broaden Cloud Run detection to include Worker Pools
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_resolve_instance_id.py
Due: regenerate-openapi

fix(task-1225): broaden Cloud Run detection to include Worker Pools (#235)
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_resolve_instance_id.py
Due: regenerate-openapi

fix(task-1230): add graceful degradation to token bucket operations
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

fix(task-1230.01): narrow exception scope, fix stale docstring, handle scavenge errors
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

fix(task-1230.01): use .output instead of .data on AgentRunResult
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

fix(task-1230): add graceful degradation to token bucket operations (#236)
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

chore(cli): update baalbek to v0.2.18
  opennotes-cli/uv.lock
Due: none

fix(ops): add script to cancel stuck old-generation turn workflows
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
Due: none

fix(token-bucket): replace full unique constraint with partial index WHERE released_at IS NULL
  opennotes-server/alembic/versions/cc4f90082327_task_1234_partial_unique_index_on_token_.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
Due: schema-consistency, regenerate-openapi

fix(simulation): add pre-check for simulation status before token acquisition in agent turns
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_agent_turn_precheck.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): cancel enqueued turn workflows on pause/cancel (cascade)
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: regenerate-openapi

fix(token-bucket): add error retry in TokenGate.acquire() and IntegrityError warning log
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
Due: regenerate-openapi

feat(simulation): add admin endpoint and CLI for bulk workflow cancellation
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/cancel_simulation_workflows_api_v2_simulations_simulation_id_cancel_workflows_post.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(token-bucket): verify constraint name, safe downgrade, scavenge guard, deferred workflow_id [task-1234.08] [task-1234.10]
  opennotes-server/alembic/versions/cc4f90082327_task_1234_partial_unique_index_on_token_.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
Due: regenerate-openapi

fix(simulation): add post-acquire status recheck, fix unit test DB connection [task-1234.09]
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_agent_turn_precheck.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
Due: regenerate-openapi

fix(simulation): parallelize cancel-workflows, add partial failure handling and response model [task-1234.07]
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/cancel_simulation_workflows_api_v2_simulations_simulation_id_cancel_workflows_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/cancel_workflows_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): cancel orphaned turn workflows and fix token pool starvation (#237)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/cancel_simulation_workflows_api_v2_simulations_simulation_id_cancel_workflows_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/cancel_workflows_response.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/cc4f90082327_task_1234_partial_unique_index_on_token_.py
  opennotes-server/openapi.json
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_agent_turn_precheck.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(docker): remove unnecessary Rust toolchain from server Dockerfile
  opennotes-server/Dockerfile
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
