Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(task-1093): import/rechunk workflow review fixes
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
Due: regenerate-openapi

fix(ci): pyright type error and test assertions for new policies
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_scheduler_workflows.py
Due: regenerate-openapi

fix(approval): strict workflow_id type in _finalize_and_warn
  opennotes-server/src/dbos_workflows/approval_workflow.py
Due: regenerate-openapi

perf(task-1090): migrate to orjson for JSON serialization
  opennotes-server/pyproject.toml
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/cache/adapters/redis.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/audit.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/search/search_analytics.py
  opennotes-server/src/users/audit_helper.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/webhooks/cache.py
  opennotes-server/src/webhooks/signature.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat: migrate import pipeline, rechunk, approval, and scheduler tasks to DBOS workflows (#165)
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/batch_job_helpers.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/dbos_workflows/scheduler_workflows.py
  opennotes-server/src/main.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/tests/integration/batch_jobs/test_rechunk_service_concurrency.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/integration/tasks/test_approval_tasks.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow_steps.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_scheduler_workflows.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
  opennotes-server/tests/unit/tasks/test_scheduler_tasks.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

perf(task-1090): migrate to orjson for JSON serialization (#167)
  opennotes-server/pyproject.toml
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/cache/adapters/redis.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/audit.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/search/search_analytics.py
  opennotes-server/src/users/audit_helper.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/webhooks/cache.py
  opennotes-server/src/webhooks/signature.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-1091): add pendulum dependency for datetime migration
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

fix(task-1091): resolve basedpyright errors from pendulum migration
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/import_pipeline/schemas.py
  opennotes-server/src/llm_config/key_rotation.py
  opennotes-server/src/llm_config/usage_tracker.py
Due: schema-consistency, regenerate-openapi

feat(task-1112): add per-module log level overrides via LOG_LEVEL_OVERRIDES
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

fix(task-1110): resolve unique instance ID from GCP metadata server in Cloud Run
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_resolve_instance_id.py
Due: regenerate-openapi

fix(task-1110): centralize instance ID resolution via settings mutation
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(task-1112.01): validate log level names in parse_log_level_overrides
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

chore(task-1112.02): add LOG_LEVEL_OVERRIDES to env config templates
  .env.ci.yaml
  .env.yaml.dev
  .env.yaml.example
  .env.yaml.prod
  .env.yaml.staging
  opennotes-server/.env.yaml.example
Due: none

feat(monitoring): add ReportedErrorEvent format to structured error logs
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

feat(monitoring): enhance global exception handler with ReportedErrorEvent format
  opennotes-server/src/main.py
  opennotes-server/tests/unit/test_global_exception_handler.py
Due: regenerate-openapi

feat: add per-module log level overrides (LOG_LEVEL_OVERRIDES) (#169)
  .env.ci.yaml
  .env.yaml.dev
  .env.yaml.example
  .env.yaml.prod
  .env.yaml.staging
  opennotes-server/.env.yaml.example
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/monitoring/test_logging.py
Due: regenerate-openapi

fix(task-1110): resolve unique instance ID from GCP metadata server in Cloud Run (#170)
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_resolve_instance_id.py
Due: regenerate-openapi

feat(monitoring): add /version endpoint with build metadata
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/Dockerfile
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/tests/unit/test_version_endpoint.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(task-1115): rename guild_id to platform_community_server_id
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/integration/test_previously_seen_api.py
  opennotes-server/tests/unit/test_webhooks_rate_limit.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(monitoring): remove duplicate ReportedErrorEvent fields and add defensive error handling
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/test_logging.py
  opennotes-server/tests/unit/test_global_exception_handler.py
Due: regenerate-openapi

feat(monitoring): improve error tracking with ReportedErrorEvent format (#171)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/Dockerfile
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/health.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/tests/unit/monitoring/test_logging.py
  opennotes-server/tests/unit/test_global_exception_handler.py
  opennotes-server/tests/unit/test_version_endpoint.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(task-1115): rename guild_id to platform_community_server_id (#172)
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/integration/test_previously_seen_api.py
  opennotes-server/tests/unit/test_webhooks_rate_limit.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1102): migrate candidate filters to FilterBuilder
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
Due: regenerate-openapi

feat(task-1100): extend FilterBuilder with auth-gated and join-based filter support
  opennotes-server/src/common/filters.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/common/test_filters.py
Due: regenerate-openapi

test(property): add tier adaptation and clamping property tests (TASK-1116.05)
  opennotes-server/tests/unit/property/test_tier_adaptation_property.py
Due: none

test(property): add schema validation and Unicode property tests (TASK-1116.07)
  opennotes-server/tests/unit/property/test_schema_validation_property.py
Due: none

test(property): add FilterBuilder and pagination property tests (TASK-1116.06)
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/property/test_filters_property.py
  opennotes-server/tests/unit/property/test_parsers_property.py
Due: regenerate-openapi

test(property): add permissions hierarchy property tests (TASK-1116.08)
  opennotes-server/tests/unit/property/test_permissions_property.py
  opennotes-server/tests/unit/property/test_state_machines_property.py
Due: none

test(property): add async workflow invariant tests (TASK-1116.01)
  opennotes-server/tests/unit/property/test_async_workflows_property.py
  opennotes-server/tests/unit/property/test_permissions_property.py
Due: none

test(dbos): add DBOS worker lifecycle and workflow integration tests (TASK-1060)
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
Due: none

test(property): add normalizer and config parsing property tests (TASK-1116.09)
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
Due: none

feat(task-1101): migrate request filters to FilterBuilder
  opennotes-server/src/notes/requests_jsonapi_router.py
Due: regenerate-openapi

fix(test): fix Hypothesis datetime strategy to use naive bounds with timezones param
  opennotes-server/tests/unit/property/test_permissions_property.py
Due: none

fix(test): filter JSON reserved words from bracket-vs-JSON agreement test
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
Due: none

feat: extend FilterBuilder and migrate routers (tasks 1100, 1101, 1102) (#173)
  opennotes-server/src/common/filters.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/tests/unit/common/test_filters.py
Due: regenerate-openapi

test: expand Hypothesis property-based test coverage (#174)
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/property/test_async_workflows_property.py
  opennotes-server/tests/unit/property/test_filters_property.py
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
  opennotes-server/tests/unit/property/test_parsers_property.py
  opennotes-server/tests/unit/property/test_permissions_property.py
  opennotes-server/tests/unit/property/test_schema_validation_property.py
  opennotes-server/tests/unit/property/test_state_machines_property.py
  opennotes-server/tests/unit/property/test_tier_adaptation_property.py
Due: regenerate-openapi

refactor(task-1118): migrate stats_jsonapi_router to FilterBuilder
  opennotes-server/src/notes/stats_jsonapi_router.py
Due: regenerate-openapi

refactor(task-1119): migrate scoring_jsonapi_router to FilterBuilder
  opennotes-server/src/notes/scoring_jsonapi_router.py
Due: regenerate-openapi
