Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

refactor(task-1120): migrate note_publisher_jsonapi_router to FilterBuilder
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
Due: regenerate-openapi

fix(task-1118): widen build_async auth_checks type to Awaitable[Any]
  opennotes-server/src/common/filters.py
Due: regenerate-openapi

feat(testing): add Schemathesis property-based API testing
  mise.toml
  opennotes-server/pyproject.toml
  opennotes-server/schemathesis.toml
  opennotes-server/tests/integration/test_schemathesis_api.py
  opennotes-server/uv.lock
Due: none

refactor(task-1120.01): simplify note_publisher auth to direct calls
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
Due: regenerate-openapi

refactor(task-1125): migrate notes_jsonapi_router to build_async
  opennotes-server/src/notes/notes_jsonapi_router.py
Due: regenerate-openapi

feat(testing): add Schemathesis property-based API testing (#176)
  mise.toml
  opennotes-server/pyproject.toml
  opennotes-server/schemathesis.toml
  opennotes-server/tests/integration/test_schemathesis_api.py
  opennotes-server/uv.lock
Due: none

refactor: migrate stats, scoring, note-publisher routers to FilterBuilder (#175)
  opennotes-server/src/common/filters.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/stats_jsonapi_router.py
Due: regenerate-openapi

refactor: replace remaining Optional[X] with X | None in Python models
  opennotes-server/src/monitoring/instance.py
  opennotes-server/src/users/profile_models.py
  opennotes-server/src/users/profile_schemas.py
Due: schema-consistency, regenerate-openapi

refactor: replace Optional[X] with X | None union syntax
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/discord-utils.ts
  opennotes-discord/src/lib/notes-formatter.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/top-notes.test.ts
  opennotes-discord/tests/lib/discord-utils.test.ts
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/notes/scoring_export.py
  opennotes-server/src/users/audit_helper.py
  opennotes-server/src/webhooks/verification.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1122): add gcp.apphub resource attributes to OTel SDK
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

refactor(task-1107.04): adopt SQLAlchemySchema base class across ~90 response schemas
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/common/jsonapi.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/community_servers/clear_router.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/config_router.py
  opennotes-server/src/fact_checking/embedding_schemas.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/llm_config/providers/base.py
  opennotes-server/src/llm_config/schemas.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/search/fusion_weights_router.py
  opennotes-server/src/users/communities_jsonapi_router.py
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/src/webhooks/types.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

refactor(task-1107.03): add extra='forbid' to Create/Update input schemas
  opennotes-server/openapi.json
  opennotes-server/src/auth/models.py
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/src/search/fusion_weights_router.py
  opennotes-server/src/users/profiles_jsonapi_router.py
Due: schema-consistency, regenerate-openapi

feat(task-1122): add gcp.apphub resource attributes to OTel SDK (#178)
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

refactor(task-1107): complete schema base class migration
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/src/common/base_schemas.py
  opennotes-server/src/common/jsonapi.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/monitored_channel_schemas.py
  opennotes-server/src/fact_checking/previously_seen_schemas.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/src/webhooks/types.py
Due: schema-consistency, regenerate-openapi

test: skip flawed bracket_notation_roundtrip property test
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
Due: none

feat(task-1124): add cascade soft-delete and cleanup script for bad archives
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/src/notes/message_archive_service.py
  opennotes-server/tests/integration/test_archive_cascade_soft_delete.py
Due: regenerate-openapi

feat(task-1124): add soft-delete columns to Note and Request models
  opennotes-server/alembic/versions/eadab3e9cb89_task_1124_add_deleted_at_to_notes_and_.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/schemas.py
Due: schema-consistency, regenerate-openapi

feat(task-1124): add 10-char min length filter and raise CC threshold to 0.6
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/unit/MessageMonitorService-cc-threshold.test.ts
Due: eslint-discord, typecheck-discord

fix(claim-relevance): change CONTENT_FILTERED to should_flag=true for fail-open semantics
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/tests/unit/claim_relevance_check/test_router.py
Due: regenerate-openapi

feat(task-1124): extract ClaimRelevanceService and add relevance check endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/src/claim_relevance_check/schemas.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_router.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1124): add server-side 10-char content length validation
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
Due: regenerate-openapi

feat(task-1124): integrate LLM relevance check in real-time monitor path
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/factories/api-client.ts
  opennotes-discord/tests/lib/api-client-claim-relevance.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-claim-relevance.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1124.01): add deleted_at IS NULL filters to all Note/Request queries
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/services/ai_note_writer.py
Due: regenerate-openapi

feat(task-1124): Audit and fix message_archive entries for filtered-out fact-check matches (#179)
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/factories/api-client.ts
  opennotes-discord/tests/lib/api-client-claim-relevance.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-claim-relevance.test.ts
  opennotes-server/alembic/versions/eadab3e9cb89_task_1124_add_deleted_at_to_notes_and_.py
  opennotes-server/openapi.json
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/src/claim_relevance_check/schemas.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/main.py
  opennotes-server/src/notes/message_archive_service.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/integration/test_archive_cascade_soft_delete.py
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_router.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(tasks-1114-1123): add context propagation and human-readable names
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-discord/tests/commands/config-content-monitor.test.ts
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c93bf6796c44_task_1123_add_name_column_to_monitored_.py
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/src/fact_checking/monitored_channel_models.py
  opennotes-server/src/fact_checking/monitored_channel_schemas.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/middleware/discord_context.py
  opennotes-server/src/monitoring/logging.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/integration/test_community_server_name_endpoint.py
  opennotes-server/tests/unit/events/__init__.py
  opennotes-server/tests/unit/events/test_subscriber_event_context.py
  opennotes-server/tests/unit/middleware/test_discord_context.py
  opennotes-server/tests/unit/monitoring/test_logging_discord_context.py
  opennotes-server/tests/unit/monitoring/test_otel_baggage_keys.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(discord): populate channelId in UserContext across all command handlers
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/user-context.ts
  opennotes-discord/src/services/RateNoteService.ts
  opennotes-discord/src/services/RequestNoteService.ts
  opennotes-discord/src/services/WriteNoteService.ts
  opennotes-discord/src/services/types.ts
  opennotes-discord/tests/lib/user-context.test.ts
  opennotes-discord/tests/services/RequestNoteService.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1123.01): add server_stats JSONB column to community_servers
  opennotes-discord/src/bot.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/bf30f9abfc03_task_1123_01_add_server_stats_jsonb_.py
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

chore(alembic): merge task-1123 and task-1124 migration heads
  opennotes-server/alembic/versions/771536fdfc75_merge_task_1123_and_task_1124_heads.py
Due: none

ci: increase integration test timeout to 30 minutes
  .github/workflows/ci.yml
Due: none

fix: resolve enum value extraction and DBOS API compatibility
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
Due: regenerate-openapi

refactor: move schemathesis tests to separate directory
  mise.toml
  opennotes-server/tests/schemathesis/__init__.py
  opennotes-server/tests/schemathesis/test_schemathesis_api.py
Due: none

fix(task-1124): rewrite cleanup script for standalone production use
  opennotes-server/scripts/cleanup_bad_archives.py
Due: none

ci(task-1130): switch CI integration tests to testcontainers with parallel execution
  .github/workflows/ci.yml
Due: none

refactor(task-1103): migrate stats_jsonapi_router to FilterBuilder
  opennotes-server/src/notes/stats_jsonapi_router.py
Due: regenerate-openapi

refactor(task-1117): make _ensure_community_membership platform-aware
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/users/profile_crud.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(ci): resolve Redis URL mismatch under testcontainers/xdist
  .github/workflows/ci.yml
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/integration/test_cache_validation.py
Due: none

fix(task-1130): fix NATS stale settings and MF scorer xdist crash
  .github/workflows/ci.yml
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: regenerate-openapi

fix(task-1130.05): update unit test mocks for get_settings() refactor
  opennotes-server/tests/unit/test_events.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
