Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(bulk-scan): integrate flashpoint detection into service.py pipeline
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/bulk_content_scan/scan_types.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
Due: regenerate-openapi

fix(flashpoint): consolidate utils, share signatures, add to_thread, fix confidence
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
Due: regenerate-openapi

docs(task-1067.05): add flashpoint detection documentation
  opennotes-server/.gitignore
  opennotes-server/scripts/flashpoints/README.md
Due: none

refactor(task-1069.10): remove TaskIQ content scan task definitions replaced by DBOS
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/integration/test_bulk_scan_error_tracking.py
  opennotes-server/tests/integration/test_taskiq_content_monitoring.py
  opennotes-server/tests/unit/bulk_content_scan/test_dual_completion.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/test_bulk_scan_progress_for_all.py
  opennotes-server/tests/unit/test_bulk_scan_progress_handler.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
Due: regenerate-openapi

fix(bulk-scan): return error response when DBOS workflow dispatch fails
  opennotes-server/src/bulk_content_scan/router.py
Due: regenerate-openapi

fix(bulk-scan): optimize nats handler DB queries, error handling, and DBOS dispatch
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/dspy_dataset.py
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/community_servers/router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(content-scan): fix DBOS workflow batch processing, termination, and timeout issues
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

fix(task-1067): remove hardcoded platform in api-client, deduplicate flashpoint check
  opennotes-discord/src/lib/api-client.ts
  opennotes-server/src/bulk_content_scan/service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1066): resolve all 33 basedpyright type checker warnings
  opennotes-discord/.pnpmrc
  opennotes-server/pyproject.toml
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/auth/password.py
  opennotes-server/src/auth/profile_dependencies.py
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/cache/cache.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/circuit_breaker.py
  opennotes-server/src/database.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/fact_checking/chunk_embedding_service.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/notes/loaders.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler.py
  opennotes-server/src/users/loaders.py
  opennotes-server/src/users/profile_schemas.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_chunk_task_cancel_endpoints.py
  opennotes-server/tests/unit/bulk_content_scan/test_jsonapi_router.py
  opennotes-server/tests/unit/test_cache.py
  opennotes-server/tests/unit/test_ownership_dependencies.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
  opennotes-server/tests/unit/test_verify_community_membership_by_uuid.py
Due: schema-consistency, regenerate-openapi

chore: remove accidental .pnpmrc file
  opennotes-discord/.pnpmrc
Due: none

fix(task-1067): improve flashpoint service error handling, lazy imports, thread safety, singleton
  opennotes-server/pyproject.toml
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(bulk-scan): pass context_messages to flashpoint, run flashpoint independently, use isinstance checks
  opennotes-server/src/bulk_content_scan/service.py
Due: regenerate-openapi

test(task-1067): add missing flashpoint detection tests
  opennotes-server/tests/integration/test_flashpoint_detection_endpoint.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: none

chore(task-1067): update default models and fix flashpoints setup
  opennotes-server/docs/llm-observability.md
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/README.md
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/llm_config/test_factory.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/test_scan_explanation.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(flashpoint): track evaluation errors separately from confusion matrix in optimize_prompt
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
Due: regenerate-openapi

fix(flashpoint): defer convokit import in extract_cga_dataset for proper test skip
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
Due: none

test(events): add BulkScanProgressEvent schema coverage replacing deleted progress tests
  opennotes-server/tests/unit/bulk_content_scan/test_event_schemas.py
Due: none

fix(bulk-scan): add jsonapi_router dispatch error handling and mark orphan scans FAILED on dispatch failure
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(bulk-scan): collect flashpoint scores correctly and remove redundant DB check for flashpoint_detection_enabled
  opennotes-server/src/bulk_content_scan/service.py
Due: regenerate-openapi

fix(bulk-scan): add jsonapi_router dispatch error handling and mark orphan scans FAILED
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/tests/unit/bulk_content_scan/test_jsonapi_router.py
Due: regenerate-openapi

feat(flashpoint): switch to large CGA corpus, upgrade dspy to v3, add GEPA checkpointing
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/uv.lock
Due: none

fix(api): sanitize error responses, fix type annotations, guard imports
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
Due: regenerate-openapi

fix(discord): add permissions check, configurable platform, fix docs and tests
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-server/docs/llm-observability.md
Due: eslint-discord, typecheck-discord

fix(flashpoint): fix parse_bool safety, lazy dspy import, module CLI
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
Due: regenerate-openapi

fix(scripts): fix dataset extraction edge cases, remove path hacks, deduplicate init
  opennotes-server/scripts/flashpoints/dspy_dataset.py
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/tests/unit/bulk_content_scan/test_dspy_dataset.py
Due: none

fix(deps): add upper bounds, document overrides, fix schema drift
  opennotes-server/pyproject.toml
  opennotes-server/src/llm_config/models.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_dataset.py
Due: schema-consistency, regenerate-openapi

fix(tests): add cleanup, fix async patterns, recreate progress event tests
  opennotes-server/tests/integration/test_flashpoint_detection_endpoint.py
  opennotes-server/tests/unit/bulk_content_scan/test_bulk_scan_progress_for_all.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

fix(flashpoint): improve service robustness, error handling, and test coverage
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: regenerate-openapi

fix(bulk-scan): deduplicate flagged messages, optimize scan loop, document design
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: regenerate-openapi

fix(workflow): restructure orchestrator loop, add shared Redis, update tests
  opennotes-server/data/flashpoints/optimized_detector.json
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(flashpoint): add tqdm progress bar with running metrics to evaluate_detector
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

feat(flashpoint): increase reflection_minibatch_size to 5 and make configurable via --reflection-minibatch-size CLI arg
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

fix(flashpoint): delegate dspy.Module methods via __getattr__
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
Due: regenerate-openapi

fix(workflow): use DBOSClient.enqueue() instead of non-existent start_workflow
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: regenerate-openapi

fix(ci): use --allow-existing --relocatable for uv venv in CI
  .github/workflows/ci.yml
Due: none

fix(security): remove API key hint from error message
  opennotes-server/scripts/flashpoints/flashpoint_module.py
Due: none

feat(flashpoint): make GEPA num_threads configurable via --num-threads
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

fix(deps): pin numpy<2.0 for torch 2.1.2 compatibility
  opennotes-server/ml-requirements.txt
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

fix(test): reset DBOS client singleton between integration tests
  opennotes-server/tests/conftest.py
Due: none

feat(task-1067): parallelize evaluation with ThreadPoolExecutor
  opennotes-server/data/flashpoints/optimized_detector.json
  opennotes-server/scripts/flashpoints/optimize_prompt.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
