Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

feat(server): optimize Docker image 6.19 GB → 2.45 GB (TASK-1436) (#366)
  docker-compose.yml
  opennotes-server/Dockerfile
  opennotes-server/Dockerfile.dockerignore
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

fix(bulk-scan): resolve pyright type errors from CI
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/bulk_content_scan/capabilities/flashpoint.py
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
Due: regenerate-openapi

fix(bulk-scan): address Codex review findings
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_action_tier_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_recommended_action_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/moderation_actions/crud.py
  opennotes-server/src/moderation_actions/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(bulk-scan): resolve remaining pyright errors
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

feat(bulk-scan): wire ModerationAction creation from policy evaluator
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/moderation_actions/crud.py
  opennotes-server/src/moderation_actions/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(bulk-scan): implement ContentReviewerAgent with pydantic-ai
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
Due: regenerate-openapi

feat: add name parameter to all pydantic_ai Agent instantiations
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

feat(bulk-scan): add ContentItem and ContentModerationClassificationResult schemas
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_category_labels.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_category_scores_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/flagged_message_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(bulk-scan): update test_dual_completion to mock content_reviewer_step
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

feat(bulk-scan): replace relevance_filter_step with content_reviewer_step
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat(bulk-scan): extract capabilities, policy evaluator, and ContentItem adapter
  opennotes-server/src/bulk_content_scan/capabilities/__init__.py
  opennotes-server/src/bulk_content_scan/capabilities/flashpoint.py
  opennotes-server/src/bulk_content_scan/capabilities/moderation.py
  opennotes-server/src/bulk_content_scan/capabilities/similarity.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/policy_evaluator.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_flashpoint.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_moderation.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_similarity.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_item_adapter.py
  opennotes-server/tests/unit/bulk_content_scan/test_policy_evaluator.py
Due: schema-consistency, regenerate-openapi

feat(discourse): add platform_community_server_id setting with deterministic slug
  opennotes-discourse/plugin/config/settings.yml
  opennotes-discourse/plugin/lib/opennotes/slug_generator.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/slug_generator_spec.rb
Due: none

feat(discourse): add CommunityServerResolver with read-through cache
  opennotes-discourse/plugin/lib/opennotes/community_server_resolver.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/community_server_resolver_spec.rb
Due: none

feat(discourse): auto-register on settings save and PATCH /name
  opennotes-discourse/plugin/lib/opennotes/platform_registrar.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/platform_registrar_spec.rb
Due: none

refactor(discourse): unify consumers on CommunityServerResolver + align identity headers
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/app/controllers/opennotes/community_reviews_controller.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_flag_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_post_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/scheduled/sync_scoring_status.rb
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/lib/opennotes/user_mapper.rb
  opennotes-discourse/plugin/spec/controllers/admin_controller_spec.rb
  opennotes-discourse/plugin/spec/controllers/community_reviews_controller_spec.rb
  opennotes-discourse/plugin/spec/jobs/sync_flag_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/jobs/sync_post_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/jobs/sync_scoring_status_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/user_mapper_spec.rb
Due: none

feat(discourse): add POST /admin/plugins/discourse-opennotes/register endpoint
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/config/routes.rb
  opennotes-discourse/plugin/spec/controllers/admin_controller_spec.rb
Due: none

fix(discourse): add ?platform=discourse to PATCH /name (Critical review fix)
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/lib/opennotes/platform_registrar.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/platform_registrar_spec.rb
Due: none

feat(eval): add offline regression harness for ContentReviewerAgent
  opennotes-server/pyproject.toml
  opennotes-server/tests/eval/__init__.py
  opennotes-server/tests/eval/bulk_content_scan/__init__.py
  opennotes-server/tests/eval/bulk_content_scan/dataset.py
  opennotes-server/tests/eval/bulk_content_scan/test_content_reviewer_eval.py
Due: none

chore: register eval pytest marker in pytest.ini
  opennotes-cli/src/opennotes_cli/api_client/api/admin_api_keys/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/admin_api_keys/create_admin_api_key_api_v2_admin_api_keys_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/admin_api_keys/list_admin_api_keys_api_v2_admin_api_keys_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/admin_api_keys/revoke_admin_api_key_api_v2_admin_api_keys_key_id_delete.py
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_history_api_v2_community_servers_community_server_id_scoring_history_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/scoring_jsonapi/get_scoring_history_snapshot_api_v2_community_servers_community_server_id_scoring_history_timestamp_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/admin_api_key_create.py
  opennotes-cli/src/opennotes_cli/api_client/models/admin_api_key_list_item.py
  opennotes-cli/src/opennotes_cli/api_client/models/admin_api_key_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/pytest.ini
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(1401.08): add retries, output_validator, static instructions, ModelSettings, UsageLimits, and structured exceptions to ContentReviewerAgent
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/config.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

Add CONTENT_REVIEWER_MODEL config field and wire through service and workflow
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

feat(1401.10): add error_type discrimination to ContentModerationClassificationResult
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/bulk_content_scan/policy_evaluator.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
  opennotes-server/tests/unit/bulk_content_scan/test_policy_evaluator.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

TASK-1401.13: conditionally expose detect_flashpoint_tool via prepare parameter
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
Due: regenerate-openapi

Wire action_bridge into content_reviewer_step with DB-level idempotency (TASK-1401.12)
  opennotes-server/alembic/versions/task1401_12_unique_constraint_moderation_action_request_tier.py
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/moderation_actions/models.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
Due: schema-consistency, regenerate-openapi

fix(bulk-scan): add type: ignore for redis hgetall await in content_reviewer_step
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

fix(bulk-scan): address review findings — SKIP LOCKED, UsageLimitExceeded, bytes/str, asserts
  opennotes-server/alembic/versions/task1401_12_unique_constraint_moderation_action_request_tier.py
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

fix(bulk-scan): prevent duplicate tier-1 NATS event emission on DBOS retries (TASK-1401.16)
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
Due: regenerate-openapi

fix(bulk-scan): move tier-1 emit dedup to webhook layer (TASK-1401.17)
  opennotes-server/alembic/versions/task1401_17_webhook_deliveries_unique_event_id.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/webhooks/delivery.py
  opennotes-server/src/webhooks/delivery_models.py
  opennotes-server/tests/integration/test_outbound_webhook_delivery.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
  opennotes-server/tests/unit/test_events.py
Due: schema-consistency, regenerate-openapi

fix(mise): make container detection compose-aware via shared helper (TASK-1452)
  mise.toml
Due: none

fix(bulk-scan): address review findings on TASK-1401.17 commit (incremental)
  opennotes-server/alembic/versions/task1401_17_webhook_deliveries_unique_event_id.py
  opennotes-server/src/webhooks/delivery.py
  opennotes-server/tests/integration/test_outbound_webhook_delivery.py
Due: regenerate-openapi

style(tests): ruff format test_outbound_webhook_delivery.py
  opennotes-server/tests/integration/test_outbound_webhook_delivery.py
Due: none

style(tests): fix ruff N814/PT011 in FK-propagation test
  opennotes-server/tests/integration/test_outbound_webhook_delivery.py
Due: none

fix(mise): pass compose service name + literal fallback to _db:get-container; declare jq dep (TASK-1452.03)
  mise.toml
Due: none

ci(postgres): cache pgvector+pgroonga image via Blacksmith builder (TASK-1454)
  .github/workflows/ci.yml
Due: none

fix(mise): make container detection compose-aware (TASK-1452) (#369)
  mise.toml
Due: none

ci(postgres): cache pgvector+pgroonga image via Blacksmith builder (TASK-1454) (#370)
  .github/workflows/ci.yml
Due: none

feat(auth): Phase 1.7 — Discourse platform-identity trust-shim (TASK-1451.10)
  opennotes-server/src/auth/permissions.py
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/tests/unit/test_platform_claims_audit.py
Due: regenerate-openapi

feat(auth): Phase 1.3 — block reserved username/email patterns at registration (TASK-1451.06)
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_phase_13_registration_hardening.py
Due: regenerate-openapi

feat(auth): Phase 1.0 — audit profile-creation paths to ensure User row exists (TASK-1451.01)
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/tests/integration/test_profile_creation_audit.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi
