Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(task-1011): implement proper Redis TLS certificate verification
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/config.py
  opennotes-server/src/middleware/rate_limiting.py
  opennotes-server/src/startup_validation.py
  opennotes-server/tests/unit/test_redis_tls.py
Due: regenerate-openapi

fix(task-1011): Implement proper Redis TLS certificate verification (#120)
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/config.py
  opennotes-server/src/middleware/rate_limiting.py
  opennotes-server/src/startup_validation.py
  opennotes-server/tests/unit/test_redis_tls.py
Due: regenerate-openapi

fix(task-1012): correct stale mock patches in rechunk service tests
  opennotes-server/tests/integration/batch_jobs/test_rechunk_service_concurrency.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: none

fix(task-1011.01): use shared Redis client with SSL context for rate limiter
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
Due: regenerate-openapi

fix(task-1012): correct stale mock patches in rechunk service tests (#121)
  opennotes-server/tests/integration/batch_jobs/test_rechunk_service_concurrency.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: none

fix(task-1011.02): replace ssl_context with ssl_ca_certs for redis-py 6.4.0
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/middleware/rate_limiting.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/test_redis_tls.py
Due: regenerate-openapi

feat(task-1013): set default OpenTelemetry sample rate to 1.0
  opennotes-server/src/config.py
  opennotes-server/src/main.py
Due: regenerate-openapi

feat(task-1016): add fact-check candidate review and rating management API
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/main.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1016): address code review feedback for candidates API
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/docs/api-migration-notes.md
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/main.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1016.07): fix unit test issues
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks.py
Due: none

chore(config): set TRACING_SAMPLE_RATE default to 1.0
  opennotes-server/docs/api-migration-notes.md
  opennotes-server/src/config.py
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(task-1016): resolve CI failures
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: regenerate-openapi

feat(task-1016): add fact-check candidate review and rating management API (#123)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/docs/api-migration-notes.md
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/main.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1019): implement two-tier permission installation
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/bot.ts
  opennotes-discord/src/lib/bot-channel-helper.ts
  opennotes-discord/src/lib/oauth2-urls.ts
  opennotes-discord/src/services/GuildOnboardingService.ts
  opennotes-discord/src/services/PermissionModeService.ts
  opennotes-discord/tests/lib/bot-channel-helper.test.ts
  opennotes-discord/tests/lib/oauth2-urls.test.ts
  opennotes-discord/tests/services/PermissionModeService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1019): address PR review feedback
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/bot-channel-helper.ts
  opennotes-discord/src/lib/oauth2-urls.ts
  opennotes-discord/src/services/PermissionModeService.ts
  opennotes-discord/tests/lib/bot-channel-helper.test.ts
  opennotes-discord/tests/lib/oauth2-urls.test.ts
  opennotes-discord/tests/services/PermissionModeService.test.ts
Due: eslint-discord, typecheck-discord

refactor(task-1019): unify welcome message content and separate permissions DM
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/lib/welcome-content.ts
  opennotes-discord/src/services/GuildOnboardingService.ts
Due: eslint-discord, typecheck-discord

feat(task-1019): implement two-tier permission installation (#124)
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/bot-channel-helper.ts
  opennotes-discord/src/lib/oauth2-urls.ts
  opennotes-discord/src/lib/welcome-content.ts
  opennotes-discord/src/services/GuildOnboardingService.ts
  opennotes-discord/src/services/PermissionModeService.ts
  opennotes-discord/tests/lib/bot-channel-helper.test.ts
  opennotes-discord/tests/lib/oauth2-urls.test.ts
  opennotes-discord/tests/services/PermissionModeService.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1015): implement per-domain rate limiting for fact-check scraping
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
Due: regenerate-openapi

fix(task-1015): address PR review feedback for rate limiting implementation
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
Due: regenerate-openapi

fix(task-1015): fix basedpyright type error for TaskIQ kiq() return
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
Due: regenerate-openapi

build(task-1015): regenerate OpenAPI spec and TypeScript types
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

feat(task-1015): implement per-domain rate limiting for fact-check scraping (#122)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(task-1021): implement shared FilterBuilder for JSON:API routers
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/src/common/filters.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/common/__init__.py
  opennotes-server/tests/unit/common/test_filters.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1023,task-1024): fix JetStream race condition and ManageRoles detection
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/lib/oauth2-urls.ts
  opennotes-discord/src/services/PermissionModeService.ts
Due: eslint-discord, typecheck-discord

fix(task-1023,task-1024): implement try-bind-first pattern and add migration note
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/events/NatsSubscriber.ts
Due: eslint-discord, typecheck-discord

test(task-1023): update NatsSubscriber tests for new error handling
  opennotes-discord/tests/events/NatsSubscriber.test.ts
Due: none

fix(task-1023,task-1024): fix CI test failures
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/tests/lib/bot-channel-helper.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1023): check Error base class not just NatsError for messages
  opennotes-discord/src/events/NatsSubscriber.ts
Due: eslint-discord, typecheck-discord

test(task-1024): add ManageRoles to PermissionModeService tests
  opennotes-discord/tests/services/PermissionModeService.test.ts
Due: none

fix(task-1023,task-1024): fix JetStream race condition and ManageRoles detection (#126)
  opennotes-discord/docs/installation-options.md
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/lib/oauth2-urls.ts
  opennotes-discord/src/services/PermissionModeService.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/lib/bot-channel-helper.test.ts
  opennotes-discord/tests/services/PermissionModeService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1023): make bind-or-create more resilient to error variations
  opennotes-discord/src/events/NatsSubscriber.ts
Due: eslint-discord, typecheck-discord

feat(candidates): add limit parameter to approve-predicted endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/import_pipeline/candidate_schemas.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1025): convert approve-predicted endpoint to background job
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1025): address PR #127 code review feedback
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/tests/integration/tasks/__init__.py
  opennotes-server/tests/integration/tasks/test_approval_tasks.py
Due: regenerate-openapi

fix(tasks): correct bulk approval bugs (TASK-1025.07-11)
  opennotes-server/src/tasks/approval_tasks.py
Due: regenerate-openapi

test(task-1025.12-13): add error injection and auto_promote tests
  opennotes-server/tests/integration/tasks/test_approval_tasks.py
Due: none

fix(tests): correct error stage expectation in kiq exception test
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
Due: none

feat(task-1025): convert approve-predicted endpoint to background job (#127)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/integration/tasks/__init__.py
  opennotes-server/tests/integration/tasks/test_approval_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(candidates): validate rating keys against CANONICAL_RATINGS
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
Due: regenerate-openapi

fix(candidates): validate rating keys against CANONICAL_RATINGS (#128)
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_candidate_service.py
Due: regenerate-openapi
