Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

test(simulation): add integration test for batch rate_notes turn (task-1328)
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

fix(simulation): use SAVEPOINTs for per-entry rollback in rate_notes, type rated_notes
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: schema-consistency, regenerate-openapi

fix(task-1328.01): align prompt text with SimActionType enum values
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

feat(simulation): replace rate_note with batch rate_notes tool (#286)
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
Due: schema-consistency, regenerate-openapi

fix(scoring): replace hardcoded assertions with graceful EmptyRatingException fallback
  opennotes-server/tests/unit/notes/scoring/test_empty_rating_assertions.py
  opennotes-server/tests/unit/notes/scoring/test_empty_rating_fallback.py
Due: none

fix(simulation): add timeout and DBOS app version check to resume endpoint
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_resume_restart.py
Due: regenerate-openapi

fix(simulation): guard against empty DBOS app_version in orphan detection
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: regenerate-openapi

revert(scoring): restore communitynotes submodule to upstream, rewrite tests for wrapper-level handling
  opennotes-server/tests/unit/notes/scoring/test_empty_rating_assertions.py
  opennotes-server/tests/unit/notes/scoring/test_empty_rating_fallback.py
Due: none

fix(scoring): catch AssertionError at wrapper level + add density check before tier promotion
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_assertion_error_handling.py
  opennotes-server/tests/unit/notes/scoring/test_density_check.py
Due: regenerate-openapi

feat(scoring): add in-memory tier failure tracking to prevent promote-crash loops
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_tier_downgrade.py
Due: regenerate-openapi

feat(task-1329): add sim-agent update CLI command
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/tests/test_cli.py
Due: none

docs: replace dashboard RLS instructions with Alembic-based approach
  opennotes-playground/docs/supabase-setup.md
Due: none

feat(rls): add RLS policies for playground-facing tables
  opennotes-server/alembic/versions/d6267cf7c0d0_rls_policies_for_playground_facing_.py
Due: none

feat(rls): enable RLS and FORCE RLS on all 41 public tables
  opennotes-server/alembic/versions/458c433da8d8_enable_rls_on_all_public_tables.py
Due: none

feat(rls): enable row-level security on all Supabase tables (#281)
  opennotes-playground/docs/supabase-setup.md
  opennotes-server/alembic/versions/458c433da8d8_enable_rls_on_all_public_tables.py
  opennotes-server/alembic/versions/d6267cf7c0d0_rls_policies_for_playground_facing_.py
Due: none

feat(task-1329): add sim-agent update CLI command (#288)
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/tests/test_cli.py
Due: none

feat(dbos): add safe_enqueue wrapper for transient DB error resilience
  opennotes-server/src/dbos_workflows/enqueue_utils.py
  opennotes-server/tests/unit/dbos_workflows/test_enqueue_utils.py
Due: regenerate-openapi

fix(alembic): merge stuck-scan-fix and rls-policies heads
  opennotes-server/alembic/versions/8613f1914eb0_merge_stuck_scan_fix_and_rls_policies_.py
Due: none

refactor(monitoring): let Traceloop own span export, eliminate double export
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/monitoring/test_otel_gcp_exporter.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
Due: regenerate-openapi

fix(monitoring): verify BaggageSpanProcessor MRO propagates baggage keys
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
Due: none

refactor(monitoring): add shutdown_traceloop and shutdown_monitoring facade with thread safety
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/tests/unit/monitoring/conftest.py
  opennotes-server/tests/unit/monitoring/test_shutdown.py
Due: regenerate-openapi

feat(task-1333): enable GaussianScorer and fix FinalScoringArgs compat
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/scoring_adapter.py
Due: regenerate-openapi

fix(dbos): apply safe_enqueue to scoring and content scan dispatch paths
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(scoring): reset batch-fail flag on cache invalidation, narrow catch, async orphan cancel
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/notes/scoring/test_assertion_error_handling.py
  opennotes-server/tests/unit/notes/scoring/test_empty_rating_fallback.py
Due: regenerate-openapi

fix(dbos): apply safe_enqueue wrapper to all remaining dispatch sites
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
Due: regenerate-openapi

fix(tests): align scorer protocol tests with narrowed AssertionError catch and tuple return
  opennotes-server/tests/unit/notes/scoring/test_scorer_protocol.py
Due: none

feat: upgrade communitynotes submodule and enable GaussianScorer (#289)
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/scoring_adapter.py
Due: regenerate-openapi

fix(task-1334): use HTTPException instead of JSONResponse for 503 response
  opennotes-server/src/community_servers/scoring_router.py
Due: regenerate-openapi

fix(monitoring): fix lint errors and test failures after rebase
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
Due: regenerate-openapi

fix(tests): align integration scorer tests with narrowed AssertionError catch
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: none

fix(task-1334): migrate missed enqueue_content_scan_batch to safe_enqueue
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(monitoring): OpenTelemetry observability overhaul (TASK-1332) (#290)
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/monitoring/conftest.py
  opennotes-server/tests/unit/monitoring/test_attribute_sanitizer.py
  opennotes-server/tests/unit/monitoring/test_otel_gcp_exporter.py
  opennotes-server/tests/unit/monitoring/test_shutdown.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
Due: regenerate-openapi

fix: scoring assertions + simulation resume timeout & DBOS version mismatch (#287)
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/unit/notes/scoring/test_assertion_error_handling.py
  opennotes-server/tests/unit/notes/scoring/test_density_check.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_protocol.py
  opennotes-server/tests/unit/notes/scoring/test_tier_downgrade.py
Due: regenerate-openapi

fix(dbos): harden all enqueue calls against transient psycopg2 failures (#291)
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/enqueue_utils.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_enqueue_utils.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
Due: regenerate-openapi

fix(task-1320,task-1321): address review findings for scoring refactor
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/tests/integration/test_rating_transaction_rollback.py
  opennotes-server/tests/unit/notes/test_remove_realtime_scoring.py
Due: schema-consistency, regenerate-openapi

feat(task-1321): remove real-time scoring from routers, dispatch DBOS rescore
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/scoring_schemas.py
  opennotes-server/tests/unit/notes/test_remove_realtime_scoring.py
Due: schema-consistency, regenerate-openapi

feat(task-1320): optimize CommunityDataProvider to use pyarrow tables
  opennotes-server/pyproject.toml
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/data_provider.py
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/preloaded_data_provider.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/heavy/test_mf_scorer_integration.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
  opennotes-server/tests/unit/notes/scoring/test_data_provider.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms_benchmark.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_protocol.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1320,task-1321): update tests for async scoring and rebase compatibility
  opennotes-server/tests/integration/test_rating_status_threshold.py
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: none

feat(task-1335): add ZWS wrap hints to CLI IDs and remove truncation
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_huuid_integration.py
  opennotes-cli/tests/test_score_command.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
