Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(simulation): populate ai_model in write_note
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(simulation): replace untyped dict with ModelNameResponse Pydantic model
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

docs(migration): document downgrade limitation for mixed-format data
  opennotes-server/alembic/versions/4d7edc118a2e_task_1174_normalize_sim_agent_model_.py
Due: none

fix(flashpoint): convert ModelId to str in FlashpointDetectionService
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
Due: regenerate-openapi

fix(llm-config): ensure get_default_model_for_provider returns str
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
Due: regenerate-openapi

fix(adapter): add gemini/google-gla provider mapping
  opennotes-server/alembic/versions/4d7edc118a2e_task_1174_normalize_sim_agent_model_.py
  opennotes-server/src/llm_config/adapter.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
Due: regenerate-openapi

fix(llm-service): add litellm_provider property and normalize client lookups
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
Due: regenerate-openapi

fix(types): resolve ModelId type errors from refactor
  opennotes-server/src/config.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
Due: regenerate-openapi

feat(discord): add ai_model field to NoteAttributes interface
  opennotes-discord/src/lib/api-client.ts
Due: eslint-discord, typecheck-discord

fix(rebase): merge alembic heads and fix basedpyright type error
  opennotes-server/alembic/versions/f1f5cded5f4a_merge_task_1174_and_main_migration_heads.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
Due: regenerate-openapi

fix(task-1174): remove duplicate type declarations in api-client.ts
  opennotes-discord/src/lib/api-client.ts
Due: eslint-discord, typecheck-discord

feat: introduce ModelId value object for provider/model pairs (#199)
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/0a36caa8cd3b_task_1174_add_ai_model_column_to_notes.py
  opennotes-server/alembic/versions/4d7edc118a2e_task_1174_normalize_sim_agent_model_.py
  opennotes-server/alembic/versions/f1f5cded5f4a_merge_task_1174_and_main_migration_heads.py
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/llm_config/adapter.py
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/llm_config/cost_calculator.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/llm_config/test_lazy_imports.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
  opennotes-server/tests/unit/llm_config/test_usage_tracker.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_cost_calculator.py
  opennotes-server/tests/unit/test_parse_provider_model.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Updates to examples
  .env.yaml.example
  opennotes-server/.env.yaml.example
Due: none

fix(task-1178): send Discord snowflake instead of internal UUID to platform-ID endpoints
  opennotes-discord/src/bot.ts
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

test(task-1178.01): add guild sync snowflake tests for listMonitoredChannels and updateMonitoredChannel
  opennotes-discord/tests/bot.test.ts
Due: none

fix(task-1178.02): publish platform snowflake instead of UUID in force-publish NATS event
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/integration/test_force_publish_nats_event.py
Due: regenerate-openapi

feat(task-1180.02): add build_queue_summary for Phase 1 prompt context
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_queue_summary.py
Due: regenerate-openapi

feat(task-1180.03): add Phase 1 action selection agent and prompt
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
Due: schema-consistency, regenerate-openapi

refactor(task-1180.04): add action-specific Phase 2 prompt builder
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
Due: regenerate-openapi

feat(task-1180.05): add pass_turn retry with verbose queue summaries
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
Due: regenerate-openapi

feat(task-1180.06): wire two-phase action selection into agent_turn_workflow
  opennotes-server/alembic/versions/0c95d9eab6b7_add_recent_actions_to_sim_agent_memory.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

fix(task-1178): send Discord snowflake instead of internal UUID to platform-ID endpoints (#200)
  opennotes-discord/src/bot.ts
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/integration/test_force_publish_nats_event.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): mock select_action_step in token gate test
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
Due: none

fix(simulation): address code review findings
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): two-phase action selection for agent turns (#201)
  opennotes-server/alembic/versions/0c95d9eab6b7_add_recent_actions_to_sim_agent_memory.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gated_queues.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_phase2_prompt.py
  opennotes-server/tests/unit/simulation/test_queue_summary.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

fix(task-1181): harden orchestrator against shutdown and agent failures
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
Due: schema-consistency, regenerate-openapi

test(task-1181): add reasoning model validation tests and wire router
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: regenerate-openapi

fix(task-1181): address code review findings from overlapping review
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(task-1181): harden orchestrator against shutdown and agent failures (#202)
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(task-1182): re-dispatch orchestrator workflow on simulation resume
  opennotes-server/alembic/versions/5f64d5620840_task_1182_add_generation_to_simulation_.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

fix(simulation): address code review findings for resume + orchestrator
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1182): re-dispatch orchestrator workflow on simulation resume (#203)
  opennotes-server/alembic/versions/5f64d5620840_task_1182_add_generation_to_simulation_.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

build(task-1183): upgrade DBOS from 2.11.0 to 2.13.0
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1183): handle CANCELLED workflow status in stuck agent detection
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(cli): address code review findings
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/candidates.py
  opennotes-cli/src/opennotes_cli/commands/health.py
  opennotes-cli/src/opennotes_cli/commands/playground.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/polling.py
  opennotes-cli/tests/test_auth.py
  opennotes-cli/tests/test_cli.py
Due: none

build(task-1183): upgrade DBOS from 2.11.0 to 2.13.0 (#204)
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(cli): unify OpenAPI, TS types, and CLI client generation
  .pre-commit-config.yaml
  mise.toml
Due: none

fix(cli): support pluggable auth via OPENNOTES_AUTH_MODULE env var
  opennotes-cli/src/opennotes_cli/auth.py
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/tests/test_auth.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
