Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(scoring): add temporal component to DBOS scoring workflow ID
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: regenerate-openapi

fix(scoring): use offset=0 for unscored pass to prevent skipping notes
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: regenerate-openapi

test(scoring): add coverage for request completion, auth failure, status transitions, error propagation
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: none

fix(scoring): improve 409 detection, remove hardcoded platform, add CLI error handling
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
Due: regenerate-openapi

fix(simulation): handle UsageLimitExceeded + test gaps + dead code cleanup (#212)
  opennotes-cli/src/opennotes_cli/commands/sim_agent.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

feat: fix DBOS scoring replay + add manual scoring trigger (#213)
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/score_community_server_api_v2_community_servers_community_server_id_score_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/score_community_response.py
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/tests/test_cli.py
  opennotes-cli/tests/test_score_command.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/community_servers/__init__.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(simulation): make agent turn defaults configurable via env vars
  opennotes-server/src/config.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(task-1133): add simulation run analysis and pattern detection endpoint
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_analysis_api_v2_simulations_simulation_id_analysis_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data_action_distribution.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/consensus_metrics_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data_notes_by_classification.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data_distribution.py
  opennotes-cli/src/opennotes_cli/api_client/models/rating_distribution_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rating_distribution_data_overall.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_scorer_breakdown.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_tier_distribution.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(events): populate community_server_id and channel_id in NATS score events
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/test_score_event_routing.py
  opennotes-server/tests/unit/notes/test_scoring_metrics_platform.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: regenerate-openapi

feat(discord): early-return for playground community server events in NATS consumers
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
  opennotes-discord/tests/utils/mock-discord.ts
Due: eslint-discord, typecheck-discord

fix(scoring): remove conditional assertion in test_scoring_metrics_platform
  opennotes-server/tests/unit/notes/test_scoring_metrics_platform.py
Due: none

fix(tests): add missing 403 test and fix brittle test patterns
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: none

fix(simulation): fix operator precedence bug in analysis.py
  opennotes-server/src/simulation/analysis.py
Due: regenerate-openapi

fix(simulation): analysis query robustness improvements
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: regenerate-openapi

feat: Phase 3 simulation features (configurable defaults, event routing, analysis) (#214)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_analysis_api_v2_simulations_simulation_id_analysis_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data_action_distribution.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/analysis_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/consensus_metrics_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data_notes_by_classification.py
  opennotes-cli/src/opennotes_cli/api_client/models/note_quality_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data_distribution.py
  opennotes-cli/src/opennotes_cli/api_client/models/rating_distribution_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/rating_distribution_data_overall.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_scorer_breakdown.py
  opennotes-cli/src/opennotes_cli/api_client/models/scoring_coverage_data_tier_distribution.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
  opennotes-discord/tests/utils/mock-discord.ts
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/unit/notes/test_score_event_routing.py
  opennotes-server/tests/unit/notes/test_scoring_metrics_platform.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

ci: add schemathesis property-based API tests to CI pipeline
  .github/workflows/ci.yml
Due: none

fix(task-1200): accept UUID instead of platform ID in scoring endpoint
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/score_community_server_api_v2_community_servers_community_server_id_score_post.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/tests/test_score_command.py
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
Due: regenerate-openapi

fix(testing): fix flaky Redis concurrency test pool exhaustion
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
Due: none

refactor(config): replace custom SKIP_STARTUP_CHECKS parser with native pydantic-settings
  opennotes-server/src/config.py
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

refactor(task-1200): remove unused test helper and import
  opennotes-cli/tests/test_score_command.py
Due: none

fix(task-1200): accept UUID in scoring endpoint for non-Discord servers (#215)
  opennotes-cli/src/opennotes_cli/api_client/api/community_scoring/score_community_server_api_v2_community_servers_community_server_id_score_post.py
  opennotes-cli/src/opennotes_cli/commands/score.py
  opennotes-cli/tests/test_score_command.py
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/scoring_router.py
  opennotes-server/tests/unit/community_servers/test_scoring_router.py
Due: regenerate-openapi

ci: reduce schemathesis CI max_examples to avoid job timeout
  opennotes-server/tests/schemathesis/test_schemathesis_api.py
Due: none

ci: fix schemathesis timeout — reduce examples and increase job limit
  .github/workflows/ci.yml
  opennotes-server/tests/schemathesis/test_schemathesis_api.py
Due: none

ci: mark schema conformance test as xfail for pre-existing gaps
  opennotes-server/tests/schemathesis/test_schemathesis_api.py
Due: none

ci: make schemathesis API tests manual-only
  .github/workflows/ci.yml
Due: none

feat(cli): add simulation analysis command with markdown report mode
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_cli.py
  opennotes-cli/tests/test_simulation_analysis.py
Due: none

fix(task-1202): fix 100% total row bug and uppercase helpfulness levels
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_analysis.py
Due: none

test(task-1202.03): add test exercising N/A total percentage code path
  opennotes-cli/tests/test_simulation_analysis.py
Due: none

feat(cli): add simulation analysis command with markdown report mode (#217)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_cli.py
  opennotes-cli/tests/test_simulation_analysis.py
Due: none

feat: Phase 4 config cleanup + test reliability (#216)
  .github/workflows/ci.yml
  opennotes-server/src/config.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/schemathesis/test_schemathesis_api.py
  opennotes-server/tests/unit/property/test_normalizer_config_property.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

chore(task-1190): remove legacy opennotes_cli.py from opennotes-server
  opennotes-server/scripts/opennotes_cli.py
  opennotes-server/tests/unit/simulation/test_cli.py
Due: none

feat(cli): truncate UUIDs with center ellipsis in table output
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_formatting.py
Due: none

refactor(tasks): relocate chunk_embedding_service, remove deprecated TaskIQ stubs
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/services/chunk_embedding.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/unit/test_chunk_embedding_service.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

feat(fact-checking): add fact_check_datasets reference table with array validation
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/f804d09e16cc_task_1146_add_fact_check_datasets_.py
  opennotes-server/src/fact_checking/__init__.py
  opennotes-server/src/fact_checking/dataset_models.py
  opennotes-server/src/fact_checking/models.py
  opennotes-server/tests/integration/fact_checking/test_dataset_constraints.py
  opennotes-server/tests/unit/fact_checking/test_dataset_validation.py
Due: schema-consistency, regenerate-openapi

fix(task-1196.05): seed test dataset slugs in template_database fixture
  opennotes-server/tests/conftest.py
Due: none

fix(migration): harvest dataset tags from all constrained tables (task-1196.06)
  opennotes-server/alembic/versions/f804d09e16cc_task_1146_add_fact_check_datasets_.py
Due: none

fix(import): auto-register dataset slugs before batch insert (task-1196.07)
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
Due: regenerate-openapi

fix(api): return 422 for invalid dataset tags on monitored channels (task-1196.08)
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_monitored_channels_jsonapi.py
Due: regenerate-openapi

feat(simulation): include generation in agent turn workflow IDs
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(simulation): add restart audit tables and cumulative columns
  opennotes-server/alembic/versions/a7c54bf2fe15_task_1203_01_add_restart_audit_tables_.py
  opennotes-server/src/simulation/models.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_sim_agent_run_log_model.py
  opennotes-server/tests/simulation/test_simulation_run_config_model.py
Due: schema-consistency, regenerate-openapi
