Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

test(scoring): add multi-instance dedup test for pre-scoring profile remap
  opennotes-server/tests/unit/notes/scoring/test_prescoring_remap.py
Due: none

refactor(schemas): replace agent_instance_id with agent_profile_id in output schemas
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_results_api_v2_simulations_simulation_id_results_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/result_note_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(playground): lazy-load sections, inline TOC, mobile sidebar (#298)
  opennotes-playground/src/components/InlineTOC.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/skeleton.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(scoring): handle agent_profile_id in scoring analysis identity resolution
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/tests/unit/notes/scoring/test_scoring_analysis_profile.py
Due: regenerate-openapi

fix(playground): use em-based sizing for Badge to scale with parent context (#299)
  opennotes-playground/src/components/ui/badge.tsx
Due: none

refactor(tests): update test assertions for agent_profile_id rename
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulation_progress.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
Due: none

fix(tests): update mocks for dual-format identity resolution
  opennotes-server/tests/unit/notes/scoring/test_scoring_snapshot.py
  opennotes-server/tests/unit/simulation/test_request_variance.py
Due: none

refactor(scoring): add type annotation to _build_profile_remap
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

test(simulation): add integration tests for profile aggregation
  opennotes-server/tests/simulation/test_profile_aggregation.py
Due: none

feat(simulation): aggregate analysis functions by agent_profile_id
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/unit/simulation/test_analysis_aggregation.py
Due: regenerate-openapi

fix(tests): make scoring analysis profile tests work in torch-broken env
  opennotes-server/tests/unit/notes/scoring/test_scoring_analysis_profile.py
Due: none

fix: use future timestamp for non-NMR note status history (#295)
  opennotes-server/src/notes/scoring/data_transforms.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/note_status_history_builder.py
  opennotes-server/tests/unit/notes/scoring/test_data_transforms.py
  opennotes-server/tests/unit/notes/scoring/test_mf_scorer_adapter_sanitize.py
  opennotes-server/tests/unit/notes/scoring/test_note_status_history_builder.py
Due: regenerate-openapi

fix: add short_description to mock profiles and format analysis.py
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/tests/unit/simulation/test_analysis_aggregation.py
Due: regenerate-openapi

feat(task-1350): add Charts & Timelines section to simulation view
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_timeline_api_v2_simulations_simulation_id_analysis_timeline_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/get_simulation_timeline_api_v2_simulations_simulation_id_analysis_timeline_get_bucket_size.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data_ratings_by_level.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_response_jsonapi.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/ChartsTimelines.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_timeline.py
  opennotes-server/tests/unit/simulation/test_timeline_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(playground): remove double setOption, add checkAuth and timeline fallback
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat: aggregate sim agent instances by profile in analysis and scoring (TASK-1346) (#297)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_results_api_v2_simulations_simulation_id_results_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_behavior_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/per_agent_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/result_note_attributes.py
  opennotes-cli/tests/test_simulation_analysis.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring/analysis.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_profile_aggregation.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulation_progress.py
  opennotes-server/tests/unit/notes/scoring/test_prescoring_remap.py
  opennotes-server/tests/unit/notes/scoring/test_scoring_analysis_profile.py
  opennotes-server/tests/unit/notes/scoring/test_scoring_snapshot.py
  opennotes-server/tests/unit/simulation/test_analysis_aggregation.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
  opennotes-server/tests/unit/simulation/test_request_variance.py
  opennotes-server/tests/unit/simulation/test_router_profile_aggregation.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(simulation): add bucket_size defense-in-depth validation in compute_timeline
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/unit/test_compute_timeline_validation.py
Due: regenerate-openapi

feat(task-1350): add Charts & Timelines section to simulation view (#300)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_timeline_api_v2_simulations_simulation_id_analysis_timeline_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/get_simulation_timeline_api_v2_simulations_simulation_id_analysis_timeline_get_bucket_size.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data_notes_by_status.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_bucket_data_ratings_by_level.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/timeline_response_jsonapi.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/ChartsTimelines.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/lib/api-client.server.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_timeline.py
  opennotes-server/tests/unit/simulation/test_timeline_schemas.py
  opennotes-server/tests/unit/test_compute_timeline_validation.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1354): expand sim agent population from 20 to 80 agents
  docs/sim-agent-assignment-matrix.md
  docs/sim-agent-personality-descriptions.md
Due: none

feat(task-1353.01): add tool-pair grouping and validation to message_utils
  opennotes-server/src/simulation/memory/message_utils.py
  opennotes-server/tests/unit/simulation/memory/test_message_utils.py
Due: regenerate-openapi

fix(task-1353.03): make summarize-and-prune compactor preserve tool message pairs
  opennotes-server/src/simulation/memory/semantic_dedup.py
  opennotes-server/tests/unit/simulation/memory/test_semantic_dedup.py
Due: regenerate-openapi

fix(task-1353.02): make sliding window compactor preserve tool message pairs
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
Due: regenerate-openapi

fix(task-1353.06): add defensive copy of message_history in select_action
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent_message_history_safety.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
Due: regenerate-openapi

fix(task-1353.05): add post-compaction tool-pair validation with auto-repair
  opennotes-server/src/simulation/memory/message_utils.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_post_compaction_validation.py
Due: regenerate-openapi

fix(task-1353.07): add repair script for corrupted agent message histories
  opennotes-server/src/simulation/scripts/__init__.py
  opennotes-server/src/simulation/scripts/repair_agent_memories.py
  opennotes-server/tests/unit/simulation/test_repair_agent_memories.py
Due: regenerate-openapi

chore(task-1353.09): upgrade pydantic-ai from 1.23.0 to 1.69.0
  opennotes-server/pyproject.toml
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/uv.lock
Due: none

fix(task-1353.08): suppress OTel invalid attribute type warnings
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_otel_attribute_filter.py
Due: regenerate-openapi

fix(task-1353.03): add tool-pair-aware split to summarize-and-prune compactor
  opennotes-server/src/simulation/memory/summarize_and_prune.py
  opennotes-server/tests/unit/simulation/memory/test_summarize_and_prune.py
Due: regenerate-openapi

fix(simulation): tool-pair-aware compactors + pydantic-ai upgrade (#302)
  opennotes-server/pyproject.toml
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/memory/message_utils.py
  opennotes-server/src/simulation/memory/semantic_dedup.py
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/memory/summarize_and_prune.py
  opennotes-server/src/simulation/scripts/__init__.py
  opennotes-server/src/simulation/scripts/repair_agent_memories.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/monitoring/test_otel_attribute_filter.py
  opennotes-server/tests/unit/simulation/memory/test_message_utils.py
  opennotes-server/tests/unit/simulation/memory/test_semantic_dedup.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
  opennotes-server/tests/unit/simulation/memory/test_summarize_and_prune.py
  opennotes-server/tests/unit/simulation/test_agent_message_history_safety.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
  opennotes-server/tests/unit/simulation/test_repair_agent_memories.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_post_compaction_validation.py
  opennotes-server/uv.lock
Due: regenerate-openapi

refactor(playground): scaffold new 4-section layout with eager loading
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/InlineTOC.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): implement section components, badge sizing, and rating collapse
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/ChartsTimelines.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/echart.tsx
Due: none

test(playground): add Playwright E2E validation for section restructure
  opennotes-playground/package.json
  opennotes-playground/playwright.config.ts
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

fix(playground): exclude Playwright tests from vitest runner
  opennotes-playground/package.json
Due: none

refactor(playground): remove dead variable and parameter from review
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(notes): add CopyRequestService for bulk request duplication
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/notes/copy_request_service.py
  opennotes-server/tests/unit/notes/test_copy_request_service.py
Due: regenerate-openapi

feat(dbos): add copy_requests DBOS workflow with batch progress tracking
  opennotes-server/src/dbos_workflows/copy_requests_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_copy_requests_workflow.py
Due: regenerate-openapi

feat(api): add POST /community-servers/{id}/copy-requests endpoint
  opennotes-server/src/community_servers/copy_requests_router.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/community_servers/test_copy_requests_router.py
Due: regenerate-openapi

feat(cli): add --copy-requests-from flag to simulation launch and create
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_copy_requests_flag.py
Due: none

fix(playground): make Playwright E2E tests pass with mock API server
  opennotes-playground/playwright.config.ts
  opennotes-playground/tests/fixtures.json
  opennotes-playground/tests/mock-server.cjs
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none
