Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(task-1028): prevent duplicate community server rows from UUID misuse
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1028): address PR review issues
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: none

fix(task-1028): address code review feedback from PR #129
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1028): address additional code review findings
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: regenerate-openapi

fix(task-1028): complete remaining subtasks 12-25
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
Due: regenerate-openapi

test(task-1028): improve test coverage and migration robustness
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: none

fix(tests): use platform IDs instead of UUIDs in integration tests
  opennotes-server/tests/integration/test_notes_router.py
  opennotes-server/tests/integration/test_request_creation_bug.py
Due: none

fix(task-1028): prevent duplicate community server rows from UUID misuse (#129)
  opennotes-discord/src/services/GuildSetupService.ts
  opennotes-discord/tests/services/GuildSetupService.test.ts
  opennotes-server/alembic/versions/c1bd549e69ec_task_1028_fix_duplicate_community_server.py
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/integration/test_notes_router.py
  opennotes-server/tests/integration/test_request_creation_bug.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1032): use dedicated Redis client for rate limiter with higher socket timeout
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
Due: regenerate-openapi

feat(task-1030): rechunk fact check items when candidate is promoted
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

refactor(broker): use correct SSL kwargs for rate limiter log message
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
Due: regenerate-openapi

refactor(task-1030): implement code review improvements for rechunk tasks
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

fix(task-1032): use dedicated Redis client for rate limiter with higher socket timeout (#130)
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
Due: regenerate-openapi

feat(task-1030): rechunk fact check items when candidate is promoted (#131)
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

feat(task-1038): add NATS_SERVERS config for cluster failover
  opennotes-server/src/config.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

test(task-1038): fix broker tests to mock NATS_SERVERS
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: none

feat(task-1038): add NATS_SERVERS config for cluster failover (#132)
  opennotes-server/src/config.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: regenerate-openapi

feat(task-1042,task-1043): add batch job resilience with idempotent processing and scheduled cleanup
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/progress_tracker.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_progress_tracker.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/tasks/test_scheduler_tasks.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1044): increase NATS connect_timeout to 10s for Cloud Run
  opennotes-server/src/config.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(task-1044): increase NATS connect_timeout to 10s for Cloud Run (#134)
  opennotes-server/src/config.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(task-1042,task-1043): implement all subtask fixes for batch job resilience
  opennotes-server/src/batch_jobs/progress_tracker.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/health.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/tests/integration/tasks/test_scheduler_tasks_integration.py
  opennotes-server/tests/unit/batch_jobs/test_progress_tracker.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

fix(task-1044): add NATS_CONNECT_TIMEOUT config and update tests
  opennotes-server/src/config.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: regenerate-openapi

fix(task-1042): add type annotations for redis sadd/sismember
  opennotes-server/src/cache/redis_client.py
Due: regenerate-openapi

feat(task-1042,task-1043): batch job resilience with idempotent processing and scheduled cleanup (#133)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/progress_tracker.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/tests/integration/tasks/test_scheduler_tasks_integration.py
  opennotes-server/tests/unit/batch_jobs/test_progress_tracker.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/tasks/test_scheduler_tasks.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1035): add user information to trace spans
  opennotes-server/docs/tracing-user-filtering.md
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/user_context.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/test_user_context_middleware.py
Due: regenerate-openapi

feat(task-1045): add batch job metrics and stuck job health endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/health.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix: update tests for standalone get_stuck_jobs_info function
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix: update scheduler_tasks.py to use standalone get_stuck_jobs_info
  opennotes-server/src/tasks/scheduler_tasks.py
Due: regenerate-openapi

feat(task-1045): add batch job metrics and stuck job health endpoint (#135)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/health.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1035): add user information to trace spans (#136)
  opennotes-server/docs/tracing-user-filtering.md
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/src/main.py
  opennotes-server/src/middleware/user_context.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/test_user_context_middleware.py
Due: regenerate-openapi

fix(task-1047): commit batch job state transitions to persist changes
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/tests/integration/batch_jobs/test_batch_job_cancel_persistence.py
Due: regenerate-openapi

fix(task-1047): commit batch job state transitions to persist changes (#138)
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/tests/integration/batch_jobs/test_batch_job_cancel_persistence.py
Due: regenerate-openapi

feat(wp01): add placeholder user and UUID v7 server defaults
  opennotes-server/alembic/versions/254f9cdd210d_user_profiles_id_uuidv7_default.py
  opennotes-server/alembic/versions/2ef4a64dc36e_add_placeholder_unknown_user.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/users/profile_models.py
Due: schema-consistency, regenerate-openapi

feat(wp02): consolidate notes author columns to single FK
  opennotes-server/alembic/versions/436c8fc4c0c4_wp02_notes_consolidate_author_columns.py
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/notes/scoring/data_provider.py
  opennotes-server/src/notes/scoring/note_status_history_builder.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/src/users/__init__.py
Due: schema-consistency, regenerate-openapi

fix(wp02): use user_identities for discord_id lookup in migration
  opennotes-server/alembic/versions/436c8fc4c0c4_wp02_notes_consolidate_author_columns.py
Due: none

feat(wp05): convert webhooks/interactions community_server_id to UUID FK
  opennotes-server/alembic/versions/f8e1e8c74ef1_wp05_webhooks_interactions_community_server_uuid_fk.py
  opennotes-server/src/webhooks/models.py
  opennotes-server/src/webhooks/router.py
  opennotes-server/src/webhooks/types.py
Due: schema-consistency, regenerate-openapi

fix(wp07): fix test failures for UUID format and schema validation
  opennotes-discord/scripts/extract-openapi-schemas.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/tests/integration.test.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
Due: none

feat(wp03): consolidate ratings rater columns into single rater_id FK
  opennotes-server/alembic/versions/wp03_001_ratings_consolidate_rater_columns.py
  opennotes-server/src/auth/ownership_dependencies.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/notes/scoring/data_provider.py
  opennotes-server/src/notes/scoring/ratings_dataframe_builder.py
Due: schema-consistency, regenerate-openapi

feat(wp04): convert community_server_id to UUID FK for channels & publishers
  opennotes-server/alembic/versions/wp04_community_server_uuid_fk.py
  opennotes-server/src/fact_checking/monitored_channel_models.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
  opennotes-server/src/notes/note_publisher_models.py
Due: schema-consistency, regenerate-openapi

feat(wp06): update Discord bot to use author_id and rater_id
  opennotes-discord/scripts/extract-openapi-schemas.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/lib/note-filters.ts
  opennotes-discord/src/lib/notes-formatter.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/src/lib/types.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/RateNoteService.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/commands/note-queue-profiled.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/events/NatsPublisher.test.ts
  opennotes-discord/tests/factories/api-client.ts
  opennotes-discord/tests/factories/note-with-ratings.test.ts
  opennotes-discord/tests/factories/note-with-ratings.ts
  opennotes-discord/tests/factories/test-utils.ts
  opennotes-discord/tests/integration.test.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
  opennotes-discord/tests/integration/message-monitor-queue.test.ts
  opennotes-discord/tests/integration/note-publisher-e2e.test.ts
  opennotes-discord/tests/integration/note-publisher-integration.test.ts
  opennotes-discord/tests/jsonapi-parsing.test.ts
  opennotes-discord/tests/lib/api-client-note-jsonapi.test.ts
  opennotes-discord/tests/lib/note-filters.test.ts
  opennotes-discord/tests/lib/notes-formatter.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/schema-validation.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/services/RateNoteService.test.ts
  opennotes-discord/tests/services/RequestNoteService.test.ts
  opennotes-discord/tests/services/ViewNotesService.test.ts
  opennotes-discord/tests/services/WriteNoteService.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-metrics.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
  opennotes-discord/tests/utils/service-mocks.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
