Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(vibecheck): use autouse fixture instead of setup/teardown_function for class test reset (TASK-1527)
  opennotes-vibecheck-server/tests/unit/test_pydantic_patches.py
Due: none

fix(vibecheck): use output_retries=3 instead of retries=3 to avoid inflating tool retry budget (TASK-1527)
  opennotes-vibecheck-server/src/services/gemini_agent.py
  opennotes-vibecheck-server/tests/unit/test_gemini_agent.py
Due: none

test(task-1529): strengthen idempotency test + add baseline variant + conrelid filter
  opennotes-vibecheck-server/tests/integration/test_schema_partial_status.py
Due: none

feat(vibecheck): surface pydantic ValidationError in logs + json-repair + retries=3 (TASK-1526, TASK-1527) (#464)
  opennotes-vibecheck-server/pyproject.toml
  opennotes-vibecheck-server/src/jobs/orchestrator.py
  opennotes-vibecheck-server/src/services/gemini_agent.py
  opennotes-vibecheck-server/src/services/pydantic_patches.py
  opennotes-vibecheck-server/src/startup.py
  opennotes-vibecheck-server/tests/unit/test_gemini_agent.py
  opennotes-vibecheck-server/tests/unit/test_orchestrator_logging.py
  opennotes-vibecheck-server/tests/unit/test_pydantic_patches.py
  opennotes-vibecheck-server/uv.lock
Due: none

fix(vibecheck): sync vibecheck_jobs status + terminal_finished_at constraints (TASK-1529) (#465)
  opennotes-vibecheck-server/src/cache/schema.sql
  opennotes-vibecheck-server/tests/integration/test_schema_partial_status.py
Due: none

fix(vibecheck): include browser_html archive tier
  opennotes-vibecheck-server/src/routes/frame.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
Due: none

fix(task-1530): reuse cached scrapes on timeout retry
  opennotes-vibecheck-server/src/jobs/orchestrator.py
  opennotes-vibecheck-server/tests/unit/test_orchestrator.py
  opennotes-vibecheck-web/tests/e2e/retry-reuses-scrape.spec.ts
Due: none

test(vibecheck): update orchestrator logging source type seam
  opennotes-vibecheck-server/tests/unit/test_orchestrator_logging.py
Due: none

test(task-1530): fix stale orchestrator logging patch
  opennotes-vibecheck-server/tests/unit/test_orchestrator_logging.py
Due: none

task-1530: keep browser HTML out of URL cache reuse
  opennotes-vibecheck-server/src/jobs/orchestrator.py
  opennotes-vibecheck-server/tests/unit/test_orchestrator.py
Due: none

fix(vibecheck): scope browser html archives by job
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/routes/frame.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
Due: none

fix(vibecheck): render browser_html archives by job (#466)
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/routes/frame.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-server/tests/unit/test_orchestrator_logging.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
Due: none

fix(vibecheck): reuse cached scrapes on timeout retry (#467)
  opennotes-vibecheck-server/src/jobs/orchestrator.py
  opennotes-vibecheck-server/tests/unit/test_orchestrator.py
  opennotes-vibecheck-web/tests/e2e/retry-reuses-scrape.spec.ts
Due: none

feat(services): add Firecrawl client and URL security guard
  opennotes-server/src/config.py
  opennotes-server/src/services/firecrawl_client.py
  opennotes-server/src/url_content_scan/normalize.py
  opennotes-server/src/url_content_scan/scrape_quality.py
  opennotes-server/src/utils/url_security.py
  opennotes-server/tests/services/test_firecrawl_client.py
  opennotes-server/tests/unit/url_content_scan/test_scrape_quality.py
  opennotes-server/tests/unit/utils/test_url_security.py
Due: regenerate-openapi

fix(url-scan): expose scaffold schemas in OpenAPI
  opennotes-server/openapi.json
  opennotes-server/src/url_content_scan/router.py
  opennotes-server/src/url_content_scan/schemas.py
  opennotes-server/tests/unit/url_content_scan/test_schemas.py
Due: schema-consistency, regenerate-openapi

feat(url-scan): add wire-contract schemas and router scaffold
  opennotes-server/src/main.py
  opennotes-server/src/url_content_scan/__init__.py
  opennotes-server/src/url_content_scan/claims_schemas.py
  opennotes-server/src/url_content_scan/opinions_schemas.py
  opennotes-server/src/url_content_scan/router.py
  opennotes-server/src/url_content_scan/safety_schemas.py
  opennotes-server/src/url_content_scan/schemas.py
  opennotes-server/src/url_content_scan/tone_schemas.py
  opennotes-server/tests/unit/url_content_scan/test_schemas.py
Due: schema-consistency, regenerate-openapi

feat(url-scan): add URL scan persistence schema
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/task1487_03_url_scan_tables.py
  opennotes-server/src/url_content_scan/models.py
  opennotes-server/tests/integration/migrations/test_task1487_03_url_scan_tables.py
  opennotes-server/tests/unit/url_content_scan/test_models.py
Due: schema-consistency, regenerate-openapi

test(url-scan): harden Firecrawl and SSRF regressions
  opennotes-server/tests/fixtures/scrape_quality/login_gated_long.json
  opennotes-server/tests/fixtures/scrape_quality/login_gated_sparse.json
  opennotes-server/tests/services/test_firecrawl_client.py
  opennotes-server/tests/unit/url_content_scan/test_scrape_quality.py
  opennotes-server/tests/unit/utils/test_url_security.py
Due: none

feat(batch-jobs): widen status enum for URL scan lifecycle
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/tests/unit/batch_jobs/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(batch-jobs): support URL scan status transitions
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/tests/unit/batch_jobs/test_schemas.py
  opennotes-server/tests/unit/batch_jobs/test_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

Add utterance flashpoint detection path
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: regenerate-openapi

Add url scan claims and opinions analyzers
  opennotes-server/src/url_content_scan/analyses/claims/__init__.py
  opennotes-server/src/url_content_scan/analyses/claims/dedup.py
  opennotes-server/src/url_content_scan/analyses/claims/known_misinfo.py
  opennotes-server/src/url_content_scan/analyses/opinions/__init__.py
  opennotes-server/src/url_content_scan/analyses/opinions/sentiment.py
  opennotes-server/src/url_content_scan/analyses/opinions/subjective.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_dedup.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_known_misinfo.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_sentiment.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_subjective.py
Due: regenerate-openapi

feat(url-scan): add API-key auth and rate limits
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/url_content_scan/auth.py
  opennotes-server/src/url_content_scan/rate_limiter.py
  opennotes-server/tests/unit/test_scope_vocabulary.py
  opennotes-server/tests/unit/test_seed_vibecheck_api_key.py
  opennotes-server/tests/unit/url_content_scan/test_auth.py
  opennotes-server/tests/unit/url_content_scan/test_rate_limiter.py
Due: schema-consistency, regenerate-openapi

feat(url-scan): add utterance schema and extractor
  opennotes-server/src/url_content_scan/utterances/__init__.py
  opennotes-server/src/url_content_scan/utterances/extractor.py
  opennotes-server/src/url_content_scan/utterances/media_extraction.py
  opennotes-server/src/url_content_scan/utterances/schema.py
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/article.json
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/blog_index.json
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/blog_post.json
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/forum_thread.json
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/hierarchical_thread.json
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/other.json
  opennotes-server/tests/unit/url_content_scan/utterances/test_extractor.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_media_extraction.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_schema.py
Due: schema-consistency, regenerate-openapi

fix(url-scan): scope RLS policies to app role
  opennotes-server/alembic/versions/task1487_03_url_scan_tables.py
  opennotes-server/tests/integration/migrations/test_task1487_03_url_scan_tables.py
  opennotes-server/tests/unit/url_content_scan/test_models.py
  opennotes-server/tests/unit/url_content_scan/test_task1487_03_url_scan_tables.py
Due: none

fix(url-scan): clean scrape cache replacement artifacts
  opennotes-server/src/url_content_scan/scrape_cache.py
  opennotes-server/tests/unit/url_content_scan/test_scrape_cache.py
Due: regenerate-openapi

Add url scan safety capabilities
  opennotes-server/src/url_content_scan/analyses/safety/__init__.py
  opennotes-server/src/url_content_scan/analyses/safety/google_client.py
  opennotes-server/src/url_content_scan/analyses/safety/image_moderation.py
  opennotes-server/src/url_content_scan/analyses/safety/moderation.py
  opennotes-server/src/url_content_scan/analyses/safety/recommendation.py
  opennotes-server/src/url_content_scan/analyses/safety/video_moderation.py
  opennotes-server/src/url_content_scan/analyses/safety/video_sampler.py
  opennotes-server/src/url_content_scan/analyses/safety/vision.py
  opennotes-server/src/url_content_scan/analyses/safety/web_risk.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/test_capabilities.py
  opennotes-server/tests/unit/url_content_scan/test_schemas.py
Due: regenerate-openapi

Implement URL scan hybrid scrape cache
  opennotes-server/src/config.py
  opennotes-server/src/url_content_scan/html_sanitize.py
  opennotes-server/src/url_content_scan/scrape_cache.py
  opennotes-server/src/url_content_scan/screenshot_store.py
  opennotes-server/tests/unit/url_content_scan/test_html_sanitize.py
  opennotes-server/tests/unit/url_content_scan/test_scrape_cache.py
Due: regenerate-openapi

Add URL scan tone capabilities
  opennotes-server/src/url_content_scan/analyses/__init__.py
  opennotes-server/src/url_content_scan/analyses/tone/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/tone/test_capabilities.py
Due: regenerate-openapi

Fix utterance extractor review findings
  opennotes-server/src/url_content_scan/utterances/extractor.py
  opennotes-server/src/url_content_scan/utterances/media_extraction.py
  opennotes-server/tests/unit/url_content_scan/utterances/conftest.py
  opennotes-server/tests/unit/url_content_scan/utterances/fixtures/generic_heading_page.json
  opennotes-server/tests/unit/url_content_scan/utterances/test_extractor.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_media_extraction.py
Due: regenerate-openapi

fix(url-scan): address analysis capability review findings
  opennotes-server/src/url_content_scan/analyses/claims/dedup.py
  opennotes-server/src/url_content_scan/analyses/claims/known_misinfo.py
  opennotes-server/src/url_content_scan/analyses/opinions/sentiment.py
  opennotes-server/src/url_content_scan/analyses/opinions/subjective.py
  opennotes-server/src/url_content_scan/analyses/safety/moderation.py
  opennotes-server/src/url_content_scan/analyses/safety/vision.py
  opennotes-server/src/url_content_scan/analyses/safety/web_risk.py
  opennotes-server/src/url_content_scan/analyses/tone/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_dedup.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_known_misinfo.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_sentiment.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_subjective.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/test_capabilities.py
  opennotes-server/tests/unit/url_content_scan/analyses/tone/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/tone/test_capabilities.py
Due: regenerate-openapi

fix(url-scan): address auth cache and extractor review findings
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/url_content_scan/auth.py
  opennotes-server/src/url_content_scan/rate_limiter.py
  opennotes-server/src/url_content_scan/scrape_cache.py
  opennotes-server/src/url_content_scan/screenshot_store.py
  opennotes-server/src/url_content_scan/utterances/extractor.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/test_scope_vocabulary.py
  opennotes-server/tests/unit/url_content_scan/test_auth.py
  opennotes-server/tests/unit/url_content_scan/test_rate_limiter.py
  opennotes-server/tests/unit/url_content_scan/test_scrape_cache.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_extractor.py
Due: schema-consistency, regenerate-openapi

fix(url-scan): expose scd capability as async
  opennotes-server/src/url_content_scan/analyses/tone/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/tone/test_capabilities.py
Due: regenerate-openapi

Add default url-scan safety recommendation agent
  opennotes-server/src/url_content_scan/analyses/safety/google_client.py
  opennotes-server/src/url_content_scan/analyses/safety/recommendation.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/test_capabilities.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/test_google_client.py
Due: regenerate-openapi

Add default URL scan claims and opinions agents
  opennotes-server/src/url_content_scan/analyses/claims/__init__.py
  opennotes-server/src/url_content_scan/analyses/claims/dedup.py
  opennotes-server/src/url_content_scan/analyses/claims/extract.py
  opennotes-server/src/url_content_scan/analyses/opinions/sentiment.py
  opennotes-server/src/url_content_scan/analyses/opinions/subjective.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_dedup.py
  opennotes-server/tests/unit/url_content_scan/analyses/claims/test_extract.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_sentiment_defaults.py
  opennotes-server/tests/unit/url_content_scan/analyses/opinions/test_subjective_defaults.py
Due: regenerate-openapi

fix(task-1531): color moderation labels by category risk
  opennotes-vibecheck-web/src/components/sidebar/reports/ImageModerationReport.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/SafetyModerationReport.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/VideoModerationReport.tsx
  opennotes-vibecheck-web/src/lib/category-colors.test.ts
  opennotes-vibecheck-web/src/lib/category-colors.ts
  opennotes-vibecheck-web/tests/components/sidebar/reports/reports.test.tsx
  opennotes-vibecheck-web/tests/e2e/category-colors.spec.ts
Due: none

fix(url-scan): make default analysis agents import safe
  opennotes-server/src/url_content_scan/analyses/claims/__init__.py
  opennotes-server/src/url_content_scan/analyses/safety/__init__.py
  opennotes-server/src/url_content_scan/analyses/safety/recommendation.py
  opennotes-server/tests/unit/url_content_scan/analyses/safety/test_capabilities.py
Due: regenerate-openapi

fix(task-1531): include GCP composite harm category
  opennotes-vibecheck-web/src/lib/category-colors.test.ts
  opennotes-vibecheck-web/src/lib/category-colors.ts
Due: none

feat(url-scan): add token bucket weight inheritance
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_gate.py
Due: regenerate-openapi
