Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(task-1158): use /api/v1/ prefix for updateCommunityServerName
  opennotes-discord/src/lib/api-client.ts
Due: eslint-discord, typecheck-discord

fix(task-1158): use /api/v1/ prefix for updateCommunityServerName (#193)
  opennotes-discord/src/lib/api-client.ts
Due: eslint-discord, typecheck-discord

fix(task-1157): align ENVIRONMENT value with Settings and fix .env.yaml path
  opennotes-server/mise.toml
Due: none

docs(task-1162): add sim agent personality and epistemic archetypes taxonomies
  docs/sim-agent-epistemic-archetypes.md
  docs/sim-agent-personality-dimensions.md
Due: none

feat(task-1162.02): add 20 sim agent personality files
  docs/sim-agent-personalities/ash.txt
  docs/sim-agent-personalities/dex.txt
  docs/sim-agent-personalities/dove.txt
  docs/sim-agent-personalities/ember.txt
  docs/sim-agent-personalities/felix.txt
  docs/sim-agent-personalities/idris.txt
  docs/sim-agent-personalities/jules.txt
  docs/sim-agent-personalities/kai.txt
  docs/sim-agent-personalities/linden.txt
  docs/sim-agent-personalities/mara.txt
  docs/sim-agent-personalities/noor.txt
  docs/sim-agent-personalities/petra.txt
  docs/sim-agent-personalities/quinn.txt
  docs/sim-agent-personalities/raven.txt
  docs/sim-agent-personalities/rio.txt
  docs/sim-agent-personalities/sable.txt
  docs/sim-agent-personalities/thorne.txt
  docs/sim-agent-personalities/vesper.txt
  docs/sim-agent-personalities/wren.txt
  docs/sim-agent-personalities/zara.txt
Due: none

fix(task-1166): handle datetime serialization in SafeJsonSerializer
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix(task-1166): handle datetime in SafeJsonSerializer for DBOS scheduled workflows (#194)
  docs/sim-agent-personalities/ash.txt
  docs/sim-agent-personalities/dex.txt
  docs/sim-agent-personalities/dove.txt
  docs/sim-agent-personalities/ember.txt
  docs/sim-agent-personalities/felix.txt
  docs/sim-agent-personalities/idris.txt
  docs/sim-agent-personalities/jules.txt
  docs/sim-agent-personalities/kai.txt
  docs/sim-agent-personalities/linden.txt
  docs/sim-agent-personalities/mara.txt
  docs/sim-agent-personalities/noor.txt
  docs/sim-agent-personalities/petra.txt
  docs/sim-agent-personalities/quinn.txt
  docs/sim-agent-personalities/raven.txt
  docs/sim-agent-personalities/rio.txt
  docs/sim-agent-personalities/sable.txt
  docs/sim-agent-personalities/thorne.txt
  docs/sim-agent-personalities/vesper.txt
  docs/sim-agent-personalities/wren.txt
  docs/sim-agent-personalities/zara.txt
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix: initialize default token pool during DBOS worker startup
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/src/main.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1168): allowlist pydantic_ai.exceptions in SafeJsonSerializer
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix(task-1167): validate simulation agent model names and handle unknown model errors
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: schema-consistency, regenerate-openapi

fix(task-1167): move model_name validation to JSON:API router schemas
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix: resolve pre-existing CI failures in token_bucket and worker tests
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

fix: validate simulation model names and allowlist pydantic_ai exceptions (#195)
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/gate.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): increase default request_limit from 3 to 20
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): increase default total_tokens_limit from 4000 to 50000
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: regenerate-openapi

perf(task-1172): optimize simulation agent token usage per turn
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

fix(simulation): remove erroneous UUID validation on request_id in write_note tool
  opennotes-server/src/simulation/agent.py
Due: regenerate-openapi

feat(cli): add simulation progress and results commands
  opennotes-server/scripts/opennotes_cli.py
Due: none

feat(simulation): surface existing notes for requests in agent context
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): add retry-aware dedup for agent turn dispatch
  opennotes-server/alembic/versions/bc6e41fa5474_add_retry_count_to_sim_agent_instances.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

feat(simulation): implement Phase B orchestrator + scoring improvements
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(simulation): add progress and results API endpoints with Redis cache
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_simulation_progress.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(otel): gate LoggingInstrumentor behind ENABLE_TRACING
  opennotes-server/src/main.py
Due: regenerate-openapi

refactor(simulation): normalize retry_count default to match turn_count pattern (task-1173.23)
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

fix(cli): correct agent filter query parameter name (task-1173.10)
  opennotes-server/scripts/opennotes_cli.py
  opennotes-server/tests/unit/simulation/test_cli.py
Due: none

fix(simulation): fix request lifecycle FK direction (task-1173.09)
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

test(simulation): improve request transition test assertions (task-1173.18)
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: none

fix(simulation): fix orchestrator metrics, stuck detection, empty counter, and batch removals
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(simulation): add LIMIT to linked notes query in build_deps_step (task-1173.19)
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): fix progress API agent counting and Redis fallback
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_progress.py
Due: regenerate-openapi

refactor(simulation): extract cache key constant and unify Redis client
  opennotes-server/src/simulation/constants.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): add response_model to progress and results endpoints (task-1173.12)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): resolve type errors and schema consistency failures
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: regenerate-openapi

fix(simulation): properly type orchestrator stuck agent detection
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
