Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(async_compat): harden background loop lifecycle and add safety checks
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(async_compat): close old event loop before replacement to prevent fd leak
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

test(task-1208.06): improve test coverage for database.py and async_compat.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: none

fix: resolve asyncio event loop mismatch in DBOS worker run_sync (#223)
  opennotes-server/src/database.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(database): use close=False in sync_engine.dispose to prevent MissingGreenlet
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_database_dispose.py
Due: regenerate-openapi

feat(simulation): allow resume from pending and cancelled states
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: regenerate-openapi

feat(cli): add --reset-turns flag to simulation resume command
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(task-1209): correct test assertions for CI failures
  opennotes-server/tests/unit/simulation/test_restart.py
  opennotes-server/tests/unit/test_database.py
Due: none

test(simulation): add resume test coverage for pending skip-dispatch and cancelled mixed agents
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: none

feat: allow resume from pending/cancelled states & fix MissingGreenlet (#224)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-server/src/database.py
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_restart.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
Due: regenerate-openapi

feat(task-1213): migrate to Supavisor-compatible connection config
  opennotes-server/alembic/env.py
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(scripts): migrate all scripts to NullPool + disabled prepared statements
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/scripts/generate_embeddings.py
  opennotes-server/scripts/generate_test_data.py
  opennotes-server/scripts/load_snopes_dataset.py
  opennotes-server/scripts/migrate_message_content_to_archive.py
  opennotes-server/scripts/migrate_users_to_profiles.py
  opennotes-server/scripts/run_migrations_with_lock.py
  opennotes-server/scripts/validate_migration.py
  opennotes-server/scripts/validate_scoring.py
Due: none

fix(tests): improve test quality for Supavisor connection config
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: none

fix(task-1213.01): pass pre-configured NullPool engine to DBOSClient
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
Due: regenerate-openapi

feat(task-1213): migrate to Supavisor-compatible connection config (#225)
  opennotes-server/alembic/env.py
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/scripts/generate_embeddings.py
  opennotes-server/scripts/generate_test_data.py
  opennotes-server/scripts/load_snopes_dataset.py
  opennotes-server/scripts/migrate_message_content_to_archive.py
  opennotes-server/scripts/migrate_users_to_profiles.py
  opennotes-server/scripts/run_migrations_with_lock.py
  opennotes-server/scripts/validate_migration.py
  opennotes-server/scripts/validate_scoring.py
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_database_dispose.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

feat(task-1211): add active scavenging of zombie holds during token acquire
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

feat(task-1211): add per-worker dynamic pool capacity with heartbeat
  opennotes-server/alembic/versions/task_1211_001_add_token_pool_workers.py
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_cleanup.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: schema-consistency, regenerate-openapi

fix(task-1211): add missing worker registration mocks to worker registration tests
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: none

fix(task-1211.01): merge Alembic migration heads
  opennotes-server/alembic/versions/6d0da20fd824_merge_task_1211_with_main_heads.py
Due: none

fix(task-1215): strip NullPool-incompatible kwargs from DBOS engine config
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(task-1215): strip NullPool-incompatible kwargs from DBOS engine config (#227)
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(task-1211.02,1211.05,1211.06): add auth to token pool endpoints, wire settings capacity, graceful degradation
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
Due: regenerate-openapi

fix(task-1211.03,1211.04): wrap scavenge in asyncio.to_thread with batch cap and handle UniqueConstraint race
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

fix(task-1211.07): index released_at, fix TOCTOU race, consolidate capacity helper, clamp negative available, add FK cascade
  opennotes-server/alembic/versions/1db7b2f41382_task_1211_007_add_released_at_index_and_fk_cascade.py
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/config.py
  opennotes-server/src/dbos_workflows/token_bucket/models.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_cleanup.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_config.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_models.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
Due: schema-consistency, regenerate-openapi

fix(task-1211): resolve pyright type errors in token bucket
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
Due: regenerate-openapi

feat(cli): replace Trogon with Baalbek TUI library
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/uv.lock
Due: none

fix(task-1211.08): register token bucket cleanup module in _register_dbos_workflows
  opennotes-cli/src/opennotes_cli/api_client/api/admin/get_pool_holds_api_v1_admin_token_pools_pool_name_holds_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/admin/list_token_pools_api_v1_admin_token_pools_get.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1211.09): use .limit() in scavenge query and clean up redundant checks
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_operations.py
Due: regenerate-openapi

feat(cli): replace Trogon with Baalbek TUI library (#228)
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/uv.lock
Due: none

feat(task-1216): reset max_retries_exceeded agents on simulation restart
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/simulation/test_restart.py
Due: regenerate-openapi

fix(task-1211.10): add rollback on IntegrityError, bound queries, eliminate N+1
  opennotes-cli/src/opennotes_cli/api_client/api/admin/get_pool_holds_api_v1_admin_token_pools_pool_name_holds_get.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/token_bucket/cleanup.py
  opennotes-server/src/dbos_workflows/token_bucket/operations.py
  opennotes-server/src/dbos_workflows/token_bucket/router.py
  opennotes-server/tests/unit/dbos_workflows/test_token_bucket_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1217): fix last_messages XLSX export and increase to 30 messages
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-server/src/simulation/analysis.py
Due: regenerate-openapi

fix(task-1217.01): update test to assert -30 slice behavior
  opennotes-server/tests/simulation/test_simulation_analysis.py
Due: none

fix(task-1217.02): harden content handling for null parts and non-string content
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

fix(task-1216.01): update set overlap test for intentional overlap
  opennotes-server/tests/unit/simulation/test_restart.py
Due: none

chore(cli): update baalbek to v0.2.9
  opennotes-cli/uv.lock
Due: none

fix(simulation): rewrite queue summary labels to be action-oriented
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_queue_summary.py
Due: regenerate-openapi

fix(simulation): update action selector prompts and diversity nudge for pass_turn
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_action_selection.py
Due: regenerate-openapi
