Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

feat(playground): add EmptyState component and icon set for empty/error states
  opennotes-playground/src/components/ui/empty-state.tsx
  opennotes-playground/src/components/ui/icons.tsx
Due: none

feat(playground): add designed empty states to index, blog feed, and note details
  opennotes-playground/src/components/BlogFeed.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/routes/index.tsx
Due: none

feat(playground): add designed empty/error states to simulation detail, chat, and error boundary
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): add contextual help tooltips for domain terminology
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/lib/scoring-tiers.ts
Due: none

feat(playground): add scroll-tracking active state to simulation sidebar
  opennotes-playground/src/components/SimulationSidebar.tsx
Due: none

feat(playground): extract Input component, normalize login/register form styling
  opennotes-playground/src/components/ui/input.tsx
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
Due: none

feat(playground): diversify chart color palette for colorblind accessibility
  opennotes-playground/src/app.css
Due: none

feat(playground): improve font toggle discoverability with inline placement and label
  opennotes-playground/src/routes/index.tsx
Due: none

fix(playground): handle Suspense-deferred sections in sidebar scroll spy
  opennotes-playground/src/components/SimulationSidebar.tsx
Due: none

fix(playground): align ECharts theme colors with diversified chart palette
  opennotes-playground/src/components/ui/echart.tsx
Due: none

fix(playground): forward DOM props in Badge, make consensus tooltips keyboard-accessible
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/ui/badge.tsx
Due: none

fix(task-1392.14): fix 40-component limit and replace nav list handlers
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/constants.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/request-queue.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
Due: eslint-discord, typecheck-discord

feat(playground): comprehensive UX and design review improvements [TASK-1394] (#328)
  opennotes-playground/src/app.css
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/BlogFeed.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/components/ui/empty-state.tsx
  opennotes-playground/src/components/ui/icons.tsx
  opennotes-playground/src/components/ui/input.tsx
  opennotes-playground/src/components/ui/section-header.tsx
  opennotes-playground/src/lib/scoring-tiers.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

feat(task-1392.14.01): collapse write-note buttons into two-step flow
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.14.01): populate application commands cache on startup
  opennotes-discord/src/bot.ts
Due: eslint-discord, typecheck-discord

fix(task-1392): show full hub buttons on Menu click, remove Full Menu
  opennotes-discord/src/handlers/navigation-handler.ts
Due: eslint-discord, typecheck-discord

feat(playground): standardize semantic chart colors for helpfulness levels and actions
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ui/inline-histogram.tsx
  opennotes-playground/src/lib/chart-colors.ts
Due: none

feat(playground): standardize semantic chart colors for helpfulness levels and actions (#329)
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ui/inline-histogram.tsx
  opennotes-playground/src/lib/chart-colors.ts
Due: none

feat(playground): show date on chat messages not from today
  opennotes-playground/src/components/SimChannelMessages.tsx
Due: none

feat(playground): show date on chat messages not from today (#330)
  opennotes-playground/src/components/SimChannelMessages.tsx
Due: none

feat(task-1396): add community_server_id filter to scoring status endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/tests/integration/test_scoring_jsonapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1395): remove bot info section from status command
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1396): update ScoringService test cache keys to match guild-scoped implementation
  opennotes-discord/tests/services/ScoringService.test.ts
Due: none

test(task-1396.03): add guild-scoped scoring status test coverage
  opennotes-discord/tests/handlers/navigation-handler.test.ts
  opennotes-discord/tests/services/ScoringService.test.ts
Due: none

feat(task-1396): pass guild community_server_id to scoring status
  opennotes-discord/src/commands/status-bot.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/services/ScoringService.ts
  opennotes-discord/tests/commands/status-bot.test.ts
Due: eslint-discord, typecheck-discord

feat(simulation): rename max_agents to max_active_agents and add max_total_spawns + rating_aggregation
  opennotes-server/alembic/versions/rename_max_agents_add_spawns_aggregation.py
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

feat(simulation): update orchestrator JSON:API schemas for max_active_agents + max_total_spawns
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/simulation/test_orchestrators_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_restart.py
Due: regenerate-openapi

feat(simulation): make rating aggregation configurable per simulation run
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: regenerate-openapi

chore: regenerate OpenAPI spec and TypeScript types for max_active_agents changes
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

fix(simulation): use max_active_agents for active cap, max_total_spawns for cumulative cap
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(cli): update orchestrator commands for max_active_agents + max_total_spawns
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_orchestrator_fields.py
Due: none

fix(simulation): add server_default to max_total_spawns model column
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

fix(tests): add missing request revert mock to scoring integration tests
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: none

fix(simulation): clamp spawn count to remaining max_total_spawns budget
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(tests): rename stale max_agents references to max_active_agents
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/integration/test_simulation_detailed_analysis.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_profile_aggregation.py
  opennotes-server/tests/simulation/test_restart.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulation_orchestrator_model.py
  opennotes-server/tests/simulation/test_simulation_progress.py
  opennotes-server/tests/simulation/test_simulation_run_config_model.py
  opennotes-server/tests/simulation/test_simulation_run_model.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_workflow_ids.py
Due: regenerate-openapi

fix(tests): check full output for stale header, not just first line
  opennotes-cli/tests/test_orchestrator_fields.py
Due: none

fix(tests): add missing request revert side_effect to standalone scoring tests
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: none

perf: use hardlink mode for uv venv installs
  mise.toml
  opennotes-server/pyproject.toml
Due: none

feat: simplify /status and scope scoring to current guild (#331)
  opennotes-discord/src/commands/status-bot.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/ScoringService.ts
  opennotes-discord/tests/commands/status-bot.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/services/ScoringService.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/tests/integration/test_scoring_jsonapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat: fix orchestrator max_agents semantics and reuse sim agent profiles on respawn (#332)
  opennotes-cli/src/opennotes_cli/commands/orchestrator.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_orchestrator_fields.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/rename_max_agents_add_spawns_aggregation.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/integration/test_simulation_detailed_analysis.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_orchestrators_jsonapi_router.py
  opennotes-server/tests/simulation/test_profile_aggregation.py
  opennotes-server/tests/simulation/test_restart.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulation_orchestrator_model.py
  opennotes-server/tests/simulation/test_simulation_progress.py
  opennotes-server/tests/simulation/test_simulation_run_config_model.py
  opennotes-server/tests/simulation/test_simulation_run_model.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/simulation/test_restart.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord
