Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

refactor(task-1089): harden content scan workflow APIs and error handling
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: regenerate-openapi

test(scan): add inner step logic tests, replay tests, and fix test patches
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

updated prompt
  opennotes-server/data/flashpoints/optimized_detector.json
Due: none

feat(task-1072): upgrade flashpoint detection to comparative scoring (#151)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/data/flashpoints/optimized_detector.json
  opennotes-server/openapi.json
  opennotes-server/scripts/flashpoints/README.md
  opennotes-server/scripts/flashpoints/dspy_dataset.py
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/integration/test_flashpoint_integration.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_metric.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1079): add SafeJsonSerializer for DBOS workflows
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix(test): update dual_completion test for per-strategy DBOS steps
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

refactor(task-1089): split content scan batch into per-strategy DBOS steps
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(serializer): remove pickle fallback, add module allowlist, strict typing, recursive exception handling
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix: resolve basedpyright errors and rename build_channel_context_map
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat: DBOS serializer, Redis loop fix, and scan step refactor (tasks 1079, 1088, 1089) (#159)
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/serializer.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_serializer.py
Due: regenerate-openapi

fix(task-1087): consolidate health check response models to fix schema mismatch
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/tests/integration/test_monitoring.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(health): use explicit default= in Pydantic Field for basedpyright compatibility
  opennotes-server/src/monitoring/health.py
Due: regenerate-openapi

fix(health): consolidate health check response models (TASK-1087) (#158)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/monitoring/health.py
  opennotes-server/tests/integration/test_monitoring.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(discord): sort messages by channel and timestamp before batching
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
Due: eslint-discord, typecheck-discord

feat(server): add Redis sorted set cache for cross-batch flashpoint context
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/redis_mock.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat(flashpoint): add RiskLevel enum and switch to RubricDetector (TASK-1092)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/tests/integration/test_flashpoint_integration.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(discord): display flashpoint risk level and reasoning in scan results (TASK-1092)
  opennotes-discord/src/lib/scan-status-formatter.ts
Due: eslint-discord, typecheck-discord

fix(server): fix cross-batch cache key mismatch, ordering, and member keys
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/redis_mock.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: regenerate-openapi

test(server): strengthen cross-batch cache test assertions and coverage
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: none

feat(task-1073): cross-batch conversation context for flashpoint detection (#160)
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/redis_mock.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(schemas): migrate enums from str+Enum to StrEnum (TASK-1092.10)
  opennotes-server/src/bulk_content_scan/schemas.py
Due: schema-consistency, regenerate-openapi

refactor(discord): extract shared flashpoint message formatter (TASK-1092.05)
  opennotes-discord/src/lib/scan-status-formatter.ts
Due: eslint-discord, typecheck-discord

fix(task-1068): add shortName to config schema for Discord choice pickers
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/config-schema.ts
Due: eslint-discord, typecheck-discord

fix(flashpoint): add risk_level validation and normalize LLM output (TASK-1092.01)
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: regenerate-openapi

fix(discord): rename flashpoint Explanation label to Reasoning for clarity (TASK-1092.04)
  opennotes-discord/src/lib/scan-status-formatter.ts
Due: eslint-discord, typecheck-discord

test(flashpoint): add invalid risk_level tests and fix stale docstrings (TASK-1092.02, TASK-1092.07)
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: none

test(flashpoint): add risk_level serialization, Heated coverage, and progressive field tests (TASK-1092.03, TASK-1092.08, TASK-1092.09)
  opennotes-server/tests/integration/test_flashpoint_integration.py
Due: none

fix(task-1068): add shortName to config schema for Discord choice pickers (#162)
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/config-schema.ts
Due: eslint-discord, typecheck-discord

fix(flashpoint): resolve basedpyright errors and missing risk_level in test data
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat: display flashpoint risk level and reasoning in scan results (TASK-1092) (#161)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/flashpoint_utils.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/integration/test_flashpoint_integration.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

refactor(task-1021): implement shared FilterBuilder for JSON:API routers
  opennotes-server/pyproject.toml
  opennotes-server/src/common/filters.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/common/__init__.py
  opennotes-server/tests/unit/common/test_filters.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1070): add DBOS system tables to testcontainer template database
  opennotes-server/tests/conftest.py
Due: none

test(task-1099): add tests for LIKE, ILIKE, CONTAINS, OVERLAP operators
  opennotes-server/tests/unit/common/test_filters.py
Due: none

fix(task-1070): add DBOS system tables to testcontainer template database (#163)
  opennotes-server/tests/conftest.py
Due: none

refactor(task-1021): implement shared FilterBuilder for JSON:API routers (#125)
  opennotes-server/pyproject.toml
  opennotes-server/src/common/filters.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/common/__init__.py
  opennotes-server/tests/unit/common/test_filters.py
  opennotes-server/uv.lock
Due: regenerate-openapi

security(task-1094.11): stop persisting db_url credentials in DBOS workflow inputs
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/middleware/audit.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
Due: regenerate-openapi

fix(tests): update integration tests to mock DBOS workflow instead of removed NATS publisher
  opennotes-server/tests/integration/test_bulk_scan_ai_note_generation.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
