Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(test): add principal_type + auth fields to mock user in jsonapi_router tests
  opennotes-server/tests/unit/bulk_content_scan/test_jsonapi_router.py
Due: none

feat(auth): Phase 1.1 — principal taxonomy schema + dual-write bridges (TASK-1451.03)
  opennotes-server/alembic/versions/071d69f63f60_phase_11e_principal_type_not_null.py
  opennotes-server/alembic/versions/699549351dd8_phase_11a_add_principal_taxonomy_columns.py
  opennotes-server/alembic/versions/a9476c9a7841_phase_11b_backfill_principal_type.py
  opennotes-server/alembic/versions/d8dbceb4128b_phase_11d_backfill_banned_at.py
  opennotes-server/alembic/versions/f9a7af9edcf4_phase_11c_backfill_platform_roles.py
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/auth/permissions.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/models.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/fixtures/principal_factory.py
  opennotes-server/tests/unit/test_auth_security.py
  opennotes-server/tests/unit/test_permissions_helpers.py
Due: schema-consistency, regenerate-openapi

feat(auth): Phase 1.2a — post-backfill data cleanup (TASK-1451.05)
  opennotes-server/alembic/versions/699549351dd8_phase_11a_add_principal_taxonomy_columns.py
  opennotes-server/alembic/versions/6d073922f5d8_phase_12a_deactivate_empty_scope_sa_keys.py
  opennotes-server/scripts/audit_is_human_mismatch.py
  opennotes-server/tests/fixtures/principal_factory.py
  opennotes-server/tests/integration/test_phase_12a_cleanup.py
Due: none

feat(auth): Phase 1.5 — fix unscoped API keys (TASK-1451.08)
  opennotes-server/alembic/versions/470bb55476a0_phase_15a_backfill_null_scopes.py
  opennotes-server/alembic/versions/9214033f36bf_phase_15c_scopes_not_null.py
  opennotes-server/alembic/versions/cfb0d3ca43cf_phase_15b_deactivate_empty_scope_keys.py
  opennotes-server/openapi.json
  opennotes-server/src/auth/models.py
  opennotes-server/src/users/models.py
  opennotes-server/tests/integration/test_phase_15_unscoped_keys.py
  opennotes-server/tests/unit/test_api_key_model.py
  opennotes-server/tests/unit/test_auth_security.py
Due: schema-consistency, regenerate-openapi

test: add principal_factory shared fixtures for authz redesign (TASK-1451.11)
  opennotes-server/tests/fixtures/__init__.py
  opennotes-server/tests/fixtures/principal_factory.py
Due: none

feat(auth): Phase 1.4 — scope tiers + privileged scope gate (TASK-1451.07)
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_phase_14_scope_tiers.py
Due: schema-consistency, regenerate-openapi

feat(auth): Phase 1.2 — replace is_service_account() heuristic with principal_type check (TASK-1451.04)
  opennotes-server/src/auth/permissions.py
  opennotes-server/tests/integration/test_phase_12_heuristic_replacement.py
  opennotes-server/tests/unit/property/test_permissions_property.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
  opennotes-server/tests/unit/test_service_account_bypass_logic.py
Due: regenerate-openapi

feat(auth): Phase 1.6 — cleanup pass: JWT tolerance, reader migration, column drops (TASK-1451.09)
  opennotes-server/alembic/versions/f7ee12c696d5_phase_16_drop_replaced_columns.py
  opennotes-server/openapi.json
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/src/auth/auth.py
  opennotes-server/src/auth/dependencies.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/auth/permissions.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/users/communities_jsonapi_router.py
  opennotes-server/src/users/crud.py
  opennotes-server/src/users/models.py
  opennotes-server/src/users/profile_router.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/fixtures/principal_factory.py
  opennotes-server/tests/unit/community_servers/test_router.py
  opennotes-server/tests/unit/notes/test_notes_jsonapi_validation.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/tests/unit/test_auth_security.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
  opennotes-server/tests/unit/test_final_coverage.py
  opennotes-server/tests/unit/test_ownership_dependencies.py
  opennotes-server/tests/unit/test_phase_16_jwt_tolerance.py
  opennotes-server/tests/unit/test_scoring_history_timestamp_validation.py
  opennotes-server/tests/unit/test_service_account_bypass_logic.py
  opennotes-server/tests/unit/test_simple_coverage.py
  opennotes-server/tests/unit/test_users_crud_simple.py
  opennotes-server/tests/unit/test_verify_community_membership_by_uuid.py
Due: schema-consistency, regenerate-openapi

feat(auth): Phase 1.0.5 — pre-existing state cleanup migrations (TASK-1451.02)
  opennotes-server/alembic/versions/task1451_02a_phase_105a_revoke_platform_adapter_keys.py
  opennotes-server/alembic/versions/task1451_02b_phase_105b_repair_orphan_profiles.py
  opennotes-server/tests/integration/test_phase_105_cleanup.py
Due: none

fix(test): remove references to dropped columns in Phase 1 test files
  opennotes-server/tests/integration/test_phase_14_scope_tiers.py
  opennotes-server/tests/integration/test_phase_15_unscoped_keys.py
  opennotes-server/tests/integration/test_profile_creation_audit.py
Due: none

fix(alembic): exclude Phase 1.1 auth columns from CI autogenerate comparison
  opennotes-server/alembic/env.py
Due: none

fix(auth): add 'human' default to principal_type for legacy User() callers
  opennotes-server/alembic/versions/071d69f63f60_phase_11e_principal_type_not_null.py
  opennotes-server/src/users/models.py
Due: schema-consistency, regenerate-openapi

fix(migration): use raw SQL in reconcile migration to forcibly alter platform_roles JSON->JSONB
  opennotes-server/alembic/versions/8939f7cda382_phase_16b_reconcile_schema_drift.py
Due: none

fix(auth): final sweep of User() dropped kwargs via ast-grep verification
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/src/users/profile_crud.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_admin_api_keys.py
  opennotes-server/tests/integration/test_admin_router.py
  opennotes-server/tests/integration/test_authentication_audit.py
  opennotes-server/tests/integration/test_bulk_scan_ai_note_generation.py
  opennotes-server/tests/integration/test_bulk_scan_error_tracking.py
  opennotes-server/tests/integration/test_bulk_scan_latest.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/integration/test_chunk_task_cancel_endpoints.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
  opennotes-server/tests/integration/test_phase_14_scope_tiers.py
  opennotes-server/tests/integration/test_seed_playground_api_key.py
  opennotes-server/tests/integration/test_vibecheck_debug_mode_integration.py
  opennotes-server/tests/simulation/test_sim_channel_messages_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: regenerate-openapi

fix(auth): add missing role param + reconcile schema drift in CI
  opennotes-server/alembic/versions/8939f7cda382_phase_16b_reconcile_schema_drift.py
  opennotes-server/src/users/profile_router.py
Due: regenerate-openapi

fix(test): mock_user with principal_type='agent' in jsonapi_router tests
  opennotes-server/tests/unit/bulk_content_scan/test_jsonapi_router.py
Due: none

fix(test): sweep 9 more integration tests for dropped User column refs
  opennotes-server/tests/integration/test_authorization_enforcement.py
  opennotes-server/tests/integration/test_community_admin_endpoints.py
  opennotes-server/tests/integration/test_community_config_foreign_key.py
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/integration/test_community_server_name_endpoint.py
  opennotes-server/tests/integration/test_flashpoint_detection_endpoint.py
  opennotes-server/tests/integration/test_header_spoofing_blocked.py
  opennotes-server/tests/integration/test_llm_config_authorization.py
  opennotes-server/tests/integration/test_service_account_admin_access.py
Due: none

fix(test): remove user.role reads from token_data dicts via ast-grep
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/fact_checking/test_monitored_channels_jsonapi.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/integration/test_discord_platform_id_api.py
  opennotes-server/tests/integration/test_welcome_message_endpoint.py
  opennotes-server/tests/notes/test_note_publisher_jsonapi.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: none

fix(migration): backfill NULL scopes on inactive keys too before NOT NULL constraint
  opennotes-server/alembic/versions/470bb55476a0_phase_15a_backfill_null_scopes.py
Due: none

fix(migration): remove CONCURRENTLY from index creation in CI context
  opennotes-server/alembic/versions/699549351dd8_phase_11a_add_principal_taxonomy_columns.py
Due: none

fix(test): ruff-format simulation tests after user.role removal
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: none

fix(migration): merge auth redesign head with task1401_17 from main
  opennotes-server/alembic/versions/79604e21db28_merge_task1451_auth_redesign_with_.py
Due: none

fix(lint): ruff cleanup on merge migration template
  opennotes-server/alembic/versions/79604e21db28_merge_task1451_auth_redesign_with_.py
Due: none

fix(test): remove 'role': X['role'] dict refs from token_data
  opennotes-server/tests/conftest.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/fact_checking/test_monitored_channels_jsonapi.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/integration/test_auth.py
  opennotes-server/tests/integration/test_config_router.py
  opennotes-server/tests/integration/test_force_publish_nats_event.py
  opennotes-server/tests/integration/test_moderation_actions_jsonapi.py
  opennotes-server/tests/integration/test_note_classification_queue.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
  opennotes-server/tests/integration/test_rating_status_threshold.py
  opennotes-server/tests/integration/test_rating_upsert.py
  opennotes-server/tests/integration/test_requests_serialization.py
  opennotes-server/tests/integration/test_stats_jsonapi.py
  opennotes-server/tests/notes/test_note_publisher_jsonapi.py
  opennotes-server/tests/simulation/conftest.py
Due: none

fix(test): update UserResponse assertions and strip is_service_account from Phase 1.2 fixture
  opennotes-server/tests/integration/test_auth.py
  opennotes-server/tests/integration/test_phase_12_heuristic_replacement.py
Due: none

fix: update endpoints and tests for Phase 1 auth changes
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/tests/integration/test_admin_api_keys.py
  opennotes-server/tests/integration/test_phase_13_registration_hardening.py
Due: regenerate-openapi

fix(test): remaining fixture updates for Phase 1 dropped columns
  opennotes-server/tests/integration/test_seed_platform_api_key.py
  opennotes-server/tests/integration/test_service_account_admin_access.py
Due: none

fix(test): ruff format test_seed_platform_api_key.py
  opennotes-server/tests/integration/test_seed_platform_api_key.py
Due: none

test(auth): add coverage for _get_or_create_platform_user (Phase 1.0 helper)
  opennotes-server/tests/integration/test_platform_user_helper.py
Due: none

fix(test): ruff format test_platform_user_helper.py
  opennotes-server/tests/integration/test_platform_user_helper.py
Due: none

fix(test): relax flaky O(1) perf threshold from 1s to 3s
  opennotes-server/tests/integration/test_api_key_o1_lookup.py
Due: none

fix(migration): TASK-1451.15 — uuidv7 + full provider_user_id + fail-loud principal_type
  opennotes-server/alembic/versions/a9476c9a7841_phase_11b_backfill_principal_type.py
  opennotes-server/alembic/versions/task1451_02b_phase_105b_repair_orphan_profiles.py
  opennotes-server/tests/integration/test_phase_15_migration_safety.py
Due: none

fix(auth): TASK-1451.14 — close platform:adapter fresh-email bypass in admin endpoint
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/tests/integration/test_phase_14_scope_tiers.py
Due: regenerate-openapi

fix(migration): TASK-1451.12 — strip api-keys:create from Phase 15a backfill
  opennotes-server/alembic/versions/470bb55476a0_phase_15a_backfill_null_scopes.py
  opennotes-server/alembic/versions/79a8f0ad842e_phase_15a_repair_buggy_backfill.py
  opennotes-server/tests/integration/test_phase_15a_backfill_fix.py
Due: none

fix(auth): TASK-1451.13 — fail-closed verify_api_key on empty scopes
  opennotes-server/src/users/crud.py
  opennotes-server/tests/integration/test_phase_15d_fail_closed_auth.py
Due: regenerate-openapi

fix(auth): TASK-1451.16 — profile auth checks is_banned and banned_at
  opennotes-cli/src/opennotes_cli/api_client/models/api_key_create.py
  opennotes-cli/src/opennotes_cli/api_client/models/user_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/auth/profile_dependencies.py
  opennotes-server/tests/integration/test_phase_16_profile_banned_check.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(migration): TASK-1451.17 — defer Phase 16 column drop until SDK coordination
  opennotes-server/alembic/versions/8939f7cda382_phase_16b_reconcile_schema_drift.py
  opennotes-server/alembic/versions/f7ee12c696d5_phase_16_drop_replaced_columns.py
Due: none

fix(migration): codex review follow-ups for TASK-1451.12 + .17
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/470bb55476a0_phase_15a_backfill_null_scopes.py
Due: none

fix(test): test_users_crud_verify_api_key sets explicit scopes
  opennotes-server/tests/unit/test_final_coverage.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
