Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

test(dbos): update resume_restart and workflow_ids tests for DBOS migration
  opennotes-server/tests/conftest.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/simulation/test_workflow_ids.py
Due: none

build(task-1300): upgrade DBOS to 2.15.0 and drop local NullPool patch
  opennotes-server/docs/known-issues.md
  opennotes-server/pyproject.toml
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/uv.lock
Due: regenerate-openapi

refactor(dbos): switch API server from DBOSClient to full DBOS with listen_queues([]) (#246)
  opennotes-server/docs/known-issues.md
  opennotes-server/pyproject.toml
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
  opennotes-server/tests/integration/test_bulk_scan_authorization.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/simulation/test_playground_url_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(task-1287.06): handle asyncpg auth duplicate recovery
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
Due: regenerate-openapi

fix(task-1287): finish auth race recovery follow-ups
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/users/profile_models.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
Due: schema-consistency, regenerate-openapi

test(task-1287.01): fix async savepoint session mock
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: none

fix(task-1287): recover concurrent community auto-creates
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
Due: regenerate-openapi

fix(task-1287): finish review follow-ups
  opennotes-server/src/community_servers/router.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/unit/community_servers/test_router.py
Due: regenerate-openapi

fix(task-1306): handle zero-message late handoffs safely
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1306): address review regressions in scan terminal handling
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix: recover concurrent community auto-creates (#274)
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/users/profile_models.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_community_membership_race_recovery.py
  opennotes-server/tests/unit/community_servers/test_router.py
  opennotes-server/tests/unit/test_community_dependencies_race_recovery.py
  opennotes-server/tests/unit/test_discord_platform_id_validation.py
Due: schema-consistency, regenerate-openapi

fix: handle zero-message vibecheck finalization handoff (#273)
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1306): keep scan status helper lint-clean
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

feat(task-1284): wire stalled vibecheck follow-up flow
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): propagate vibecheck user context
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/user-context.ts
  opennotes-discord/tests/lib/user-context.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): harden stalled scan delivery races
  opennotes-discord/src/lib/vibecheck-stall-warning.ts
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/lib/vibecheck-stall-warning.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): harden stalled vibecheck follow-up flow
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/src/lib/user-context.ts
  opennotes-discord/src/lib/vibecheck-stall-warning.ts
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): preserve stalled scan retries and retention
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): degrade stalled scan terminal startup
  opennotes-discord/src/bot.ts
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): narrow stalled scan suppression lookup
  opennotes-discord/src/lib/vibecheck-stall-warning.ts
Due: eslint-discord, typecheck-discord

fix(task-1284): collapse scan status return paths
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

feat: wire stalled vibecheck follow-up flow (#275)
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/src/lib/user-context.ts
  opennotes-discord/src/lib/vibecheck-stall-warning.ts
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/lib/user-context.test.ts
  opennotes-discord/tests/lib/vibecheck-stall-warning.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1310): harden DBOS workflow registration discovery
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/main.py
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

fix(task-1310.03): require snapshot persistence for scoring
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
Due: regenerate-openapi

fix(task-1310.02): deduplicate manual scoring dispatches
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: regenerate-openapi

fix(task-1310.01): auto-discover worker workflow registrations
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

fix(task-1311.01): use workqueue-compatible terminal consumers
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1307): harden score update routing across server and Discord
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/events/types.ts
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/integration/note-publisher-e2e.test.ts
  opennotes-discord/tests/integration/note-publisher-error-handling.test.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/utils/note-publisher-fixtures.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/score_event_context.py
  opennotes-server/tests/integration/test_force_publish_nats_event.py
  opennotes-server/tests/unit/notes/test_score_event_context.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1283): stop orphaned terminal batch writes
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1311.02): harden stalled terminal replay recovery
  opennotes-discord/src/lib/vibecheck-stalled-scan.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

test(task-1283.04): mock terminal state in workflow unit tests
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

fix(task-1307.04): reapply guild guard after cache fallback
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1310): close scoring workflow review gaps
  opennotes-server/src/main.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/simulation/test_snapshot_persistence_resilience.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: regenerate-openapi

test(task-1283): cover remaining terminal scan guard branches
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: none

fix(task-1307): complete force-publish review follow-ups
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1310): preserve scoring failure status wins
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1311): harden terminal replay recovery
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1283.07): block late writes from terminal scan steps
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1310): guard stale scoring failure updates
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1311): close stalled terminal retry gaps
  opennotes-discord/src/bot.ts
  opennotes-discord/src/events/NatsSubscriber.ts
  opennotes-discord/src/services/VibecheckStalledScanNotificationService.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/events/NatsSubscriber.test.ts
  opennotes-discord/tests/services/VibecheckStalledScanNotificationService.test.ts
Due: eslint-discord, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
