Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(scoring): implement RaterDiversityScorer for MINIMAL tier bridging signal [task-1347] (#320)
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/rater_diversity_scorer.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/notes/scoring/tier_config.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/integration/notes/scoring/test_rater_diversity_integration.py
  opennotes-server/tests/unit/notes/scoring/test_density_check.py
  opennotes-server/tests/unit/notes/scoring/test_rater_diversity_scorer.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_factory.py
  opennotes-server/tests/unit/simulation/test_score_community_server.py
Due: regenerate-openapi

fix(server): add platform_channel_id to note_to_resource serializer
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/notes/test_note_to_resource.py
Due: regenerate-openapi

fix(discord): use ProQuint request IDs in /list requests display
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

fix(discord): show Requester field only to admins in /list requests
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

fix: Discord bot display issues in /list commands [TASK-1390] (#326)
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/tests/unit/notes/test_note_to_resource.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(discord): add navigation state manager and shared nav utilities
  opennotes-discord/src/lib/navigation-components.ts
  opennotes-discord/src/lib/navigation-state.ts
  opennotes-discord/src/utils/v2-components.ts
  opennotes-discord/tests/lib/navigation-components.test.ts
  opennotes-discord/tests/lib/navigation-state.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add /open-notes hub command and central nav routing
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/open-notes.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/tests/bot.test.ts
  opennotes-discord/tests/commands/open-notes.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add contextual navigation to vibecheck command responses
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): migrate clear to v2 and add nav to all remaining commands
  opennotes-discord/src/commands/about-opennotes.ts
  opennotes-discord/src/commands/clear.ts
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/commands/note-request-context.ts
  opennotes-discord/src/commands/status-bot.ts
  opennotes-discord/tests/commands/about-opennotes.test.ts
  opennotes-discord/tests/commands/clear.test.ts
  opennotes-discord/tests/commands/config-v2.test.ts
  opennotes-discord/tests/commands/note-request-context-v2.test.ts
  opennotes-discord/tests/commands/status-bot.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add contextual navigation to all note command responses
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/commands/note-request.test.ts
  opennotes-discord/tests/commands/note-score.test.ts
  opennotes-discord/tests/commands/note-view.test.ts
  opennotes-discord/tests/commands/note-write.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add contextual navigation to all list command responses
  opennotes-discord/src/commands/list.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/list-notes-v2.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): bump all component state TTLs to 15-minute sliding window
  opennotes-discord/src/commands/clear.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/src/services/ScoringService.ts
  opennotes-discord/tests/commands/clear.test.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): redesign request queue buttons with text labels
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): migrate note force-publish response to v2 container
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
Due: eslint-discord, typecheck-discord

fix(discord): update tests for TTL bump and v2 force-publish response
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/services/ScoringService.test.ts
Due: none

fix(discord): mock cache in DiscordFormatter View Full tests
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: none

fix(task-1392.10): filter nav buttons from config collector
  opennotes-discord/src/commands/config.ts
  opennotes-discord/tests/commands/config-v2.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1392.09): implement nav action command dispatch routing
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.11): nav error handling, consistency, and dead code cleanup
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/clear.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/top-notes.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.12,1392.13): nav filter and error handling for review fixes
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/navigation-handler.ts
Due: eslint-discord, typecheck-discord

refactor(task-1392.21): migrate VibecheckProgressService from EmbedBuilder to v2
  opennotes-discord/src/services/VibecheckProgressService.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
Due: eslint-discord, typecheck-discord

refactor(task-1392.15): remove top-notes command from Discord bot
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/navigation-components.ts
  opennotes-discord/src/lib/welcome-content.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/list-notes-v2.test.ts
  opennotes-discord/tests/commands/note-score.test.ts
  opennotes-discord/tests/commands/top-notes.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
  opennotes-discord/tests/integration/scoring-commands.test.ts
  opennotes-discord/tests/lib/navigation-components.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.17): use v2MessageFlags for deferReply in navigation handler
  opennotes-discord/src/handlers/navigation-handler.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.16): store content in nav state for Menu/Back round-trip
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/navigation-state.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
  opennotes-discord/tests/lib/navigation-state.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1392.20): add v2 containers and nav to config note-publisher handlers
  opennotes-discord/src/commands/config.ts
  opennotes-discord/tests/commands/config-note-publisher.test.ts
Due: eslint-discord, typecheck-discord

refactor(task-1392.22): migrate vibecheck prompt to v2 containers with button days
  opennotes-discord/src/bot.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/vibecheck-prompt.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/vibecheck-prompt.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.14): merge nav into pagination row to fix action row limit
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/queue-renderer.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.18): pass nav context to force-publish success response
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/force-publish-response.ts
Due: eslint-discord, typecheck-discord

refactor(task-1392.19): remove duplicate request_reply buttons from DiscordFormatter
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
Due: eslint-discord, typecheck-discord

refactor(task-1392.23): standardize nav attachment inside container builders
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note-request-context.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/commands/note-request-context-v2.test.ts
  opennotes-discord/tests/commands/note-request.test.ts
  opennotes-discord/tests/commands/note-score.test.ts
  opennotes-discord/tests/commands/note-view.test.ts
  opennotes-discord/tests/commands/note-write.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1392.25): use v2MessageFlags for all deferReply calls in list and note commands
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/utils/v2-components.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/commands/note-rate.test.ts
  opennotes-discord/tests/commands/note-request.test.ts
  opennotes-discord/tests/commands/request-queue.test.ts
  opennotes-discord/tests/utils/v2-components.test.ts
Due: eslint-discord, typecheck-discord

feat(playground): add SectionHeader component for narrative framing
  opennotes-playground/src/components/ui/section-header.tsx
Due: none

feat(playground): convert metadata to compact strip, remove section dividers, add narrative chat header
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): add narrative header to Agents section, de-card chart container
  opennotes-playground/src/components/AgentsSection.tsx
Due: none

feat(playground): narrative header + inline metric chips in Scoring & Consensus
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
Due: none

feat(playground): narrative header + metric chips + chart breathing room in Notes & Ratings
  opennotes-playground/src/components/NotesRatingsSection.tsx
Due: none

feat(playground): narrative subtitle on Note Details, distinct chat container
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimChannelMessages.tsx
Due: none

feat(playground): update sidebar labels and E2E tests for narrative section names
  opennotes-playground/src/components/sections.ts
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

fix(task-1392.14): reduce requests per page to fit v2 container limit
  opennotes-discord/src/handlers/navigation-handler.ts
  opennotes-discord/src/lib/constants.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-nav-integration.test.ts
  opennotes-discord/tests/commands/request-queue.test.ts
  opennotes-discord/tests/handlers/navigation-handler.test.ts
Due: eslint-discord, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
