Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

refactor(task-998): replace middleware.io with generic OpenTelemetry instrumentation
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
  opennotes-discord/src/instrumentation.cjs
  opennotes-server/Dockerfile
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/middleware_apm.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-867): skip bulk scan processing for messages with existing note requests
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/events/schemas.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: schema-consistency, regenerate-openapi

fix(tests): update mock_session fixture for task-867 skip logic
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: none

feat(task-867): add error handling, tests, and logging for skip existing requests
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/tests/unit/bulk_content_scan/test_dual_completion.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
Due: regenerate-openapi

fix(task-998): update monitoring __init__ imports for otel module
  opennotes-server/src/monitoring/__init__.py
Due: regenerate-openapi

fix(task-998): update main.py to use ENABLE_TRACING setting
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(tests): add missing get_skipped_count AsyncMock in finalize test
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
Due: none

feat(task-867): skip bulk scan processing for messages with existing note requests (#109)
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/events/schemas.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/tests/unit/bulk_content_scan/test_dual_completion.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/bulk_content_scan/test_service.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
Due: schema-consistency, regenerate-openapi

refactor(task-998): replace middleware.io with generic OpenTelemetry instrumentation (#111)
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
  opennotes-discord/src/instrumentation.cjs
  opennotes-server/Dockerfile
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/middleware_apm.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(task-998.01): make OTLP export optional for GCP sidecar compatibility
  opennotes-server/.env.yaml.example
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

fix(rechunk): break circular import cycle preventing TaskIQ worker startup
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: regenerate-openapi

fix(task-1001): share gRPC OTLP exporter between OTel setup and Traceloop
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(broker): read TRACE_SAMPLE_RATE from environment variable
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

fix(task-923.04.02): add --require flag to load OTEL instrumentation before app start
  opennotes-discord/Dockerfile
Due: none

fix(task-923.04.02): add --require flag to load OTEL instrumentation before app start (#113)
  opennotes-discord/Dockerfile
Due: none

perf(task-1002): add btree index on fact_check_items.created_at
  opennotes-server/alembic/versions/task_1002_add_created_at_index_to_fact_check_items.py
  opennotes-server/src/fact_checking/models.py
Due: schema-consistency, regenerate-openapi

fix(task-923.04.02): add missing OpenTelemetry direct dependencies
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
Due: none

perf(task-1002): add btree index on fact_check_items.created_at (#114)
  opennotes-server/alembic/versions/task_1002_add_created_at_index_to_fact_check_items.py
  opennotes-server/src/fact_checking/models.py
Due: schema-consistency, regenerate-openapi

fix(task-1003): enable TaskIQ file system discovery for task modules
  docker-compose.yml
  opennotes-server/docs/background-tasks.md
  opennotes-server/scripts/import_fact_check_bureau.py
  opennotes-server/src/fact_checking/import_pipeline/__init__.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

fix(task-1003): enable TaskIQ file system discovery for task modules (#115)
  docker-compose.yml
  opennotes-server/docs/background-tasks.md
  opennotes-server/scripts/import_fact_check_bureau.py
  opennotes-server/src/fact_checking/import_pipeline/__init__.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

feat(task-986): implement batch job refactor subtasks
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/task_984_add_claim_hash_column.py
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/integration/test_claim_hash_migration.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-986): resolve CI failures for PR #104
  opennotes-server/src/cache/redis_client.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: regenerate-openapi

fix(task-986): update redis mock hset to match RedisClient signature
  opennotes-server/tests/redis_mock.py
Due: none

fix(tests): correct async mock setup for rechunk integration tests
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
Due: regenerate-openapi

fix(task-986): resolve CI test failures for batch job refactor
  opennotes-server/alembic/versions/task_984_add_claim_hash_column.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/integration/test_claim_hash_migration.py
  opennotes-server/tests/redis_mock.py
Due: none

test(progress-tracker): improve circuit breaker reset in integration tests
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
Due: none

fix(tests): add refresh AsyncMock to session fixture
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: none

fix(schema): regenerate OpenAPI types to restore JSONAPI naming
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

feat(task-986): implement batch job refactor subtasks (#117)
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: regenerate-openapi

feat(task-1004.01): add rating_details field to preserve original ratings
  opennotes-server/alembic/versions/c91286f2c37a_task_1004_01_add_rating_details_column.py
  opennotes-server/src/fact_checking/candidate_models.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/rating_normalizer.py
  opennotes-server/src/fact_checking/import_pipeline/schemas.py
  opennotes-server/src/fact_checking/models.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
Due: schema-consistency, regenerate-openapi

feat(task-1004): add foreign language rating normalizations
  opennotes-server/src/fact_checking/import_pipeline/rating_normalizer.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
Due: regenerate-openapi

feat(task-1004): Add foreign language rating normalizations (#116)
  opennotes-server/alembic/versions/c91286f2c37a_task_1004_01_add_rating_details_column.py
  opennotes-server/src/fact_checking/candidate_models.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/rating_normalizer.py
  opennotes-server/src/fact_checking/import_pipeline/schemas.py
  opennotes-server/src/fact_checking/models.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
Due: schema-consistency, regenerate-openapi

feat(cli): add fact-check candidates commands for batch jobs
  opennotes-server/opennotes_cli.py
  opennotes-server/src/cli/__init__.py
  opennotes-server/src/cli/fact_check.py
  opennotes-server/src/cli/utils.py
  opennotes-server/tests/unit/cli/__init__.py
  opennotes-server/tests/unit/cli/conftest.py
  opennotes-server/tests/unit/cli/test_fact_check_commands.py
  opennotes-server/tests/unit/cli/test_utils.py
Due: regenerate-openapi

fix(task-1007): address code quality issues in CLI module
  opennotes-server/opennotes_cli.py
  opennotes-server/pyproject.toml
  opennotes-server/src/cli/__init__.py
  opennotes-server/src/cli/fact_check.py
  opennotes-server/src/cli/utils.py
  opennotes-server/tests/unit/cli/conftest.py
  opennotes-server/tests/unit/cli/test_fact_check_commands.py
Due: regenerate-openapi

fix(fact-checking): align rating field length to 100 chars
  opennotes-server/alembic/versions/task_1009_01_align_rating_field_lengths.py
  opennotes-server/src/fact_checking/models.py
Due: schema-consistency, regenerate-openapi

fix(fact-checking): replace assert with explicit exception in promotion.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
Due: regenerate-openapi

fix(fact-checking): ensure updated_at is set in direct SQL updates
  opennotes-server/src/fact_checking/candidate_models.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
Due: schema-consistency, regenerate-openapi

docs(fact-checking): document String vs ENUM decision for status field
  opennotes-server/src/fact_checking/candidate_models.py
Due: schema-consistency, regenerate-openapi

fix(deps): add upper bound to trafilatura version constraint
  opennotes-server/pyproject.toml
Due: none

fix(cli): add stub methods and fix type hints for basedpyright
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/cli/utils.py
  opennotes-server/uv.lock
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
