Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(wp07): update tests for UUID format and user profile resolution
  opennotes-discord/scripts/extract-openapi-schemas.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/events/NatsPublisher.test.ts
  opennotes-discord/tests/integration.test.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
  opennotes-discord/tests/integration/message-monitor-queue.test.ts
  opennotes-discord/tests/integration/note-publisher-e2e.test.ts
  opennotes-discord/tests/integration/note-publisher-integration.test.ts
  opennotes-discord/tests/jsonapi-parsing.test.ts
  opennotes-discord/tests/lib/api-client-note-jsonapi.test.ts
  opennotes-discord/tests/lib/notes-formatter.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/schema-validation.test.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
  opennotes-discord/tests/services/RateNoteService.test.ts
  opennotes-discord/tests/services/RequestNoteService.test.ts
  opennotes-discord/tests/services/WriteNoteService.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-metrics.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
Due: none

feat(wp07): add user profile lookup mechanism for Discord bot
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/user-profile-resolver.ts
  opennotes-discord/src/services/RateNoteService.ts
  opennotes-discord/tests/factories/api-client.ts
  opennotes-discord/tests/services/RateNoteService.test.ts
  opennotes-server/src/users/profiles_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(db): merge multiple alembic heads
  opennotes-server/alembic/versions/34353952be97_merge_wp02_wp03_wp04_wp05_heads.py
Due: none

fix(db): use user_identities for rater lookup in wp03 migration
  opennotes-server/alembic/versions/wp03_001_ratings_consolidate_rater_columns.py
Due: none

fix(db): align index names in models with database
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/models.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(types): use correct verify functions for platform IDs vs UUIDs
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
Due: regenerate-openapi

test(WP06): add integration tests for rechunk batch job workflows
  opennotes-server/tests/integration/batch_jobs/test_rechunk_workflow_integration.py
  opennotes-server/tests/unit/test_circuit_breaker.py
Due: none

feat(WP03): add BatchJob adapter layer for DBOS workflow integration
  opennotes-server/alembic/versions/wp03_add_workflow_id_to_batch_jobs.py
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/batch_job_adapter.py
  opennotes-server/tests/unit/dbos_workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_batch_job_adapter.py
Due: schema-consistency, regenerate-openapi

feat(WP05): integrate DBOS rechunk workflow with API surface
  opennotes-server/.env.yaml.example
  opennotes-server/alembic/versions/eaa66fa1a5b4_add_workflow_id_to_batch_jobs.py
  opennotes-server/pyproject.toml
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/src/batch_jobs/service.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/batch_job_adapter.py
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_batch_job_adapter.py
  opennotes-server/uv.lock
Due: schema-consistency, regenerate-openapi

feat(WP01): add DBOS infrastructure for durable workflows
  opennotes-server/alembic/versions/wp01_create_dbos_schema.py
  opennotes-server/pyproject.toml
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/health.py
  opennotes-server/src/main.py
  opennotes-server/uv.lock
Due: regenerate-openapi

style(WP01): fix ruff formatting in dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/config.py
Due: regenerate-openapi

fix(WP01): rebase DBOS schema migration on current head
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/eaa66fa1a5b4_add_workflow_id_to_batch_jobs.py
  opennotes-server/alembic/versions/wp01_create_dbos_schema.py
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/models.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

test(WP01): add unit and integration tests for DBOS infrastructure
  opennotes-server/tests/integration/test_monitoring.py
  opennotes-server/tests/unit/dbos_workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: none

fix(WP05): resolve type errors in batch_job_adapter.py
  opennotes-server/src/dbos_workflows/batch_job_adapter.py
Due: regenerate-openapi

test(WP06): update integration tests to use DBOS workflows
  opennotes-server/alembic/versions/wp06_add_batch_job_workflow_id.py
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/schemas.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/integration/batch_jobs/test_rechunk_workflow_integration.py
  opennotes-server/tests/unit/dbos_workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_circuit_breaker.py
Due: schema-consistency, regenerate-openapi

fix(WP03): Fix BatchJobService commit order, TOCTOU race, and error recovery
  opennotes-server/src/batch_jobs/service.py
Due: regenerate-openapi

feat(WP04): implement DBOS rechunk workflow with circuit breaker
  opennotes-server/pyproject.toml
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/batch_job_adapter.py
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/__init__.py
  opennotes-server/tests/unit/dbos_workflows/test_circuit_breaker.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(WP04): Address code review issues in circuit breaker and tests
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/dbos_workflows/circuit_breaker.py
  opennotes-server/tests/unit/test_circuit_breaker.py
Due: regenerate-openapi

fix(WP05): add explicit ondelete for FK constraints
  opennotes-server/alembic/versions/task_576_migrate_to_uuid_v7_pks.py
  opennotes-server/src/notes/models.py
Due: schema-consistency, regenerate-openapi

fix(migrations): remove duplicate workflow_id migrations
  opennotes-server/alembic/versions/wp03_add_workflow_id_to_batch_jobs.py
  opennotes-server/alembic/versions/wp06_add_batch_job_workflow_id.py
Due: none

fix(migrations): add unique constraint to workflow_id index
  opennotes-server/alembic/versions/fix_workflow_id_unique.py
Due: none

fix(migrations): add missing ondelete constraints to FK columns
  opennotes-server/alembic/versions/fix_fk_ondelete.py
Due: none

feat(config): add SERVER_MODE for DBOS worker isolation
  opennotes-server/src/config.py
  opennotes-server/src/main.py
Due: regenerate-openapi

fix(tests): resolve CI failures in unit and integration tests
  opennotes-server/tests/integration/test_ai_note_writer.py
  opennotes-server/tests/integration/test_authorization_enforcement.py
  opennotes-server/tests/integration/test_autopost_similarity_search.py
  opennotes-server/tests/integration/test_bulk_clear_endpoints.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/integration/test_e2e_discord_note_publisher.py
  opennotes-server/tests/integration/test_integration_database.py
  opennotes-server/tests/integration/test_previously_seen_api.py
  opennotes-server/tests/integration/test_previously_seen_note_publisher.py
  opennotes-server/tests/integration/test_rating_status_threshold.py
  opennotes-server/tests/integration/test_rating_transaction_rollback.py
  opennotes-server/tests/integration/test_rating_upsert.py
  opennotes-server/tests/integration/test_request_service.py
  opennotes-server/tests/integration/test_request_status_on_publish.py
  opennotes-server/tests/integration/test_stats_jsonapi.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
Due: none

fix(lint): remove unused noqa directives in dbos config
  opennotes-server/src/dbos_workflows/config.py
Due: regenerate-openapi

fix(types): add type: ignore for DBOS decorator __wrapped__ access
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
Due: none

fix(types): add type assertions for nullable discord_id and token_data
  opennotes-server/tests/integration/test_authorization_enforcement.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
Due: none

fix(tests): use profile UUID for author_id in integration tests
  opennotes-server/tests/integration/test_force_publish_query_optimization.py
  opennotes-server/tests/integration/test_note_classification_queue.py
  opennotes-server/tests/integration/test_notes_jsonapi.py
  opennotes-server/tests/integration/test_notes_router.py
Due: none

fix(tests): use profile UUID for rater_id in integration tests
  opennotes-server/tests/integration/test_notes_jsonapi.py
  opennotes-server/tests/integration/test_notes_router.py
Due: none

fix: CI failures from DBOS integration and test UUID validation
  opennotes-server/alembic/versions/eaa66fa1a5b4_add_workflow_id_to_batch_jobs.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/integration/test_rating_status_threshold.py
  opennotes-server/tests/integration/test_rating_transaction_rollback.py
  opennotes-server/tests/integration/test_rating_upsert.py
Due: regenerate-openapi

test(dbos): remove obsolete dbos_system_schema tests
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: none

test: add debug output to flaky user context middleware test
  opennotes-server/tests/unit/test_user_context_middleware.py
Due: none

fix(tests): use UUID profile_id for author_id/rater_id in integration tests
  opennotes-server/tests/integration/test_ratings_jsonapi.py
  opennotes-server/tests/integration/test_request_status_on_publish.py
  opennotes-server/tests/integration/test_scoring_jsonapi.py
Due: none

fix(tests): complete UUID migration fixes for Feature 001
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/tests/integration/test_previously_seen_api.py
  opennotes-server/tests/integration/test_scoring_router_batch_processing.py
  opennotes-server/tests/integration/test_stats_jsonapi.py
  opennotes-server/tests/integration/test_webhook_secret_exposure.py
  opennotes-server/tests/integration/test_webhook_uuid_migration.py
  opennotes-server/tests/unit/test_user_context_middleware.py
Due: regenerate-openapi

fix(tests): fix UUID migration issues in webhook and note publisher tests
  opennotes-server/tests/integration/test_webhooks.py
  opennotes-server/tests/notes/test_note_publisher_jsonapi.py
Due: none

fix(discord): add missing Redis reconnection error patterns
  opennotes-discord/src/redis-client.ts
Due: eslint-discord, typecheck-discord

fix(discord): add missing Redis reconnection error patterns (#139)
  opennotes-discord/src/redis-client.ts
Due: eslint-discord, typecheck-discord

fix(migration): use 'other' instead of 'unknown' for placeholder platform
  opennotes-server/alembic/versions/wp04_community_server_uuid_fk.py
Due: none

fix(task-1054.02): use NATS auth credentials in startup validation
  opennotes-server/src/startup_validation.py
  opennotes-server/tests/unit/test_startup_validation.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
