Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

chore(mise): migrate tasks for pnpm workspace topology
  mise.toml
Due: none

feat(db): migrate sim_agents.model_name from gemini-2.5/google-gla to gemini-3/google-vertex (TASK-1450.09)
  opennotes-server/alembic/versions/task1450_09_migrate_sim_agents_model_name_to_gemini3.py
  opennotes-server/tests/integration/migrations/test_task1450_09_migration.py
Due: none

fix(tests): ruff-format migration test + stub google ADC for CI
  opennotes-server/tests/integration/migrations/test_task1450_09_migration.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

fix(llm_config): infer_model_with_overrides returns str for non-google providers
  opennotes-server/src/llm_config/model_factory.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

test(simulation): regression test for WebSearchTool on google-vertex Gemini 3 (TASK-1450.10, closes TASK-1446.01)
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

test(bulk_content_scan): remove stale to_pydantic_ai mocks superseded by to_pydantic_ai_model (TASK-1450.19)
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: none

feat(llm_config): default vertex_ai to gemini-3.1-pro-preview, drop google-gla from DEFAULT_MODELS_BY_PROVIDER (TASK-1450.05)
  opennotes-server/src/llm_config/constants.py
Due: regenerate-openapi

fix(simulation): correct WEBSEARCH_SUPPORTED_PROVIDERS to use google-vertex (TASK-1450.07)
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

test(llm_config): cover remaining OpenNotesGoogleModel builtin-tool branches
  opennotes-server/tests/unit/llm_config/test_local_models.py
Due: none

test(llm_config): add tests/_model_fixtures.py and prod_default_google_model conftest fixture (TASK-1450.04)
  opennotes-server/tests/_model_fixtures.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/test_model_fixtures.py
Due: none

feat(llm_config): default VERTEXAI_LOCATION to global and thread explicit location through OpenNotesGoogleModel provider (TASK-1450.11)
  opennotes-server/.env.yaml.example
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/model_factory.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

feat(llm_config)\!: remove google-gla provider; google models exclusively via google-vertex (TASK-1450.06)
  opennotes-server/src/llm_config/adapter.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/model_factory.py
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/src/llm_config/providers/factory.py
  opennotes-server/src/simulation/model_display.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
  opennotes-server/tests/unit/llm_config/test_factory.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/simulation/test_model_display.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

refactor(tests): replace hardcoded model strings with _model_fixtures constants and prod_default_google_model fixture (TASK-1450.08)
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
  opennotes-server/tests/unit/llm_config/test_factory.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
  opennotes-server/tests/unit/simulation/test_model_display.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: none

feat(llm_config): route google-vertex agent calls through OpenNotesGoogleModel via to_pydantic_ai_model helper (TASK-1450.03)
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/llm_config/model_factory.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
Due: regenerate-openapi

fix(simulation): use canonical_provider for WEBSEARCH_SUPPORTED_PROVIDERS flavor safety (TASK-1450.17)
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(llm_config): add OpenNotesGoogleModel subclass to bypass pydantic-ai's gemini-2.x tool-combination assertion (TASK-1450.02)
  opennotes-server/src/llm_config/local_models.py
  opennotes-server/tests/unit/llm_config/test_local_models.py
Due: schema-consistency, regenerate-openapi

perf(llm_config): memoize OpenNotesGoogleModel per (project, location, model_name); fail-fast on missing VERTEXAI_PROJECT (TASK-1450.20)
  opennotes-server/src/llm_config/model_factory.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/llm_config/test_model_factory.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(llm_config): route DirectProvider default model through infer_model_with_overrides (TASK-1450.15)
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
Due: regenerate-openapi

fix(db): rewrite sim_agents global/ model names + rewrite integration test to invoke real upgrade() (TASK-1450.14, TASK-1450.16)
  opennotes-server/alembic/versions/task1450_09_migrate_sim_agents_model_name_to_gemini3.py
  opennotes-server/tests/integration/migrations/test_task1450_09_migration.py
Due: none

fix(config): add GOOGLE_CLOUD_PROJECT alias for VERTEXAI_PROJECT; explicit GOOGLE_CLOUD_LOCATION in env templates (TASK-1450.18)
  .env.yaml.prod
  .env.yaml.staging
  opennotes-server/src/config.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

feat(db): rewrite ck_llm_config_provider CHECK to match factory keys (TASK-1450.21)
  opennotes-server/alembic/versions/task1450_21_rewrite_llm_config_provider_check.py
  opennotes-server/tests/integration/migrations/test_task1450_21_migration.py
Due: none

fix(llm_config): align schemas Literal with actual provider factory keys (TASK-1450.13)
  opennotes-cli/src/opennotes_cli/api_client/models/llm_config_create_provider.py
  opennotes-cli/src/opennotes_cli/api_client/models/llm_config_test_request_provider.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/llm_config/schemas.py
  opennotes-server/tests/unit/llm_config/test_schemas_provider_literal.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

chore: regenerate OpenAPI + TS types after rebase onto main (/api/public/v1)
  opennotes-cli/src/opennotes_cli/api_client/api/public/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/create_moderation_action_endpoint_api_public_v1_moderation_actions_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/create_note_jsonapi_api_public_v1_notes_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/create_rating_jsonapi_api_public_v1_ratings_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/create_request_jsonapi_api_public_v1_requests_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/delete_note_jsonapi_api_public_v1_notes_note_id_delete.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/dismiss_note_jsonapi_api_public_v1_notes_note_id_dismiss_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/force_publish_note_jsonapi_api_public_v1_notes_note_id_force_publish_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/generate_ai_note_jsonapi_api_public_v1_requests_request_id_ai_notes_post.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/get_community_server_jsonapi_api_public_v1_community_servers_server_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/get_moderation_action_endpoint_api_public_v1_moderation_actions_action_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/get_note_jsonapi_api_public_v1_notes_note_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/get_rating_stats_jsonapi_api_public_v1_notes_note_id_ratings_stats_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/get_request_jsonapi_api_public_v1_requests_request_id_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/list_moderation_actions_endpoint_api_public_v1_moderation_actions_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/list_note_ratings_jsonapi_api_public_v1_notes_note_id_ratings_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/list_notes_jsonapi_api_public_v1_notes_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/list_requests_jsonapi_api_public_v1_requests_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/lookup_community_server_jsonapi_api_public_v1_community_servers_lookup_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/lookup_user_profile_jsonapi_api_public_v1_user_profiles_lookup_get.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/patch_moderation_action_endpoint_api_public_v1_moderation_actions_action_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/update_note_jsonapi_api_public_v1_notes_note_id_patch.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/update_rating_jsonapi_api_public_v1_ratings_rating_id_put.py
  opennotes-cli/src/opennotes_cli/api_client/api/public/update_request_jsonapi_api_public_v1_requests_request_id_patch.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi-public.json
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

ci: remove 'version: latest' from pnpm/action-setup stanzas
  .github/workflows/ci.yml
Due: none

chore: regenerate openapi with production PROJECT_NAME='Open Notes Server'
  opennotes-cli/src/opennotes_cli/api_client/__init__.py
  opennotes-server/openapi-public.json
  opennotes-server/openapi.json
Due: none

chore(pre-commit): extend eslint/typecheck file filters to cover packages/** (TASK-1468.08.13)
  .pre-commit-config.yaml
Due: none

feat(tokens): scaffold @opennotes/tokens workspace package (TASK-1468.01)
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/animations.css
  packages/tokens/src/fonts-cdn.css
  packages/tokens/src/fonts-self-hosted.css
  packages/tokens/src/index.css
  packages/tokens/src/theme.css
  pnpm-lock.yaml
Due: none

build(docker): pin corepack to packageManager field across workspace Dockerfiles (TASK-1468.08.10)
  opennotes-discord/Dockerfile
  opennotes-discord/Dockerfile.dev
  opennotes-platform/Dockerfile
  opennotes-playground/Dockerfile
Due: none

ci: wire platform jobs + cover root package.json in shared filter (TASK-1468.08.11)
  .github/workflows/ci.yml
Due: none

chore(scripts): add lint aliases to playground + platform (TASK-1468.08.12)
  opennotes-platform/package.json
  opennotes-playground/package.json
Due: none

chore(workspace): pin pnpm + untrack tsbuildinfo + add test-utils type-check (TASK-1468.08.14)
  .gitignore
  mise.toml
  packages/shared-types/tsconfig.tsbuildinfo
  packages/test-utils/package.json
Due: none

fix(platform): tolerate no test files in new test-platform CI job
  opennotes-platform/package.json
Due: none

chore(review): apply low-severity polish from PR #379 review
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  packages/tokens/package.json
Due: none

feat(tokens): scaffold @opennotes/tokens + review-fix follow-ups to PR #378 (TASK-1468.01 + 1468.08.10-14) (#379)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  mise.toml
  opennotes-discord/Dockerfile
  opennotes-discord/Dockerfile.dev
  opennotes-platform/Dockerfile
  opennotes-platform/package.json
  opennotes-playground/Dockerfile
  opennotes-playground/package.json
  packages/shared-types/tsconfig.tsbuildinfo
  packages/test-utils/package.json
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/animations.css
  packages/tokens/src/fonts-cdn.css
  packages/tokens/src/fonts-self-hosted.css
  packages/tokens/src/index.css
  packages/tokens/src/theme.css
  pnpm-lock.yaml
Due: none

docs(tokens): record font strategy decision + move @fontsource to optionalDependencies (TASK-1468.09)
  packages/tokens/README.md
  packages/tokens/package.json
  pnpm-lock.yaml
Due: none

docs(design-system): spec Mintlify integration path for @opennotes/tokens (TASK-1468.03)
  docs/integrations/mintlify-tokens.md
Due: none

refactor(design-system): wire playground + platform CSS to @opennotes/tokens (TASK-1468.02)
  opennotes-platform/package.json
  opennotes-platform/src/app.css
  opennotes-playground/package.json
  opennotes-playground/src/app.css
  pnpm-lock.yaml
Due: none

feat(discourse): attach GCP ID token + send API key via X-API-Key (TASK-1444.07)
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/lib/opennotes/gcp_auth.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/gcp_auth_spec.rb
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
