Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(task-1531): color moderation labels by category risk (#468)
  opennotes-vibecheck-web/src/components/sidebar/reports/ImageModerationReport.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/SafetyModerationReport.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/VideoModerationReport.tsx
  opennotes-vibecheck-web/src/lib/category-colors.test.ts
  opennotes-vibecheck-web/src/lib/category-colors.ts
  opennotes-vibecheck-web/tests/components/sidebar/reports/reports.test.tsx
  opennotes-vibecheck-web/tests/e2e/category-colors.spec.ts
Due: none

feat(vibecheck-web): seed cached analyze job revisits
  opennotes-vibecheck-web/src/components/LoadingSavedAnalysis.tsx
  opennotes-vibecheck-web/src/lib/polling.test.ts
  opennotes-vibecheck-web/src/lib/polling.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
  opennotes-vibecheck-web/src/routes/analyze.tsx
  opennotes-vibecheck-web/tests/a11y/analyze.test.tsx
  opennotes-vibecheck-web/tests/components/LoadingSavedAnalysis.test.tsx
  opennotes-vibecheck-web/tests/e2e/cache-hit-direct-visit.spec.ts
  opennotes-vibecheck-web/tests/routes/analyze.test.tsx
Due: none

Add URL scan slot workflows
  opennotes-server/src/dbos_workflows/url_scan_section_retry_workflow.py
  opennotes-server/src/dbos_workflows/url_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_workflow.py
Due: regenerate-openapi

fix(vibecheck-web): revalidate job state before polling query
  opennotes-vibecheck-web/src/lib/polling.test.ts
  opennotes-vibecheck-web/src/lib/polling.ts
Due: none

feat(vibecheck-web): seed cached analyze job revisits (#469)
  opennotes-vibecheck-web/src/components/LoadingSavedAnalysis.tsx
  opennotes-vibecheck-web/src/lib/polling.test.ts
  opennotes-vibecheck-web/src/lib/polling.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
  opennotes-vibecheck-web/src/routes/analyze.tsx
  opennotes-vibecheck-web/tests/a11y/analyze.test.tsx
  opennotes-vibecheck-web/tests/components/LoadingSavedAnalysis.test.tsx
  opennotes-vibecheck-web/tests/e2e/cache-hit-direct-visit.spec.ts
  opennotes-vibecheck-web/tests/routes/analyze.test.tsx
Due: none

feat(task-1487.22): add headline summary synthesis agent
  opennotes-server/src/url_content_scan/analyses/synthesis/__init__.py
  opennotes-server/src/url_content_scan/analyses/synthesis/headline_summary_agent.py
  opennotes-server/tests/unit/url_content_scan/analyses/synthesis/__init__.py
  opennotes-server/tests/unit/url_content_scan/analyses/synthesis/test_headline_summary_agent.py
Due: regenerate-openapi

feat(task-1533): submit extension screenshots
  opennotes-vibecheck-extension/README.md
  opennotes-vibecheck-extension/manifest.json
  opennotes-vibecheck-extension/popup.js
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/cache/scrape_cache.py
  opennotes-vibecheck-server/src/routes/scrape.py
  opennotes-vibecheck-server/tests/routes/test_scrape.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/tests/e2e/extension-screenshot.spec.ts
Due: none

fix(task-1516): make screenshots cache-first with typed misses
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/routes/frame.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
Due: none

feat(url-scan): add parent DBOS orchestration workflow
  opennotes-server/src/dbos_workflows/url_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_workflow.py
Due: regenerate-openapi

feat(task-1533): submit extension screenshots (#470)
  opennotes-vibecheck-extension/README.md
  opennotes-vibecheck-extension/manifest.json
  opennotes-vibecheck-extension/popup.js
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/cache/scrape_cache.py
  opennotes-vibecheck-server/src/routes/scrape.py
  opennotes-vibecheck-server/tests/routes/test_scrape.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/tests/e2e/extension-screenshot.spec.ts
Due: none

fix(task-1516): make screenshots cache-first with typed misses (#471)
  opennotes-vibecheck-server/openapi.json
  opennotes-vibecheck-server/src/routes/frame.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-web/src/lib/generated-types.ts
  opennotes-vibecheck-web/src/routes/analyze.data.test.ts
  opennotes-vibecheck-web/src/routes/analyze.data.ts
Due: none

fix(url-scan): harden orchestration review paths
  opennotes-server/src/dbos_workflows/url_scan_workflow.py
  opennotes-server/src/url_content_scan/analyses/synthesis/headline_summary_agent.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_workflow.py
  opennotes-server/tests/unit/url_content_scan/analyses/synthesis/test_headline_summary_agent.py
Due: regenerate-openapi

feat(url-scan): add DBOS scheduled cleanup workflows
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/url_scan_scheduler_workflows.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_scheduler_workflows.py
Due: regenerate-openapi

Add recent analyses gallery query logic
  opennotes-server/src/url_content_scan/recent_analyses.py
  opennotes-server/tests/unit/url_content_scan/test_recent_analyses.py
Due: regenerate-openapi

fix(url-scan): use asyncpg placeholder for recent analyses
  opennotes-server/src/url_content_scan/recent_analyses.py
Due: regenerate-openapi

feat(url-scan): port coral extraction integration
  opennotes-server/src/url_content_scan/coral/__init__.py
  opennotes-server/src/url_content_scan/coral/detector.py
  opennotes-server/src/url_content_scan/coral/graphql.py
  opennotes-server/src/url_content_scan/coral/merge.py
  opennotes-server/src/url_content_scan/coral/render.py
  opennotes-server/src/url_content_scan/utterances/extractor.py
  opennotes-server/tests/unit/url_content_scan/coral/test_detector.py
  opennotes-server/tests/unit/url_content_scan/coral/test_graphql.py
  opennotes-server/tests/unit/url_content_scan/coral/test_merge.py
  opennotes-server/tests/unit/url_content_scan/coral/test_render.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_extractor.py
Due: regenerate-openapi

fix(url-scan): address review edge cases
  opennotes-server/src/dbos_workflows/url_scan_scheduler_workflows.py
  opennotes-server/src/url_content_scan/coral/render.py
  opennotes-server/src/url_content_scan/recent_analyses.py
  opennotes-server/src/url_content_scan/utterances/extractor.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_scheduler_workflows.py
  opennotes-server/tests/unit/url_content_scan/coral/test_render.py
  opennotes-server/tests/unit/url_content_scan/test_recent_analyses.py
  opennotes-server/tests/unit/url_content_scan/utterances/test_extractor.py
Due: regenerate-openapi

fix(url-scan): close deeper review leaks
  opennotes-server/src/url_content_scan/coral/render.py
  opennotes-server/src/url_content_scan/recent_analyses.py
  opennotes-server/tests/unit/url_content_scan/coral/test_render.py
  opennotes-server/tests/unit/url_content_scan/test_recent_analyses.py
Due: regenerate-openapi

fix(url-scan): sanitize recent preview fallback
  opennotes-server/src/url_content_scan/recent_analyses.py
  opennotes-server/tests/unit/url_content_scan/test_recent_analyses.py
Due: regenerate-openapi

Add url scan frame helpers
  opennotes-server/src/url_content_scan/frame.py
  opennotes-server/tests/unit/url_content_scan/test_frame.py
Due: regenerate-openapi

Add URL scan analyze submission helper
  opennotes-server/src/url_content_scan/analyze_handler.py
  opennotes-server/tests/unit/url_content_scan/test_analyze_handler.py
Due: regenerate-openapi

Add url scan poll and retry handlers
  opennotes-server/src/url_content_scan/poll_handler.py
  opennotes-server/src/url_content_scan/retry_handler.py
  opennotes-server/tests/unit/url_content_scan/test_poll_handler.py
  opennotes-server/tests/unit/url_content_scan/test_retry_handler.py
Due: regenerate-openapi

Add url scan public routes
  opennotes-server/openapi.json
  opennotes-server/src/url_content_scan/analyze_handler.py
  opennotes-server/src/url_content_scan/recent_analyses.py
  opennotes-server/src/url_content_scan/router.py
  opennotes-server/src/url_content_scan/schemas.py
  opennotes-server/tests/unit/url_content_scan/test_analyze_handler.py
  opennotes-server/tests/unit/url_content_scan/test_poll_handler.py
  opennotes-server/tests/unit/url_content_scan/test_retry_handler.py
  opennotes-server/tests/unit/url_content_scan/test_schemas.py
Due: schema-consistency, regenerate-openapi

Fix url scan route review findings
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/url_scan_section_retry_workflow.py
  opennotes-server/src/dbos_workflows/url_scan_workflow.py
  opennotes-server/src/url_content_scan/analyze_handler.py
  opennotes-server/src/url_content_scan/retry_handler.py
  opennotes-server/src/url_content_scan/router.py
  opennotes-server/tests/unit/dbos_workflows/test_url_scan_workflow.py
  opennotes-server/tests/unit/url_content_scan/test_analyze_handler.py
  opennotes-server/tests/unit/url_content_scan/test_schemas.py
Due: regenerate-openapi

Harden url scan frame route compatibility
  opennotes-server/openapi.json
  opennotes-server/src/url_content_scan/frame.py
  opennotes-server/src/url_content_scan/router.py
  opennotes-server/tests/unit/url_content_scan/test_frame.py
Due: regenerate-openapi

Use url scan auth error envelope
  opennotes-server/src/main.py
  opennotes-server/src/url_content_scan/auth.py
  opennotes-server/tests/unit/url_content_scan/test_auth.py
Due: regenerate-openapi

fix(task-1500.13.07): materialize utterances for cached Coral jobs
  opennotes-vibecheck-server/src/jobs/submit.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-server/tests/unit/test_submit_utterance_materialization.py
Due: none

feat(task-1517.01): bring marketing-site nav items + typography into NavBar
  opennotes-platform/src/app.tsx
  opennotes-platform/tests/nav.spec.ts
  packages/ui/src/components/nav-bar.test.tsx
  packages/ui/src/components/nav-bar.tsx
Due: none

fix(task-1517.01): right-align nav items beside Sign In button
  packages/ui/src/components/nav-bar.tsx
Due: none

fix(task-1538): rename Moderator A/B to explicit provider names
  opennotes-vibecheck-web/src/components/sidebar/SectionGroup.test.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/SafetyModerationReport.tsx
  opennotes-vibecheck-web/tests/components/sidebar/reports/reports.test.tsx
  opennotes-vibecheck-web/tests/e2e/task-1474-moderation.spec.ts
Due: none

test(task-1517.01): strengthen Playwright nav color+alignment assertions
  opennotes-platform/tests/nav.spec.ts
Due: none

fix(task-1538): update stale test descriptions after provider rename
  opennotes-vibecheck-web/src/components/sidebar/SectionGroup.test.tsx
  opennotes-vibecheck-web/tests/components/sidebar/reports/reports.test.tsx
Due: none

fix(task-1500.13.07): tighten comment-ref filter and fix contended branch
  opennotes-vibecheck-server/src/jobs/submit.py
  opennotes-vibecheck-server/src/routes/analyze.py
  opennotes-vibecheck-server/tests/unit/test_submit_utterance_materialization.py
Due: none

fix(task-1538): rename Moderator A/B to explicit provider names in safety section (#475)
  opennotes-vibecheck-web/src/components/sidebar/SectionGroup.test.tsx
  opennotes-vibecheck-web/src/components/sidebar/reports/SafetyModerationReport.tsx
  opennotes-vibecheck-web/tests/components/sidebar/reports/reports.test.tsx
  opennotes-vibecheck-web/tests/e2e/task-1474-moderation.spec.ts
Due: none

fix(task-1517.01): review fixes — external links, Open Tools dropdown, aria-label
  opennotes-platform/src/app.tsx
  opennotes-platform/tests/nav.spec.ts
  packages/ui/src/components/nav-bar.test.tsx
  packages/ui/src/components/nav-bar.tsx
  packages/ui/vitest.config.ts
Due: none

feat(task-1517.01): bring marketing-site nav items + typography into @opennotes/ui NavBar (#474)
  opennotes-platform/src/app.tsx
  opennotes-platform/tests/nav.spec.ts
  packages/ui/src/components/nav-bar.test.tsx
  packages/ui/src/components/nav-bar.tsx
  packages/ui/vitest.config.ts
Due: none

fix(task-1500.13.07): address review findings on utterance copy safety
  opennotes-vibecheck-server/src/jobs/submit.py
  opennotes-vibecheck-server/tests/unit/test_submit_utterance_materialization.py
Due: none

fix(vibecheck): materialize utterances for cached Coral jobs on cache-hit submit (#473)
  opennotes-vibecheck-server/src/jobs/submit.py
  opennotes-vibecheck-server/src/routes/analyze.py
  opennotes-vibecheck-server/tests/routes/test_frame.py
  opennotes-vibecheck-server/tests/unit/test_submit_utterance_materialization.py
Due: none

fix(vibecheck-web): handle createAsync 404 without root ErrorBoundary fallback (TASK-1539)
  opennotes-vibecheck-web/src/routes/analyze.tsx
  opennotes-vibecheck-web/tests/routes/analyze.test.tsx
Due: none

test(vibecheck-web): regression e2e for stale job URL graceful error (TASK-1539)
  opennotes-vibecheck-web/tests/e2e/stale-job-graceful-error.spec.ts
Due: none
