Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(opennotes): add Greenmask anonymization config generator
  mise.toml
  opennotes-server/tests/unit/fixtures/__init__.py
  opennotes-server/tests/unit/fixtures/conftest.py
  opennotes-server/tests/unit/fixtures/test_generate_greenmask_config.py
  scripts/__init__.py
  scripts/fixtures/__init__.py
  scripts/fixtures/anonymization_rules.py
  scripts/fixtures/generate_greenmask_config.py
Due: none

fix(opennotes): address code review findings for Greenmask config generator
  mise.toml
  opennotes-server/tests/unit/fixtures/test_generate_greenmask_config.py
  scripts/fixtures/anonymization_rules.py
  scripts/fixtures/generate_greenmask_config.py
Due: none

feat(opennotes): add fixture:export mise task with Greenmask + GCS upload
  .env.ci
  .env.example
  .env.md
  mise.toml
  opennotes-server/src/config.py
  scripts/fixtures/upload_to_gcs.py
Due: regenerate-openapi

feat(task-1386.06): add fixture:load mise task with GCS download + pg_restore
  mise.toml
  scripts/fixtures/download_from_gcs.py
Due: none

fix(opennotes): fix fixture:load flag parsing and add create-if-not-exists
  mise.toml
Due: none

docs(opennotes): add standalone setup documentation
  README.md
  docs/STANDALONE-SETUP.md
Due: none

fix(db): improve RLS idempotency guards and add cross-community test (TASK-1428)
  opennotes-server/alembic/versions/task1428_01_rls_moderation_actions_webhook_deliveries.py
  opennotes-server/tests/integration/test_rls_policies.py
Due: none

fix(opennotes): address code review findings from PR #358
  README.md
  mise.toml
  opennotes-server/tests/conftest.py
  scripts/fixtures/anonymization_rules.py
  scripts/fixtures/download_from_gcs.py
Due: none

fix(monitoring): handle CLOUD_RUN_WORKER_POOL='false' in is_cloud_run_environment()
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

fix(discourse): use full slug path for category matching instead of leaf slug
  opennotes-discourse/plugin/app/jobs/regular/sync_flag_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_post_to_opennotes.rb
  opennotes-discourse/plugin/config/locales/server.en.yml
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/jobs/sync_flag_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/jobs/sync_post_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/plugin_spec.rb
Due: none

feat(task-1433.01): add platform:adapter API key scope
  opennotes-server/src/auth/models.py
  opennotes-server/tests/unit/test_api_key_model.py
Due: schema-consistency, regenerate-openapi

feat(task-1433.04): replace JWT signing with adapter headers in Discourse plugin
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/app/controllers/opennotes/community_reviews_controller.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_flag_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_post_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/scheduled/sync_scoring_status.rb
  opennotes-discourse/plugin/app/models/reviewable_opennotes_item.rb
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/lib/opennotes/platform_claims.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/platform_claims_spec.rb
Due: none

feat(discourse): add seed content corpus from community forum sources
  opennotes-discourse/plugin/data/seed-corpus/corpus.json
Due: none

feat(task-1433.02): add PlatformIdentity dataclass and resolve_platform_identity
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/tests/unit/test_platform_identity.py
Due: regenerate-openapi

feat(discourse): add opennotes:seed rake task for corpus-based seeding
  opennotes-discourse/plugin/lib/tasks/opennotes_seed.rake
Due: none

test(monitoring): add edge case tests for CLOUD_RUN_WORKER_POOL detection
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: none

feat(task-1433.03): refactor consumers to use PlatformIdentity
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/middleware/platform_context.py
  opennotes-server/tests/unit/test_platform_claims.py
  opennotes-server/tests/unit/test_verify_community_membership_by_uuid.py
Due: regenerate-openapi

fix(discourse): add begin/ensure guard to opennotes:seed rake task
  opennotes-discourse/plugin/lib/tasks/opennotes_seed.rake
Due: none

fix: harden get_platform_admin_status against MagicMock in tests
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/tests/integration/test_header_spoofing_blocked.py
  opennotes-server/tests/integration/test_service_account_admin_access.py
Due: regenerate-openapi

fix(task-1433.06, task-1433.07): lazy adapter header resolution and defense-in-depth header stripping
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/middleware/internal_auth.py
  opennotes-server/tests/unit/test_internal_auth_middleware.py
  opennotes-server/tests/unit/test_platform_claims.py
Due: regenerate-openapi

fix(task-1433.08, task-1433.09): remove X-Adapter-* from middleware stripping, require explicit adapter scope
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/middleware/internal_auth.py
  opennotes-server/tests/unit/test_internal_auth_middleware.py
  opennotes-server/tests/unit/test_platform_identity.py
Due: regenerate-openapi

fix(task-1435): derive platform from PlatformIdentity instead of X-Platform-Type header
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/unit/test_platform_identity.py
Due: regenerate-openapi

fix(task-1433.11): lazily resolve adapter headers in get_request_platform()
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/tests/unit/test_platform_identity.py
Due: regenerate-openapi

fix(monitoring): handle CLOUD_RUN_WORKER_POOL='false' in is_cloud_run_environment() (#359)
  opennotes-server/src/monitoring/gcp_resource_detector.py
  opennotes-server/tests/unit/monitoring/test_gcp_resource_detector.py
Due: regenerate-openapi

feat(discourse): fix slug matching, add seed corpus and rake task (#360)
  opennotes-discourse/plugin/app/jobs/regular/sync_flag_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_post_to_opennotes.rb
  opennotes-discourse/plugin/config/locales/server.en.yml
  opennotes-discourse/plugin/data/seed-corpus/corpus.json
  opennotes-discourse/plugin/lib/tasks/opennotes_seed.rake
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/jobs/sync_flag_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/jobs/sync_post_to_opennotes_spec.rb
  opennotes-discourse/plugin/spec/plugin_spec.rb
Due: none

feat: replace JWT platform claims with server-side identity resolution (TASK-1433, TASK-1435) (#361)
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/app/controllers/opennotes/community_reviews_controller.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_flag_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/regular/sync_post_to_opennotes.rb
  opennotes-discourse/plugin/app/jobs/scheduled/sync_scoring_status.rb
  opennotes-discourse/plugin/app/models/reviewable_opennotes_item.rb
  opennotes-discourse/plugin/lib/opennotes/client.rb
  opennotes-discourse/plugin/lib/opennotes/platform_claims.rb
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/lib/opennotes/client_spec.rb
  opennotes-discourse/plugin/spec/lib/opennotes/platform_claims_spec.rb
  opennotes-server/src/auth/community_dependencies.py
  opennotes-server/src/auth/models.py
  opennotes-server/src/auth/platform_claims.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/middleware/internal_auth.py
  opennotes-server/src/middleware/platform_context.py
  opennotes-server/tests/auth/test_service_account_community_access.py
  opennotes-server/tests/integration/test_header_spoofing_blocked.py
  opennotes-server/tests/integration/test_service_account_admin_access.py
  opennotes-server/tests/unit/test_api_key_model.py
  opennotes-server/tests/unit/test_internal_auth_middleware.py
  opennotes-server/tests/unit/test_platform_claims.py
  opennotes-server/tests/unit/test_platform_identity.py
  opennotes-server/tests/unit/test_verify_community_membership_by_uuid.py
Due: schema-consistency, regenerate-openapi

docs(discourse): move MVP spec and test plan to multiverse docs/plans/
  opennotes-discourse/docs/MVP-SPEC.md
  opennotes-discourse/docs/TEST-PLAN.md
Due: none

docs: rewrite README to lead with AI moderation, add Discourse guides (TASK-1437)
  README.md
  opennotes-discourse/docs/ADMIN-GUIDE.md
  opennotes-discourse/docs/USER-GUIDE.md
Due: none

docs(discourse): flesh out plugin README with admin/user overview (TASK-1437)
  opennotes-discourse/README.md
Due: none

docs: rewrite README to lead with AI moderation (TASK-1437) (#362)
  README.md
  opennotes-discourse/README.md
  opennotes-discourse/docs/ADMIN-GUIDE.md
  opennotes-discourse/docs/MVP-SPEC.md
  opennotes-discourse/docs/TEST-PLAN.md
  opennotes-discourse/docs/USER-GUIDE.md
Due: none

fix(discourse): use ENV for bundler config instead of per-user --global
  opennotes-discourse/docker/production/Dockerfile
Due: none

fix(discourse): use --local bundle config, drop deployment mode
  opennotes-discourse/docker/production/Dockerfile
Due: none

fix(discourse): preserve BUNDLE_APP_CONFIG for discourse user
  opennotes-discourse/docker/production/Dockerfile
  opennotes-discourse/docker/production/boot
Due: none

fix(discourse): set HOME and PGSSLCERT/KEY for discourse user
  opennotes-discourse/docker/production/Dockerfile
  opennotes-discourse/docker/production/boot
Due: none

fix(discourse): use pitchfork instead of puma for production web server
  opennotes-discourse/docker/production/Dockerfile
Due: none

fix(discourse): add imagemagick for letter avatars and image processing
  opennotes-discourse/docker/production/Dockerfile
Due: none

feat(platform): scaffold SolidStart app with Supabase auth
  opennotes-platform/.env.example
  opennotes-platform/.gitignore
  opennotes-platform/Dockerfile
  opennotes-platform/app.config.ts
  opennotes-platform/package.json
  opennotes-platform/pnpm-lock.yaml
  opennotes-platform/postcss.config.mjs
  opennotes-platform/src/app.css
  opennotes-platform/src/app.tsx
  opennotes-platform/src/entry-client.tsx
  opennotes-platform/src/entry-server.tsx
  opennotes-platform/src/env.d.ts
  opennotes-platform/src/lib/auth-guard.ts
  opennotes-platform/src/lib/safe-redirect.ts
  opennotes-platform/src/lib/supabase-browser.ts
  opennotes-platform/src/lib/supabase-server.ts
  opennotes-platform/src/middleware/index.ts
  opennotes-platform/src/routes/auth/callback.ts
  opennotes-platform/src/routes/dashboard.tsx
  opennotes-platform/src/routes/index.tsx
  opennotes-platform/src/routes/login.tsx
  opennotes-platform/src/routes/register.tsx
  opennotes-platform/tsconfig.json
  opennotes-platform/vitest.config.ts
Due: none

feat(users): remove 50-char username length limit
  opennotes-server/alembic/versions/task1422_02_remove_username_length_limit.py
  opennotes-server/src/users/models.py
  opennotes-server/tests/unit/test_username_length.py
Due: schema-consistency, regenerate-openapi

feat(auth): expand API key scope vocabulary and add restricted scope enforcement
  opennotes-server/src/auth/models.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_scope_enforcement.py
  opennotes-server/tests/unit/test_scope_vocabulary.py
Due: schema-consistency, regenerate-openapi

chore(platform): add mise tasks and docker-compose service
  docker-compose.override.yml
  docker-compose.yml
  mise.toml
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
