Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

feat: Phase 5 code cleanup (TASK-1139, 1146, 1188, 1190) (#218)
  opennotes-cli/src/opennotes_cli/display.py
  opennotes-cli/src/opennotes_cli/formatting.py
  opennotes-cli/tests/test_formatting.py
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/f804d09e16cc_task_1146_add_fact_check_datasets_.py
  opennotes-server/scripts/opennotes_cli.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/fact_checking/__init__.py
  opennotes-server/src/fact_checking/dataset_models.py
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/src/fact_checking/models.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/services/chunk_embedding.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/fact_checking/test_monitored_channels_jsonapi.py
  opennotes-server/tests/integration/fact_checking/test_dataset_constraints.py
  opennotes-server/tests/unit/fact_checking/test_dataset_validation.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
  opennotes-server/tests/unit/simulation/test_cli.py
  opennotes-server/tests/unit/test_chunk_embedding_service.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: schema-consistency, regenerate-openapi

feat(simulation): add restart snapshot helper
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/simulation/test_restart.py
Due: regenerate-openapi

test(task-1203.03): add unit tests for restart snapshot helper
  opennotes-server/tests/unit/simulation/test_restart.py
Due: none

feat(simulation): add restart mode to resume endpoint
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/resume_simulation_api_v2_simulations_simulation_id_resume_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_request.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(simulation): use StrictInputSchema for ResumeAttributes + add unit tests
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_resume_restart.py
Due: regenerate-openapi

feat(simulation): add restart_count/cumulative_turns to API + CLI restart command
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_attributes.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(test): update restart snapshot unit test mocks for update call
  opennotes-server/tests/unit/simulation/test_restart.py
Due: none

fix(task-1203): resolve CI failures — merge migration + move integration tests
  opennotes-server/alembic/versions/02fa3f3de88f_merge_task_1203_and_task_1146_heads.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/unit/simulation/conftest.py
Due: none

fix(simulation): populate completed_at for paused restart logs (task-1203.09)
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/unit/simulation/test_restart.py
Due: regenerate-openapi

fix(db): fix migration downgrade names and remove redundant indexes (task-1203.08)
  opennotes-server/alembic/versions/a7c54bf2fe15_task_1203_01_add_restart_audit_tables_.py
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

fix(simulation): add generation guard to prevent dual orchestrator race (task-1203.07)
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

test(simulation): add missing restart test assertions (task-1203.10)
  opennotes-server/tests/simulation/test_restart.py
  opennotes-server/tests/simulation/test_resume_restart.py
Due: none

feat(simulation): add run restart with config/log audit tables (#219)
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/resume_simulation_api_v2_simulations_simulation_id_resume_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/resume_request.py
  opennotes-cli/src/opennotes_cli/api_client/models/simulation_attributes.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/02fa3f3de88f_merge_task_1203_and_task_1146_heads.py
  opennotes-server/alembic/versions/a7c54bf2fe15_task_1203_01_add_restart_audit_tables_.py
  opennotes-server/openapi.json
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_restart.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/simulation/test_sim_agent_run_log_model.py
  opennotes-server/tests/simulation/test_simulation_run_config_model.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_workflow_ids.py
  opennotes-server/tests/unit/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_restart.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(simulation): add request variance analysis computation
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/unit/simulation/test_request_variance.py
Due: regenerate-openapi

feat(cli): add --detailed flag for simulation analysis
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_detailed.py
Due: none

feat(simulation): add detailed analysis query with loader composition
  opennotes-server/src/notes/loaders.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
Due: regenerate-openapi

feat(simulation): add detailed analysis Pydantic schemas
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
Due: schema-consistency, regenerate-openapi

chore(cli): add openpyxl to dependencies
  opennotes-cli/pyproject.toml
  opennotes-cli/uv.lock
Due: none

feat(cli): add xlsx export for detailed simulation analysis
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

feat(simulation): add paginated detailed analysis endpoint
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
Due: regenerate-openapi

fix(cli): add assertion for openpyxl active worksheet type safety
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(task-1204): use proper types for DetailedAnalysisResponse links/meta
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response_meta_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_rating_data.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1204): use full URL in test assertion to satisfy CodeQL
  opennotes-cli/tests/test_simulation_detailed.py
Due: none

fix(task-1204): align CLI parsing with JSON:API endpoint format
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

fix(cli): pagination loop, pipe escaping, xlsx truncation (task-1204.07, task-1204.10)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

fix(simulation): review fixes for detailed analysis schemas and router
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_meta.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response_meta_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_request_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/request_variance_meta.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1204): add detailed simulation analysis export (xlsx + extended markdown) (#220)
  opennotes-cli/pyproject.toml
  opennotes-cli/src/opennotes_cli/api_client/api/simulations_jsonapi/get_simulation_detailed_analysis_api_v2_simulations_simulation_id_analysis_detailed_get.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_meta.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_response_jsonapi.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_note_resource.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_rating_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_request_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/request_variance_meta.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-cli/uv.lock
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/loaders.py
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_schemas.py
  opennotes-server/tests/unit/simulation/test_request_variance.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1205): add agent profiles to detailed analysis API
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data_last_messages_item.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_meta.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1205): add agents section to CLI detailed analysis renderers
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

feat(task-1206): set XLSX default font to IBM Plex Sans Condensed with top alignment
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_xlsx.py
Due: none

feat(simulation): add removal reason constants and restartable_agents_filter helper
  opennotes-server/src/simulation/restart.py
  opennotes-server/tests/unit/simulation/test_restart.py
Due: regenerate-openapi

fix(simulation): reactivate removal_rate and simulation_completed agents on restart
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_resume_restart.py
Due: regenerate-openapi

refactor(simulation): replace removal reason magic strings with constants and split population counts
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(cli): truncate XLSX cells to 32767 chars and preserve bold headers
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

test(sim): add agent rendering test coverage for CLI and server
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
Due: none

feat: add agents data to detailed simulation analysis (#221)
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/agent_profile_data_last_messages_item.py
  opennotes-cli/src/opennotes_cli/api_client/models/detailed_analysis_meta.py
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_simulation_detailed.py
  opennotes-cli/tests/test_simulation_xlsx.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_analysis.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis_endpoint.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(simulation): reactivate removal_rate agents on restart (#222)
  opennotes-server/src/simulation/restart.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_resume_restart.py
  opennotes-server/tests/unit/simulation/test_restart.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(task-1208.01): use persistent background loop in run_sync
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(database): add threading.RLock to engine/session globals for thread-safety
  opennotes-server/src/database.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(database): dispose old engine on loop change to prevent pool leak
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_database.py
Due: regenerate-openapi
