Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(playground): avoid SolidJS response mutation, add /simulations redirect
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
Due: none

fix(backfill): JSON escaping, pagination, error handling, and tests
  opennotes-server/src/notes/backfill_titles.py
  opennotes-server/tests/unit/notes/test_backfill_titles.py
Due: regenerate-openapi

fix(task-1272.06): suppress Pyright unused-parameter warnings in tests
  opennotes-server/tests/unit/notes/test_backfill_titles.py
Due: none

fix(task-1276): harden test mocks and URL scheme handling after review
  opennotes-server/src/database.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix: prevent asyncpg named prepared statement collisions on Supavisor (#259)
  opennotes-server/alembic/env.py
  opennotes-server/scripts/benchmark_db_latency.py
  opennotes-server/scripts/cleanup_bad_archives.py
  opennotes-server/scripts/generate_embeddings.py
  opennotes-server/scripts/generate_test_data.py
  opennotes-server/scripts/load_snopes_dataset.py
  opennotes-server/scripts/migrate_message_content_to_archive.py
  opennotes-server/scripts/migrate_users_to_profiles.py
  opennotes-server/scripts/validate_migration.py
  opennotes-server/scripts/validate_scoring.py
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

feat(playground): post-deploy polish — fonts, routing, titles, scoring, histograms (#261)
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/Pagination.tsx
  opennotes-playground/src/entry-server.tsx
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/src/routes/simulations/index.tsx
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/notes/backfill_titles.py
  opennotes-server/src/shared/content_extraction.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow_steps.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
  opennotes-server/tests/unit/notes/test_backfill_titles.py
  opennotes-server/tests/unit/shared/test_content_extraction.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

fix(migrations): add statement_timeout=0 and connect_timeout to sync engine, increase subprocess timeout to 300s
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix(migrations): add statement_timeout=0 to alembic asyncpg engine via server_settings
  opennotes-server/alembic/env.py
Due: none

fix(migrations): replace fixed lock retries with time-based 30-minute retry loop
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix: startup migration statement_timeout failures on Supabase direct connections (#260)
  opennotes-server/alembic/env.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

fix(database): extract get_direct_sync_url() and point DBOS at direct connection (#262)
  opennotes-server/src/database.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/startup_migrations.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_database.py
  opennotes-server/tests/unit/test_startup_migrations.py
Due: regenerate-openapi

feat(simulation): wire channel context into agent turn workflow
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): fix channel bugs from code review
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

feat(simulation): add post_to_channel and read_channel tools
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

feat(simulation): add SimChannelMessage model and migration
  opennotes-server/alembic/versions/0451fbf4ce30_add_sim_channel_messages_table.py
  opennotes-server/src/simulation/models.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_channel_message_model.py
Due: schema-consistency, regenerate-openapi

test(simulation): update tests for channel deps fields
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

refactor(task-1222.09): rebase onto main with lazy-only channel loading
  opennotes-server/alembic/versions/c772521f43e9_merge_channel_messages_and_scoring_.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

fix(task-1222): address review findings for channel feature
  opennotes-server/alembic/versions/82909ed55243_task_1222_13_drop_redundant_sim_channel_.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/models.py
  opennotes-server/tests/unit/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: schema-consistency, regenerate-openapi

fix(simulation): add missing session rollback in read_channel error handler
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: regenerate-openapi

test(task-1222.14,1222.15): add missing model registrations and structural tests
  opennotes-server/tests/conftest.py
  opennotes-server/tests/unit/simulation/test_channel_message_model.py
Due: none

feat(simulation): add shared agent communication channel (#234)
  opennotes-server/alembic/versions/0451fbf4ce30_add_sim_channel_messages_table.py
  opennotes-server/alembic/versions/82909ed55243_task_1222_13_drop_redundant_sim_channel_.py
  opennotes-server/alembic/versions/c772521f43e9_merge_channel_messages_and_scoring_.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/unit/simulation/conftest.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_channel_message_model.py
  opennotes-server/tests/unit/simulation/test_channel_tools.py
Due: schema-consistency, regenerate-openapi

fix(task-1281): force-published notes bypass duplicate, cooldown, and config guards
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1279): simulation page UX improvements
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/ui/inline-histogram.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(task-1279): address code review findings from simulation page
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/ui/inline-histogram.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(content-scan): replace premature break with adaptive polling loop after all_transmitted
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(content-scan): mark scan FAILED when orchestrator times out with zero messages processed
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1282.03,1282.04): fix _determine_scan_status logic gap and improve test coverage
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1281): force-published notes bypass duplicate, cooldown, and config guards (#263)
  opennotes-discord/src/services/NotePublisherService.ts
  opennotes-discord/tests/services/NotePublisherService.test.ts
Due: eslint-discord, typecheck-discord

feat(playground): simulation page UX improvements (#264)
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/ui/inline-histogram.tsx
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(content-scan): fix orchestrator premature timeout after all_transmitted (#265)
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1294): switch bulk scan completion wait to NATS-first flow
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1294): switch bulk scan completion wait to NATS-first flow (#266)
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/handlers/vibecheck-prompt-handler.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/handlers/vibecheck-prompt-handler.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1292): harden embedding hot-path timeout and retry behavior
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
  opennotes-server/tests/unit/test_embedding_service_tracing.py
Due: regenerate-openapi

feat(task-1295): replace truncated IDs with proquint badges
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(task-1292.01): avoid unbound vars in embedding retry flow
  opennotes-server/src/llm_config/service.py
Due: regenerate-openapi

feat(task-1293.01): add truncation metadata and view-full id helpers
  opennotes-discord/src/utils/v2-components.ts
  opennotes-discord/tests/utils/v2-components.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1293.02): add section accessory view-full flow
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/queue-renderer.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/lib/queue-renderer-v2.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1293.04): add source-link contract for clipped previews
  opennotes-discord/src/lib/message-fetcher.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/lib/message-fetcher.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1293.03): add fallback view-full buttons for plain text replies
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1293.05): align scan and vibecheck truncation metadata
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/src/services/VibecheckProgressService.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
Due: eslint-discord, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
