Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

test(task-1292.02): fix previously-seen embedding test doubles
  opennotes-server/tests/integration/test_previously_seen_api.py
Due: none

fix(task-1292): address review follow-ups on embedding timeouts
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/unit/fact_checking/test_chunk_search.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(task-1293): harden Discord long-content affordances
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/src/services/VibecheckProgressService.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1292): finish timeout and quota follow-ups
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/unit/fact_checking/test_chunk_search.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(task-1292): recover quota cleanup after DB timeouts
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
Due: regenerate-openapi

fix(task-1293): finish Discord view-full follow-ups
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/src/lib/view-full-cache.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1293.14): preserve fenced markdown pagination
  opennotes-discord/src/lib/text-paginator.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/lib/text-paginator.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1293): harden fenced markdown pagination
  opennotes-discord/src/lib/text-paginator.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/lib/text-paginator.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1295): replace truncated IDs with proquint badges (#268)
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/SimulationCard.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat: fix embedding timeout and retry budget on hot-path endpoints (#267)
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/fact_checking/repository.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/fact_checking/test_previously_seen_jsonapi.py
  opennotes-server/tests/integration/test_previously_seen_api.py
  opennotes-server/tests/unit/fact_checking/test_chunk_search.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
  opennotes-server/tests/unit/test_embedding_service_tracing.py
Due: regenerate-openapi

fix(task-1270): fix bulk scan rate-limit keying
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-server/src/middleware/rate_limiting.py
  opennotes-server/tests/unit/test_rate_limiting.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1293): normalize quoted fence pagination
  opennotes-discord/src/lib/text-paginator.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/lib/text-paginator.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1301): preserve vibecheck counts across delayed finalization
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1270.06): propagate Discord user context through rate-limited flows
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/commands/vibecheck.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/services/ScoringService.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/commands/note-view.test.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/services/ScoringService.test.ts
Due: eslint-discord, typecheck-discord

feat: implement task-1293 Discord truncation expansion flow (#269)
  opennotes-discord/src/bot.ts
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/src/lib/message-fetcher.ts
  opennotes-discord/src/lib/queue-renderer.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/src/lib/text-paginator.ts
  opennotes-discord/src/lib/view-full-cache.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/MessageMonitorService.ts
  opennotes-discord/src/services/VibecheckProgressService.ts
  opennotes-discord/src/utils/v2-components.ts
  opennotes-discord/tests/commands/list-button-handlers.test.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/message-fetcher.test.ts
  opennotes-discord/tests/lib/queue-renderer-v2.test.ts
  opennotes-discord/tests/lib/text-paginator.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/services/VibecheckProgressService.test.ts
  opennotes-discord/tests/unit/MessageMonitorService-uuid-resolution.test.ts
  opennotes-discord/tests/utils/v2-components.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1301): preserve vibecheck counts across delayed finalization (#270)
  opennotes-discord/src/lib/bulk-scan-executor.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_nats_handler.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1286): fix failed bulk scan terminal status flow
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

test(task-1286.01): cover paginated completed scan states
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
Due: none

fix(task-1302): normalize analyze IDs and wait for snapshots
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_analyze_command.py
Due: none

fix(task-1286.02): complete skipped-only scans
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(task-1286.03): reject non-terminal terminal-fetch results
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1302): normalize analyze IDs and wait for snapshots (#272)
  opennotes-cli/src/opennotes_cli/commands/analyze.py
  opennotes-cli/tests/test_analyze_command.py
Due: none

fix(task-1286.04): use workflow skipped fallback in finalization
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix: failed bulk scan terminal status flow (#271)
  opennotes-discord/src/lib/nats-results-waiter.ts
  opennotes-discord/src/lib/scan-status-formatter.ts
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/scan-status-formatter.test.ts
  opennotes-discord/tests/lib/wait-for-nats-results.test.ts
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(dbos): add DBOS_ADMIN_PORT and DBOS_RUN_ADMIN_SERVER settings
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

test(dbos): update simulation unit tests for queue.enqueue() pattern
  opennotes-server/tests/unit/simulation/test_playground_url_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_scoring_workflow.py
Due: none

refactor(dbos): remove DBOSClient singleton from config.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_client.py
Due: regenerate-openapi

refactor(dbos): migrate list_workflows/cancel_workflow to DBOS static methods
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
Due: regenerate-openapi

refactor(dbos): rewrite simulation workflow dispatchers to use queue.enqueue()
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/src/simulation/workflows/playground_url_workflow.py
  opennotes-server/src/simulation/workflows/scoring_workflow.py
Due: regenerate-openapi

test(dbos): update content_monitoring and integration tests for queue.enqueue()
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
Due: none

test(dbos): update dbos_workflows tests for queue.enqueue() pattern
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_dbos_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
Due: none

refactor(dbos): unify main.py lifecycle to use full DBOS for both modes
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

refactor(dbos): rewrite dbos_workflows enqueue dispatchers to use queue.enqueue()
  opennotes-server/src/dbos_workflows/approval_workflow.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
Due: regenerate-openapi

test(dbos): update candidates tests and remove obsolete DBOSClient tests
  opennotes-server/tests/integration/fact_checking/test_candidates_jsonapi.py
Due: none

test(dbos): update simulations_jsonapi_router tests for DBOS static methods
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: none

fix(task-1236): address review findings — DBOS init, test assertions, resource leak
  opennotes-server/scripts/cancel_stuck_turn_workflows.py
  opennotes-server/src/dbos_workflows/config.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

fix(test): use __func__/__self__ for bound method identity comparison
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_previously_seen.py
Due: none

fix(task-1236): mock dispatch_content_scan_workflow in integration test
  opennotes-server/tests/integration/test_bulk_scan_authorization.py
Due: none
