Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(playground): rename SIM Channel to Chat Channel
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

style(playground): enlarge badge and ID badge sizing
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
Due: none

style(playground): match nav bar dimensions to opennotes.ai
  opennotes-playground/src/app.tsx
Due: none

feat(simulation): add display_model field to AgentBehaviorData with provider stripping
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/model_display.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_model_display.py
Due: schema-consistency, regenerate-openapi

feat(playground): add model column to agents table
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/lib/generated-types.ts
Due: none

fix(simulation): handle pydantic-ai colon format in humanize_model_name [TASK-1370.06]
  opennotes-server/src/simulation/model_display.py
  opennotes-server/tests/unit/simulation/test_model_display.py
Due: regenerate-openapi

fix(playground): add display_model to fixtures and whitespace-nowrap to model cell [TASK-1370.07]
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/tests/fixtures.json
Due: none

feat: playground UI polish — rename chat, enlarge badges, add model column, match nav bar (#315)
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/SimChannelMessages.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/lib/generated-types.ts
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/tests/fixtures.json
  opennotes-server/openapi.json
  opennotes-server/src/simulation/analysis.py
  opennotes-server/src/simulation/model_display.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_detailed_analysis.py
  opennotes-server/tests/unit/simulation/test_model_display.py
Due: schema-consistency, regenerate-openapi

feat(discord): replace raw message ID with jump link in list requests
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/services/DiscordFormatter.ts
Due: eslint-discord, typecheck-discord

feat(discord): accept ProQuint format in note ID inputs
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/validation.ts
  opennotes-discord/tests/lib/validation.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add ProQuint UUID utility module
  opennotes-discord/src/lib/proquint.ts
  opennotes-discord/tests/lib/proquint.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): add message links and increase truncation in list notes queue
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/queue-renderer.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
Due: eslint-discord, typecheck-discord

feat(discord): apply ProQuint display to all note ID surfaces
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/discord-utils.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/src/lib/notes-formatter.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/lib/discord-utils.test.ts
Due: eslint-discord, typecheck-discord

fix(server,discord): use platform_channel_id from message_archive for note jump links
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(discord): resolve ProQuint to UUID in rate and force-publish commands
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/notes-formatter.ts
  opennotes-discord/src/lib/proquint.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/tests/lib/proquint.test.ts
Due: eslint-discord, typecheck-discord

feat(server): expose platform_channel_id in request API response
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/lib/types.ts
  opennotes-discord/src/services/ListRequestsService.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/requests_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat: restore message links & ProQuint IDs in Discord bot [tasks-1371] (#316)
  opennotes-discord/src/commands/list.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/discord-utils.ts
  opennotes-discord/src/lib/force-publish-response.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discord/src/lib/notes-formatter.ts
  opennotes-discord/src/lib/proquint.ts
  opennotes-discord/src/lib/queue-renderer.ts
  opennotes-discord/src/lib/types.ts
  opennotes-discord/src/lib/validation.ts
  opennotes-discord/src/services/DiscordFormatter.ts
  opennotes-discord/src/services/ListRequestsService.ts
  opennotes-discord/tests/commands/list-notes-filtering.test.ts
  opennotes-discord/tests/commands/note-force-publish.test.ts
  opennotes-discord/tests/lib/discord-utils.test.ts
  opennotes-discord/tests/lib/proquint.test.ts
  opennotes-discord/tests/lib/validation.test.ts
  opennotes-server/openapi.json
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(playground): register echarts vintage theme for all charts (TASK-1375.01)
  opennotes-playground/src/components/AgentsSection.tsx
Due: none

feat(playground): add hoverable anchor links to blog post titles (TASK-1375.04)
  opennotes-playground/src/components/BlogPost.tsx
Due: none

feat(playground): add author field to blog posts with Supabase migration (TASK-1375.03)
  opennotes-playground/src/components/BlogPost.tsx
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/lib/blog.server.test.ts
  opennotes-playground/src/lib/blog.server.ts
  opennotes-playground/supabase/migrations/001_add_author_to_blog_posts.sql
Due: none

feat(playground): move Chat Channel to bottom of simulation page (TASK-1375.05)
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): wrap scorer names with soft hyphens at camelCase boundaries (TASK-1375.07)
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/lib/soft-hyphenate.test.ts
  opennotes-playground/src/lib/soft-hyphenate.ts
Due: none

fix(playground): review fixes — inline author HTML, E2E section order, base schema (TASK-1375.08, TASK-1375.09, TASK-1375.10)
  opennotes-playground/src/lib/blog.server.test.ts
  opennotes-playground/src/lib/blog.server.ts
  opennotes-playground/src/lib/markdown.ts
  opennotes-playground/supabase/blog_posts.sql
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

fix(playground): remove crosshair from overall bar, fix per-agent legend overlap (TASK-1375.06)
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
Due: none

feat(playground): UI polish — blog, charts, and layout adjustments (TASK-1375) (#317)
  opennotes-playground/src/app.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/BlogPost.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/components/ui/echart.tsx
  opennotes-playground/src/lib/blog.server.test.ts
  opennotes-playground/src/lib/blog.server.ts
  opennotes-playground/src/lib/markdown.ts
  opennotes-playground/src/lib/soft-hyphenate.test.ts
  opennotes-playground/src/lib/soft-hyphenate.ts
  opennotes-playground/src/routes/index.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
  opennotes-playground/supabase/blog_posts.sql
  opennotes-playground/supabase/migrations/001_add_author_to_blog_posts.sql
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

feat(playground): add page title with proquint ID on simulation views
  opennotes-playground/src/app.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

feat(playground): improve Agents table column layout and persona popover
  opennotes-playground/src/components/AgentsSection.tsx
Due: none

feat(scoring): add RaterDiversityScorer with pairwise cosine diversity
  opennotes-server/src/notes/scoring/rater_diversity_scorer.py
  opennotes-server/tests/unit/notes/scoring/test_rater_diversity_scorer.py
Due: regenerate-openapi

feat(playground): initialize Solid UI and configure theme system
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/app.css
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/button.tsx
  opennotes-playground/src/lib/cva.ts
  opennotes-playground/ui.config.json
Due: none

feat(scoring): add RaterDiversityScorerAdapter with blended scoring
  opennotes-server/src/notes/scoring/rater_diversity_scorer.py
  opennotes-server/tests/unit/notes/scoring/test_rater_diversity_scorer.py
Due: regenerate-openapi

feat(playground): add Solid UI component library via solidui-cli
  opennotes-playground/src/components/ui/card.tsx
  opennotes-playground/src/components/ui/checkbox.tsx
  opennotes-playground/src/components/ui/dropdown-menu.tsx
  opennotes-playground/src/components/ui/popover.tsx
  opennotes-playground/src/components/ui/select.tsx
  opennotes-playground/src/components/ui/separator.tsx
  opennotes-playground/src/components/ui/sheet.tsx
  opennotes-playground/src/components/ui/toggle-group.tsx
  opennotes-playground/src/components/ui/toggle.tsx
  opennotes-playground/src/components/ui/tooltip.tsx
Due: none

feat(playground): replace Kobalte overlays and rebuild note-filter
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/SimulationSidebar.tsx
  opennotes-playground/src/components/ui/id-badge.tsx
  opennotes-playground/src/components/ui/note-filter.tsx
Due: none

feat(playground): upgrade pagination-controls and sortable-header with Solid UI
  opennotes-playground/src/components/ui/pagination-controls.tsx
  opennotes-playground/src/components/ui/sortable-header.tsx
Due: none

test(scoring): add comprehensive unit tests for RaterDiversityScorer
  opennotes-server/tests/unit/notes/scoring/test_rater_diversity_scorer.py
Due: none

feat(scoring): integrate RaterDiversityScorer into ScorerFactory for MINIMAL tier
  opennotes-server/src/notes/scoring/__init__.py
  opennotes-server/src/notes/scoring/scorer_factory.py
  opennotes-server/src/notes/scoring/tier_config.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/unit/notes/scoring/test_density_check.py
  opennotes-server/tests/unit/notes/scoring/test_scorer_factory.py
Due: regenerate-openapi

feat(playground): update feature components with Solid UI Card, ToggleGroup
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
Due: none

chore(playground): remove unused cva.ts re-export
  opennotes-playground/src/lib/cva.ts
Due: none

test(scoring): add integration test for rater diversity scoring pipeline
  opennotes-server/tests/integration/notes/scoring/test_rater_diversity_integration.py
Due: none

fix(scoring): align FakeDataProvider param names with CommunityDataProvider protocol
  opennotes-server/tests/integration/notes/scoring/test_rater_diversity_integration.py
  opennotes-server/tests/unit/notes/scoring/test_rater_diversity_scorer.py
Due: none

fix(playground): fix Radix data selectors, dropdown animation, and dead CSS [task-1378]
  opennotes-playground/src/app.css
  opennotes-playground/src/components/ui/dropdown-menu.tsx
  opennotes-playground/src/components/ui/sheet.tsx
  opennotes-playground/ui.config.json
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
