Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

test(task-1130): skip flaky MFCoreScorer test that crashes xdist worker
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: none

test(task-1130): skip all MFCoreScorer classes that trigger real scoring
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: none

ci(task-1130): switch CI integration tests to testcontainers with parallel execution (#181)
  .github/workflows/ci.yml
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/events/subscriber.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
  opennotes-server/tests/integration/test_cache_validation.py
  opennotes-server/tests/unit/test_events.py
Due: regenerate-openapi

feat(security): sanitize sensitive field names in 422 validation errors
  opennotes-server/pyproject.toml
  opennotes-server/src/main.py
  opennotes-server/src/middleware/validation_error_handler.py
  opennotes-server/tests/unit/test_validation_error_handler.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(webhooks): disambiguate route paths to prevent method overlap
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/router.py
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/src/common/responses.py
  opennotes-server/src/community_config/router.py
  opennotes-server/src/community_servers/admin_router.py
  opennotes-server/src/community_servers/clear_router.py
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/config_router.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/candidates_jsonapi_router.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/fact_checking/monitored_channels_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/llm_config/router.py
  opennotes-server/src/notes/note_publisher_jsonapi_router.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/ratings_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/search/fusion_weights_router.py
  opennotes-server/src/users/admin_router.py
  opennotes-server/src/users/communities_jsonapi_router.py
  opennotes-server/src/users/profile_router.py
  opennotes-server/src/users/profiles_jsonapi_router.py
  opennotes-server/src/users/router.py
  opennotes-server/src/webhooks/router.py
  opennotes-server/tests/integration/test_webhook_secret_exposure.py
  opennotes-server/tests/integration/test_webhooks.py
  opennotes-server/tests/unit/test_openapi_401_responses.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(task-1135): move OOM-risk MF scorer tests to tests/heavy/
  .github/workflows/ci.yml
  mise.toml
  opennotes-server/pytest.ini
  opennotes-server/tests/conftest.py
  opennotes-server/tests/heavy/__init__.py
  opennotes-server/tests/heavy/conftest.py
  opennotes-server/tests/heavy/test_mf_scorer_integration.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: none

fix(api): declare text/plain content type for /metrics endpoint in OpenAPI spec
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/tests/unit/test_metrics_openapi.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(auth): add Query validation to bare string params in profile registration endpoints
  opennotes-server/openapi.json
  opennotes-server/src/users/profile_router.py
  opennotes-server/tests/unit/test_profile_query_param_validation.py
Due: regenerate-openapi

fix(validation): widen exception handler type signature for basedpyright
  opennotes-server/src/middleware/validation_error_handler.py
Due: regenerate-openapi

refactor(task-1117): make _ensure_community_membership platform-aware (#183)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
  opennotes-server/src/users/profile_crud.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1136): bound Redis concurrency in progress tracker tests
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
Due: none

refactor(task-1135): move OOM-risk MF scorer tests to tests/heavy/ (#184)
  .github/workflows/ci.yml
  mise.toml
  opennotes-server/pytest.ini
  opennotes-server/tests/conftest.py
  opennotes-server/tests/heavy/__init__.py
  opennotes-server/tests/heavy/conftest.py
  opennotes-server/tests/heavy/test_mf_scorer_integration.py
  opennotes-server/tests/integration/batch_jobs/test_progress_tracker_concurrency.py
  opennotes-server/tests/integration/notes/scoring/test_mf_scorer_integration.py
Due: none

refactor(task-1103): migrate stats_jsonapi_router to FilterBuilder (#182)
  opennotes-server/src/notes/stats_jsonapi_router.py
Due: regenerate-openapi

feat(simulation): add memory compaction strategies (sliding window, summarize-prune, semantic dedup)
  opennotes-server/src/simulation/memory/__init__.py
  opennotes-server/src/simulation/memory/compactor_factory.py
  opennotes-server/src/simulation/memory/compactor_protocol.py
  opennotes-server/src/simulation/memory/semantic_dedup.py
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/memory/summarize_and_prune.py
  opennotes-server/tests/unit/simulation/__init__.py
  opennotes-server/tests/unit/simulation/memory/__init__.py
  opennotes-server/tests/unit/simulation/memory/test_compactor_factory.py
  opennotes-server/tests/unit/simulation/memory/test_semantic_dedup.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
  opennotes-server/tests/unit/simulation/memory/test_summarize_and_prune.py
Due: regenerate-openapi

feat(simulation): add simulation models, migrations, and playground platform type
  opennotes-server/alembic/env.py
  opennotes-server/alembic/versions/52df7eba1d88_task_1132_01_add_playground_to_platform_.py
  opennotes-server/alembic/versions/88ad7e42c01e_task_1132_add_missing_indexes.py
  opennotes-server/alembic/versions/task_1132_02_create_sim_agents_table.py
  opennotes-server/alembic/versions/task_1132_03_create_sim_agent_memories_table.py
  opennotes-server/alembic/versions/task_1132_10_12_create_orchestrators_runs_instances.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/simulation/__init__.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/conftest.py
  opennotes-server/tests/simulation/__init__.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_playground_platform.py
  opennotes-server/tests/simulation/test_sim_agent_instance_model.py
  opennotes-server/tests/simulation/test_sim_agent_memory_model.py
  opennotes-server/tests/simulation/test_sim_agent_model.py
  opennotes-server/tests/simulation/test_simulation_orchestrator_model.py
  opennotes-server/tests/simulation/test_simulation_run_model.py
Due: schema-consistency, regenerate-openapi

refactor(shared): extract content extraction module from scrape_tasks
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/shared/__init__.py
  opennotes-server/src/shared/content_extraction.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow_steps.py
  opennotes-server/tests/unit/shared/__init__.py
  opennotes-server/tests/unit/shared/test_content_extraction.py
Due: regenerate-openapi

feat(simulation): add scoring pipeline integration for simulation verification
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: regenerate-openapi

feat(simulation): add OpenNotesSimAgent pydantic_ai agent core
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/uv.lock
Due: schema-consistency, regenerate-openapi

feat(simulation): add DBOS agent turn workflow
  opennotes-server/pyproject.toml
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/__init__.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): fix agent tool bugs and remove react_to_note (1132.22)
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: regenerate-openapi

feat(simulation): add SimulationOrchestrator CRUD endpoints
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/tests/simulation/test_orchestrators_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): correct FK restrict test to expect error on execute, not commit
  opennotes-server/tests/simulation/test_simulation_run_model.py
Due: none

fix(simulation): fix memory compaction subsystem (1132.19, 1132.25, 1132.26)
  opennotes-server/src/simulation/memory/__init__.py
  opennotes-server/src/simulation/memory/message_utils.py
  opennotes-server/src/simulation/memory/semantic_dedup.py
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/memory/summarize_and_prune.py
  opennotes-server/tests/unit/simulation/memory/test_compactor_factory.py
  opennotes-server/tests/unit/simulation/memory/test_message_utils.py
  opennotes-server/tests/unit/simulation/memory/test_semantic_dedup.py
  opennotes-server/tests/unit/simulation/memory/test_sliding_window.py
  opennotes-server/tests/unit/simulation/memory/test_summarize_and_prune.py
Due: regenerate-openapi

feat(simulation): add orchestrator DBOS workflow with population management
  opennotes-server/src/simulation/workflows/__init__.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

feat(simulation): add SimAgent profile CRUD endpoints
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): eliminate TOCTOU races and consolidate migration (1132.20, 1132.24)
  opennotes-server/alembic/versions/88ad7e42c01e_task_1132_add_missing_indexes.py
  opennotes-server/alembic/versions/8a2a91a60527_task_1132_20_24_fix_constraints_indexes.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

feat(simulation): add playground note request endpoint with URL ingestion
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/tests/integration/simulation/__init__.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/unit/simulation/test_playground_jsonapi_router.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(simulation): add simulation control endpoints (run/pause/resume/cancel)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(simulation): add admin auth to integration tests and re-add flaky xfail markers
  opennotes-server/tests/integration/simulation/conftest.py
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/integration/test_integration_messaging.py
Due: none

fix(simulation): fix performance and schema issues (1132.25, 1132.26)
  opennotes-server/pyproject.toml
  opennotes-server/src/shared/content_extraction.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/scoring_integration.py
  opennotes-server/tests/simulation/test_scoring_integration.py
  opennotes-server/tests/unit/shared/test_content_extraction.py
  opennotes-server/uv.lock
Due: schema-consistency, regenerate-openapi

test(simulation): improve test quality and shared fixtures (1132.27)
  opennotes-server/tests/integration/simulation/test_playground_note_requests.py
  opennotes-server/tests/simulation/conftest.py
  opennotes-server/tests/simulation/test_orchestrators_jsonapi_router.py
  opennotes-server/tests/simulation/test_playground_platform.py
  opennotes-server/tests/simulation/test_sim_agents_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_orchestrator_model.py
  opennotes-server/tests/simulation/test_simulation_run_model.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/memory/test_compactor_factory.py
Due: none

fix(simulation): resolve basedpyright errors and remove stale xfail markers
  opennotes-server/src/simulation/memory/__init__.py
  opennotes-server/src/simulation/memory/compactor_protocol.py
  opennotes-server/src/simulation/memory/message_utils.py
  opennotes-server/src/simulation/memory/semantic_dedup.py
  opennotes-server/src/simulation/memory/sliding_window.py
  opennotes-server/src/simulation/memory/summarize_and_prune.py
  opennotes-server/tests/integration/test_integration_messaging.py
  opennotes-server/tests/unit/simulation/memory/test_message_utils.py
Due: regenerate-openapi

fix(simulation): replace nil UUID sentinel with Optional for community_server_id (1132.26 AC#6)
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
Due: regenerate-openapi

fix(simulation): update pydantic-ai API compat + router security fixes (1132.18, 1132.21, 1132.23)
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/main.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/orchestrators_jsonapi_router.py
  opennotes-server/src/simulation/playground_jsonapi_router.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulations_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1137): add core Vertex AI/Gemini support via LiteLLM
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/providers/base.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
Due: regenerate-openapi

refactor(task-1137): remove dead AsyncOpenAI code from VisionService
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/llm_config/router.py
Due: regenerate-openapi

feat(task-1137): remove hardcoded provider=openai from caller sites
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/services/ai_note_writer.py
Due: regenerate-openapi

test(task-1137): add and fix tests for Vertex AI/Gemini support
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
  opennotes-server/tests/unit/test_parse_provider_model.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
