Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

test(notes): add e2e integration test for copy-requests flow
  opennotes-server/tests/integration/notes/test_copy_requests_e2e.py
Due: none

build(schema): regenerate OpenAPI spec and TypeScript types for copy-requests endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
Due: eslint-discord, typecheck-discord

fix(ci): type annotation for job_metadata and add copy_requests_workflow to registration test
  opennotes-server/src/dbos_workflows/copy_requests_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

fix(api): use Literal type, constant import, and self-copy guard in copy-requests router
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/copy_requests_router.py
  opennotes-server/tests/unit/community_servers/test_copy_requests_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1332.01): scope Traceloop to LLM-only instruments and enable pydantic-ai native OTel
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
  opennotes-server/tests/unit/simulation/test_agent_instrumentation.py
Due: regenerate-openapi

fix(cli): allow --copy-requests-from as sufficient content for simulation launch
  opennotes-cli/src/opennotes_cli/commands/simulation.py
Due: none

fix(dbos): add try/except around copy_requests_step to prevent stuck batch jobs
  opennotes-server/src/dbos_workflows/copy_requests_workflow.py
Due: regenerate-openapi

chore(cli): update baalbek to v0.3.2
  opennotes-cli/uv.lock
Due: none

feat: copy requests from another community server (#304)
  opennotes-cli/src/opennotes_cli/commands/simulation.py
  opennotes-cli/tests/test_copy_requests_flag.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/community_servers/copy_requests_router.py
  opennotes-server/src/dbos_workflows/copy_requests_workflow.py
  opennotes-server/src/main.py
  opennotes-server/src/notes/copy_request_service.py
  opennotes-server/tests/integration/notes/test_copy_requests_e2e.py
  opennotes-server/tests/unit/community_servers/test_copy_requests_router.py
  opennotes-server/tests/unit/dbos_workflows/test_copy_requests_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
  opennotes-server/tests/unit/notes/test_copy_request_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1361): resolve run_sync deadlock in copy-requests progress callback
  opennotes-cli/src/opennotes_cli/api_client/api/community_servers/copy_requests_api_v2_community_servers_community_server_id_copy_requests_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/copy_requests_attributes.py
  opennotes-cli/src/opennotes_cli/api_client/models/copy_requests_data.py
  opennotes-cli/src/opennotes_cli/api_client/models/copy_requests_payload.py
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/dbos_workflows/copy_requests_workflow.py
  opennotes-server/src/notes/copy_request_service.py
  opennotes-server/tests/unit/dbos_workflows/test_copy_requests_workflow.py
Due: regenerate-openapi

feat(cli): add HoistingGroup for position-independent global flags
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/tests/test_cli.py
Due: none

feat(cli): add --toon flag for rich terminal output
  opennotes-cli/src/opennotes_cli/cli.py
  opennotes-cli/src/opennotes_cli/commands/health.py
  opennotes-cli/tests/test_cli.py
Due: none

test(cli): add comprehensive tests for flag hoisting and --toon output
  opennotes-cli/tests/test_cli.py
Due: none

fix(deps): add pydantic-ai-slim provider extras and bump SDK lower bounds
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

test(llm): add provider import smoke test to catch missing SDKs
  opennotes-server/tests/unit/llm_config/test_provider_imports.py
Due: none

feat(playground): implement section components, badge sizing, and rating collapse
  opennotes-playground/src/components/AgentProfiles.tsx
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/AnalysisSummary.tsx
  opennotes-playground/src/components/ChartsTimelines.tsx
  opennotes-playground/src/components/MetricsDisplay.tsx
  opennotes-playground/src/components/NoteDetails.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/ui/badge.tsx
  opennotes-playground/src/components/ui/echart.tsx
Due: none

refactor(playground): remove dead variable and parameter from review
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

test(playground): add Playwright E2E validation for section restructure
  opennotes-playground/package.json
  opennotes-playground/playwright.config.ts
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

fix(playground): make Playwright E2E tests pass with mock API server
  opennotes-playground/playwright.config.ts
  opennotes-playground/tests/fixtures.json
  opennotes-playground/tests/mock-server.cjs
  opennotes-playground/tests/simulation-detail.spec.ts
Due: none

refactor(playground): scaffold new 4-section layout with eager loading
  opennotes-playground/src/components/AgentsSection.tsx
  opennotes-playground/src/components/InlineTOC.tsx
  opennotes-playground/src/components/NotesRatingsSection.tsx
  opennotes-playground/src/components/ScoringAnalysisSection.tsx
  opennotes-playground/src/components/sections.ts
  opennotes-playground/src/routes/simulations/[id].tsx
Due: none

fix(playground): exclude Playwright tests from vitest runner
  opennotes-playground/package.json
Due: none

fix(task-1332.02): move LoggingInstrumentor into setup_otel and fix double-import entry point
  opennotes-server/docker-entrypoint.sh
  opennotes-server/pyproject.toml
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/monitoring/test_otel_logging_instrumentor.py
Due: regenerate-openapi

feat(shutdown): add _shutting_down guard to async_compat background loop
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/test_async_compat_shutdown.py
  opennotes-server/tests/unit/test_database_per_loop.py
Due: regenerate-openapi

fix(shutdown): reorder DB pool disposal after DBOS drain to prevent connection errors
  opennotes-server/src/database.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/test_close_db.py
Due: regenerate-openapi

test(shutdown): add integration test verifying shutdown sequence
  opennotes-server/tests/unit/test_shutdown_order.py
Due: none

fix(test): reset async_compat shutdown flag between tests to prevent cross-test pollution
  opennotes-server/tests/unit/test_shutdown_order.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: none

fix(shutdown): graceful async DB pool shutdown on SIGTERM (#310)
  opennotes-server/src/database.py
  opennotes-server/src/main.py
  opennotes-server/src/utils/async_compat.py
  opennotes-server/tests/unit/test_async_compat_shutdown.py
  opennotes-server/tests/unit/test_close_db.py
  opennotes-server/tests/unit/test_database_per_loop.py
  opennotes-server/tests/unit/test_shutdown_order.py
  opennotes-server/tests/unit/utils/test_async_compat.py
Due: regenerate-openapi

fix(llm): sanitize embedding input text to strip JSON-breaking control characters
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(llm): add BadRequestError diagnostic logging for embedding failures
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

feat(playground): add blog_posts Supabase table with RLS
  opennotes-playground/supabase/blog_posts.sql
Due: none

feat(playground): add proquint reverse lookup for anchor resolution
  opennotes-playground/src/lib/format.test.ts
  opennotes-playground/src/lib/format.ts
Due: none

feat(playground): add typed event.locals and read-only Supabase client factory
  opennotes-playground/src/env.d.ts
  opennotes-playground/src/lib/supabase-server.test.ts
  opennotes-playground/src/lib/supabase-server.ts
Due: none
