Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(batch_jobs): expand metadata type to support list[str] and None values
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/models.py
  opennotes-server/src/batch_jobs/schemas.py
Due: schema-consistency, regenerate-openapi

fix(batch_jobs): add type annotations to remaining metadata dicts
  opennotes-server/src/batch_jobs/import_service.py
Due: regenerate-openapi

fix: resolve all basedpyright type errors across codebase
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/augment_dataset.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/compare_and_update.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/dataset.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/optimize.py
  opennotes-server/src/dbos_workflows/rechunk_workflow.py
  opennotes-server/src/events/nats_client.py
  opennotes-server/src/events/publisher.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/fact_checking/import_pipeline/candidate_service.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/src/middleware/distributed_rate_limiter.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/src/tasks/scheduler_tasks.py
Due: regenerate-openapi

fix: resolve remaining 85 basedpyright type errors for CI
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/cache/session.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/augment_dataset.py
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/chunking_service.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/src/middleware/distributed_rate_limiter.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/notes/notes_jsonapi_router.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/scoring/batch_scoring_trigger.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/notes/scoring/scoring_data_validator.py
  opennotes-server/src/notes/stats_jsonapi_router.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/src/search/search_analytics.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/webhooks/responses/message.py
Due: regenerate-openapi

fix: resolve pyright ignore syntax and fix unit tests
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/cache/redis_client.py
  opennotes-server/src/cache/session.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/augment_dataset.py
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/src/middleware/distributed_rate_limiter.py
  opennotes-server/src/monitoring/distributed_health.py
  opennotes-server/src/notes/requests_jsonapi_router.py
  opennotes-server/src/notes/scoring/mf_scorer_adapter.py
  opennotes-server/src/scoring_adapter.py
  opennotes-server/src/search/search_analytics.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/webhooks/responses/message.py
  opennotes-server/tests/unit/dbos_workflows/test_rechunk_workflow.py
  opennotes-server/tests/unit/fact_checking/test_chunking_service.py
Due: regenerate-openapi

fix: downgrade reportImportCycles to warning in basedpyright
  opennotes-server/pyproject.toml
Due: none

fix: disable reportImportCycles in basedpyright config
  opennotes-server/pyproject.toml
Due: none

fix: add pyrightconfig.json to ensure import cycle suppression
  opennotes-server/pyrightconfig.json
Due: none

fix: suppress unnecessary type ignore warnings in basedpyright
  opennotes-server/pyproject.toml
  opennotes-server/pyrightconfig.json
Due: none

fix(task-1065): fix CI lint error and 8 unit test failures
  opennotes-server/src/monitoring/otel.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
  opennotes-server/tests/unit/test_taskiq_broker.py
Due: regenerate-openapi

fix(task-1059): add hostname validation to _db:ensure-postgres
  mise.toml
Due: none

fix(task-1059): use localhost hostnames in .env.yaml.example files
  .env.yaml.example
  opennotes-discord/.env.yaml.example
  opennotes-server/.env.yaml.example
Due: none

fix(flashpoint): replace dspy.configure() with dspy.context() for thread-safe LM scoping
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
Due: regenerate-openapi

fix(scripts): rename hyphenated scripts to use underscores (ruff N999)
  .github/workflows/ci.yml
  docs/SCHEMA_AND_API_WORKFLOW.md
  mise.toml
  opennotes-server/mise.toml
  opennotes-server/scripts/check_openapi_sync.py
  opennotes-server/scripts/generate_openapi.py
Due: none

feat(task-1067.06): add flashpoint_detection_enabled to CommunityServer
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/1ca3f92acb46_task_1067_06_add_flashpoint_detection_.py
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
  opennotes-server/src/llm_config/models.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(task-1067.07): add Discord command to toggle flashpoint detection
  opennotes-discord/src/commands/config.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1067.21,1067.30): guard ZeroDivisionError and use local Random instance
  opennotes-discord/src/commands/config.ts
  opennotes-server/.gitignore
  opennotes-server/data/flashpoints/.gitkeep
  opennotes-server/openapi.json
  opennotes-server/pyproject.toml
  opennotes-server/scripts/__init__.py
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/llm_config/models.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(community-servers): add auth check and platform param to flashpoint-detection endpoint
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

Reapply "test(task-1067.38): add tests for _get_detector lazy init paths"
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: none

fix(discord): add flashpoint_detection_enabled to remaining test mocks
  opennotes-discord/tests/lib/bulk-scan-executor.test.ts
  opennotes-discord/tests/lib/community-server-resolver.test.ts
Due: none

Revert "test(task-1067.38): add tests for _get_detector lazy init paths"
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: none

fix(test): update flashpoint test for phased rollout (not in DEFAULT_SCAN_TYPES)
  opennotes-server/tests/integration/test_flashpoint_integration.py
Due: none

fix(flashpoint): use extra dict for structured logging kwargs
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
Due: regenerate-openapi

fix(task-1067.23): add flashpoint_detection_enabled to JSON:API CommunityServerAttributes
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/users/communities_jsonapi_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(deps): move convokit to optional deps and pin >=3.5.0
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

fix(task-1067.36): default flashpoint_detection_enabled to false for phased rollout
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/community_servers/router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(task-1067.33): normalize flashpoint detection response handling between status and update paths
  opennotes-discord/src/commands/config.ts
Due: eslint-discord, typecheck-discord

fix(discord): add flashpoint_detection_enabled to test factory CommunityServerAttributes
  opennotes-discord/tests/commands/vibecheck.test.ts
  opennotes-discord/tests/factories/api-client.ts
Due: none

test(task-1067.04): add unit and integration tests for flashpoint detection
  opennotes-server/tests/integration/test_flashpoint_integration.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_dataset.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: none

fix(task-1067.24): add ConversationFlashpointMatch to TypeScript MatchResult union
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/types/bulk-scan.ts
Due: eslint-discord, typecheck-discord

test(task-1067.38): add tests for _get_detector lazy init paths
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
Due: none

fix(types): add pyright ignore for DBOS client start_workflow attribute
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

feat(task-1067.03): integrate flashpoint detection into content monitoring
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/flashpoint_service.py
  opennotes-server/src/bulk_content_scan/scan_types.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

test(task-1069.09): add DBOS content scan workflow tests
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: none

fix: skip flashpoint dataset tests when convokit not installed
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_dataset.py
Due: none

feat(task-1069): migrate content scan pipeline to DBOS durable workflows
  opennotes-server/src/bulk_content_scan/jsonapi_router.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/router.py
  opennotes-server/src/dbos_workflows/__init__.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/main.py
  opennotes-server/tests/unit/dbos_workflows/test_worker_registration.py
Due: regenerate-openapi

test(task-1067.26): add tests for PATCH /flashpoint-detection endpoint
  opennotes-server/tests/integration/test_flashpoint_detection_endpoint.py
Due: none

fix(task-1067.36): default flashpoint_detection_enabled to false for phased rollout
  opennotes-server/alembic/versions/1ca3f92acb46_task_1067_06_add_flashpoint_detection_.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/users/communities_jsonapi_router.py
Due: schema-consistency, regenerate-openapi

feat(task-1067.02): add DSPy flashpoint module and GEPA optimization
  opennotes-server/.gitignore
  opennotes-server/pyproject.toml
  opennotes-server/scripts/flashpoints/__init__.py
  opennotes-server/scripts/flashpoints/dspy_dataset.py
  opennotes-server/scripts/flashpoints/extract_cga_dataset.py
  opennotes-server/scripts/flashpoints/flashpoint_module.py
  opennotes-server/scripts/flashpoints/optimize_prompt.py
  opennotes-server/uv.lock
Due: none
