Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(simulation): add LIMIT to linked notes query in build_deps_step (task-1173.19)
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

feat(simulation): surface existing notes for requests in agent context
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

refactor(simulation): extract cache key constant and unify Redis client
  opennotes-server/src/simulation/constants.py
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: regenerate-openapi

test(simulation): improve request transition test assertions (task-1173.18)
  opennotes-server/tests/simulation/test_scoring_integration.py
Due: none

feat(simulation): add retry-aware dedup for agent turn dispatch
  opennotes-server/alembic/versions/bc6e41fa5474_add_retry_count_to_sim_agent_instances.py
  opennotes-server/src/simulation/models.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: schema-consistency, regenerate-openapi

feat(simulation): add progress and results API endpoints with Redis cache
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/simulation/test_simulation_progress.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(cli): correct agent filter query parameter name (task-1173.10)
  opennotes-server/scripts/opennotes_cli.py
  opennotes-server/tests/unit/simulation/test_cli.py
Due: none

fix(simulation): fix request lifecycle FK direction (task-1173.09)
  opennotes-server/src/simulation/scoring_integration.py
Due: regenerate-openapi

fix(simulation): fix progress API agent counting and Redis fallback
  opennotes-server/src/simulation/simulations_jsonapi_router.py
  opennotes-server/tests/simulation/test_simulation_progress.py
Due: regenerate-openapi

fix(simulation): fix orchestrator metrics, stuck detection, empty counter, and batch removals
  opennotes-server/src/simulation/workflows/orchestrator_workflow.py
  opennotes-server/tests/unit/simulation/workflows/test_orchestrator_workflow.py
Due: regenerate-openapi

refactor(simulation): normalize retry_count default to match turn_count pattern (task-1173.23)
  opennotes-server/src/simulation/models.py
Due: schema-consistency, regenerate-openapi

refactor(api-client): remove schema-validator, AJV, and related files
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
  opennotes-discord/scripts/extract-openapi-schemas.ts
  opennotes-discord/src/lib/openapi-schemas.json
  opennotes-discord/src/lib/schema-validator.ts
  opennotes-discord/test-schema.mjs
  opennotes-discord/tests/lib/schema-validator.test.ts
  opennotes-discord/tests/schema-validation.test.ts
Due: eslint-discord, typecheck-discord

feat(task-1159.01): add openapi-fetch and api middleware chain
  opennotes-discord/package.json
  opennotes-discord/pnpm-lock.yaml
  opennotes-discord/src/lib/api-middleware.ts
  opennotes-discord/tests/lib/api-middleware.test.ts
Due: eslint-discord, typecheck-discord

fix(task-1159.11): make GCP detection idempotent
  opennotes-discord/src/lib/api-middleware.ts
  opennotes-discord/tests/lib/api-middleware.test.ts
Due: eslint-discord, typecheck-discord

test(task-1159.09,1159.12,1159.13): restore body assertions, fix test quality, consolidate helpers
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/api-middleware.ts
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
  opennotes-discord/tests/lib/api-client-claim-relevance.test.ts
  opennotes-discord/tests/lib/api-client-clear.test.ts
  opennotes-discord/tests/lib/api-client-similarity-search.test.ts
  opennotes-discord/tests/utils/fetch-request-helpers.ts
Due: eslint-discord, typecheck-discord

feat(task-1159.08): add sensitive data sanitization for error logging
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/lib/sanitize.ts
  opennotes-discord/tests/lib/sanitize.test.ts
Due: eslint-discord, typecheck-discord

test(api-client): update all test suites for openapi-fetch Request objects
  opennotes-discord/tests/api-client.test.ts
  opennotes-discord/tests/integration.test.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
  opennotes-discord/tests/jsonapi-parsing.test.ts
  opennotes-discord/tests/lib/api-client-claim-relevance.test.ts
  opennotes-discord/tests/lib/api-client-clear.test.ts
  opennotes-discord/tests/lib/api-client-similarity-search.test.ts
Due: none

refactor(api-client): rewrite ApiClient to use openapi-fetch typed client
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/tests/api-client-jwt.test.ts
Due: eslint-discord, typecheck-discord

refactor(task-1159.06,task-1159.07): typed client for clear + remove all type casts
  opennotes-discord/src/commands/clear.ts
  opennotes-discord/src/commands/note.ts
  opennotes-discord/src/lib/api-client.ts
  opennotes-discord/src/services/GuildOnboardingService.ts
  opennotes-discord/tests/factories/api-client.ts
  opennotes-discord/tests/integration/api-persistence.test.ts
  opennotes-discord/tests/lib/api-client-clear.test.ts
  opennotes-discord/tests/services/DiscordFormatter.test.ts
  opennotes-discord/tests/services/ViewNotesService.test.ts
  opennotes-discord/tests/utils/service-mocks.ts
Due: eslint-discord, typecheck-discord

refactor(config): type model Settings fields as ModelId
  opennotes-server/src/config.py
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: regenerate-openapi

refactor(llm-config): accept ModelId in LLMService and cost calculator
  opennotes-server/src/llm_config/cost_calculator.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/test_cost_calculator.py
Due: regenerate-openapi

refactor(simulation): use ModelId throughout simulation layer
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/simulation/agent.py
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/src/simulation/workflows/agent_turn_workflow.py
  opennotes-server/tests/unit/simulation/test_agent.py
  opennotes-server/tests/unit/simulation/test_schemas.py
  opennotes-server/tests/unit/simulation/workflows/test_agent_turn_workflow.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

refactor(config): remove parse_provider_model — replaced by ModelId
  opennotes-server/src/config.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_parse_provider_model.py
Due: regenerate-openapi

feat(notes): add ai_model column to store full model identifier
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/alembic/versions/0a36caa8cd3b_task_1174_add_ai_model_column_to_notes.py
  opennotes-server/openapi.json
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/notes/models.py
  opennotes-server/src/notes/schemas.py
  opennotes-server/src/services/ai_note_writer.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

refactor(services): use ModelId in ai_note_writer and content_monitoring
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/services/ai_note_writer.py
Due: regenerate-openapi

feat(simulation): normalize sim_agent model_name to pydantic-ai format
  opennotes-server/alembic/versions/4d7edc118a2e_task_1174_normalize_sim_agent_model_.py
Due: none

feat(llm-config): add ModelId value object and provider adapter
  opennotes-server/src/llm_config/adapter.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
Due: regenerate-openapi

fix(llm-service): normalize provider name for client lookup
  opennotes-server/src/simulation/schemas.py
  opennotes-server/src/simulation/sim_agents_jsonapi_router.py
  opennotes-server/tests/unit/simulation/test_schemas.py
Due: schema-consistency, regenerate-openapi

fix(tests): update client_manager tests to expect str default_model
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: none

fix(llm-config): cache lazy imports in __init__ globals
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/tests/unit/llm_config/test_lazy_imports.py
Due: regenerate-openapi

fix(simulation): populate ai_model in write_note
  opennotes-server/tests/unit/llm_config/test_usage_tracker.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
