Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

fix(monitoring): remove PLW0603 global statements in otel.py
  opennotes-server/src/monitoring/otel.py
Due: regenerate-openapi

fix(monitoring): address code review findings for Logfire migration
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/observability.py
  opennotes-server/tests/unit/monitoring/test_observability.py
Due: regenerate-openapi

feat(monitoring): migrate from Traceloop SDK to Pydantic Logfire (#345)
  opennotes-server/docs/llm-observability.md
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/observability.py
  opennotes-server/src/monitoring/otel.py
  opennotes-server/src/monitoring/traceloop.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/tests/unit/monitoring/test_observability.py
  opennotes-server/tests/unit/monitoring/test_otel_gcp_exporter.py
  opennotes-server/tests/unit/monitoring/test_otel_logging_instrumentor.py
  opennotes-server/tests/unit/monitoring/test_shutdown.py
  opennotes-server/tests/unit/monitoring/test_traceloop_gcp.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(dbos): disable DBOS OTLP when Logfire is active
  opennotes-server/src/dbos_workflows/config.py
Due: regenerate-openapi

refactor(monitoring): replace HTTPX OTel instrumentor with logfire.instrument_httpx
  opennotes-server/src/monitoring/observability.py
Due: regenerate-openapi

refactor(monitoring): move FastAPI instrumentation to lifespan via logfire.instrument_fastapi
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/observability.py
Due: regenerate-openapi

test(monitoring): switch GCP trace isolation tests to logfire.instrument_fastapi
  opennotes-server/tests/integration/test_gcp_trace_isolation.py
Due: none

fix(test): add missing LOGFIRE_ENABLED mock in DBOS OTLP config test
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: none

refactor(monitoring): switch FastAPI and HTTPX to Logfire instrumentation wrappers (#346)
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/__init__.py
  opennotes-server/src/monitoring/observability.py
  opennotes-server/tests/integration/test_gcp_trace_isolation.py
  opennotes-server/tests/unit/dbos_workflows/test_config.py
Due: regenerate-openapi

fix(tests): migrate test_unified_relevance_filter to relevance_agent.override
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
Due: none

test(claim-relevance): migrate to TestModel with agent.override
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: none

fix(tests): add relevance_agent.override to TestDebugModeUnification
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
Due: none

refactor(claim-relevance): extract module-level agent and remove LLMService dependency
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
Due: regenerate-openapi

fix(tests): use correct TestModel param name custom_output_args
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
Due: none

refactor: pydantic-ai agent patterns to follow framework best practices (#347)
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/claim_relevance_check/router.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
  opennotes-server/tests/unit/simulation/test_pass_retry.py
Due: regenerate-openapi

refactor(import): rewire /enqueue-scrapes endpoint to DBOS dispatch
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
Due: regenerate-openapi

refactor(tasks): relocate helper functions from deprecated TaskIQ files to DBOS workflows
  opennotes-cli/src/opennotes_cli/api_client/api/fact_checking_import/enqueue_scrapes_endpoint_api_v1_fact_checking_import_enqueue_scrapes_post.py
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/enqueue_scrape_response.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/dbos_workflows/import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow_steps.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

refactor(main): remove TaskIQ broker lifecycle from FastAPI lifespan
  opennotes-server/src/main.py
Due: regenerate-openapi

refactor(tasks): delete TaskIQ source files, deps, config, metrics, and Docker worker
  docker-compose.yml
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/fact_checking/import_pipeline/__init__.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/health.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/tasks/__init__.py
  opennotes-server/src/tasks/approval_tasks.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/content_monitoring_tasks.py
  opennotes-server/src/tasks/example.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/metrics_middleware.py
  opennotes-server/src/tasks/middleware.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/src/tasks/scheduler.py
  opennotes-server/src/tasks/scheduler_tasks.py
  opennotes-server/uv.lock
Due: regenerate-openapi

test(tasks): remove TaskIQ test files and update DBOS test imports
  opennotes-server/tests/integration/tasks/test_approval_tasks.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
  opennotes-server/tests/integration/test_taskiq_content_monitoring.py
  opennotes-server/tests/integration/test_taskiq_integration.py
  opennotes-server/tests/unit/dbos_workflows/test_approval_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_import_workflow.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_tasks_rate_limiting.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
  opennotes-server/tests/unit/property/test_async_workflows_property.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
  opennotes-server/tests/unit/tasks/test_scheduler_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_tasks.py
  opennotes-server/tests/unit/test_content_monitoring_workflows.py
  opennotes-server/tests/unit/test_retry_middleware.py
  opennotes-server/tests/unit/test_shutdown_order.py
  opennotes-server/tests/unit/test_taskiq_broker.py
  opennotes-server/tests/unit/test_taskiq_metrics_middleware.py
Due: none

feat(playground): add google and x oauth sign-in buttons
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/OAuthButtons.test.tsx
  opennotes-playground/src/components/OAuthButtons.tsx
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/vitest.config.ts
Due: none

fix(playground): remove recursive mock in callback.test.ts
  opennotes-playground/src/routes/auth/callback.test.ts
Due: none

test(playground): add e2e tests for oauth login flow
  opennotes-playground/tests/oauth-login.spec.ts
Due: none

fix(playground): address code review feedback on oauth buttons
  opennotes-playground/src/components/OAuthButtons.test.tsx
  opennotes-playground/src/components/OAuthButtons.tsx
  opennotes-playground/tests/oauth-login.spec.ts
  opennotes-playground/vitest.config.ts
Due: none

feat(playground): add Google and X OAuth sign-in buttons (#349)
  opennotes-playground/package.json
  opennotes-playground/pnpm-lock.yaml
  opennotes-playground/src/components/OAuthButtons.test.tsx
  opennotes-playground/src/components/OAuthButtons.tsx
  opennotes-playground/src/routes/auth/callback.test.ts
  opennotes-playground/src/routes/login.tsx
  opennotes-playground/src/routes/register.tsx
  opennotes-playground/tests/oauth-login.spec.ts
  opennotes-playground/vitest.config.ts
Due: none

fix(scripts): remove broken scrape_tasks import from import script
  opennotes-server/scripts/import_fact_check_bureau.py
Due: none

feat(discourse): add production Dockerfile for GCE deployment
  opennotes-discourse/docker/production/Dockerfile
  opennotes-discourse/docker/production/boot
Due: none

feat(observability): switch Logfire from head to tail sampling for independent Cloud Trace export
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/observability.py
  opennotes-server/tests/unit/monitoring/test_observability.py
Due: regenerate-openapi

feat(observability): switch Logfire from head to tail sampling for independent Cloud Trace export (#351)
  opennotes-server/openapi.json
  opennotes-server/src/config.py
  opennotes-server/src/main.py
  opennotes-server/src/monitoring/observability.py
  opennotes-server/tests/unit/monitoring/test_observability.py
Due: regenerate-openapi

feat(discourse): add production Dockerfile for GCE deployment (#350)
  opennotes-discourse/docker/production/Dockerfile
  opennotes-discourse/docker/production/boot
Due: none

chore: bump lock and gitignore sqry hiddens
  .gitignore
  opennotes-server/uv.lock
Due: none

fix(monitoring): split oversized Cloud Trace log entries to fit 256KB limit [task-1423]
  opennotes-server/src/monitoring/cloud_trace_logging_exporter.py
  opennotes-server/tests/unit/monitoring/test_cloud_trace_logging_exporter.py
Due: regenerate-openapi

fix(scan): add configurable timeout and batch cap for flashpoint scan step [task-1424]
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

feat(platform): scaffold SolidStart app with Supabase auth
  opennotes-platform/.env.example
  opennotes-platform/.gitignore
  opennotes-platform/Dockerfile
  opennotes-platform/app.config.ts
  opennotes-platform/package.json
  opennotes-platform/pnpm-lock.yaml
  opennotes-platform/postcss.config.mjs
  opennotes-platform/src/app.css
  opennotes-platform/src/app.tsx
  opennotes-platform/src/entry-client.tsx
  opennotes-platform/src/entry-server.tsx
  opennotes-platform/src/env.d.ts
  opennotes-platform/src/lib/auth-guard.ts
  opennotes-platform/src/lib/safe-redirect.ts
  opennotes-platform/src/lib/supabase-browser.ts
  opennotes-platform/src/lib/supabase-server.ts
  opennotes-platform/src/middleware/index.ts
  opennotes-platform/src/routes/auth/callback.ts
  opennotes-platform/src/routes/dashboard.tsx
  opennotes-platform/src/routes/index.tsx
  opennotes-platform/src/routes/login.tsx
  opennotes-platform/src/routes/register.tsx
  opennotes-platform/tsconfig.json
  opennotes-platform/vitest.config.ts
Due: none

feat(users): remove 50-char username length limit
  opennotes-server/alembic/versions/task1422_02_remove_username_length_limit.py
  opennotes-server/src/users/models.py
  opennotes-server/tests/unit/test_username_length.py
Due: schema-consistency, regenerate-openapi

feat(auth): expand API key scope vocabulary and add restricted scope enforcement
  opennotes-server/src/auth/models.py
  opennotes-server/src/notes/scoring_jsonapi_router.py
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_scope_enforcement.py
  opennotes-server/tests/unit/test_scope_vocabulary.py
Due: schema-consistency, regenerate-openapi

fix(config): add validation constraints to flashpoint scan settings [task-1424]
  opennotes-server/src/config.py
Due: regenerate-openapi

chore(platform): add mise tasks and docker-compose service
  docker-compose.override.yml
  docker-compose.yml
  mise.toml
Due: none

feat(seed): add Open Notes Platform service account with api-keys:create scope
  opennotes-server/scripts/seed_api_keys.py
  opennotes-server/tests/integration/test_seed_platform_api_key.py
Due: none
