Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

feat(admin): add API key management endpoints for external consumers
  opennotes-server/src/admin/__init__.py
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/src/admin/schemas.py
  opennotes-server/src/main.py
  opennotes-server/tests/integration/test_admin_api_keys.py
Due: schema-consistency, regenerate-openapi

feat(platform): implement API key management dashboard
  opennotes-platform/package.json
  opennotes-platform/pnpm-lock.yaml
  opennotes-platform/src/lib/api-client.server.ts
  opennotes-platform/src/routes/dashboard.tsx
Due: none

chore: regenerate OpenAPI spec with admin API key endpoints
  opennotes-server/openapi.json
Due: none

fix(platform): resolve port 3200 conflict with tempo and fix Dockerfile EXPOSE
  docker-compose.override.yml
  opennotes-platform/Dockerfile
Due: none

fix: split oversized Cloud Trace log entries and add flashpoint scan timeout/batch cap (#352)
  opennotes-server/src/config.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/monitoring/cloud_trace_logging_exporter.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
  opennotes-server/tests/unit/monitoring/test_cloud_trace_logging_exporter.py
Due: regenerate-openapi

fix(platform): sanitize keyId, add token retry/timeout, fix clipboard error handling
  opennotes-platform/src/lib/api-client.server.ts
  opennotes-platform/src/routes/dashboard.tsx
Due: none

fix(admin): handle TOCTOU race in shadow user creation with IntegrityError retry
  opennotes-server/src/admin/api_key_admin_router.py
Due: regenerate-openapi

fix(auth): block unrestricted API key creation for non-service-accounts
  opennotes-server/src/users/router.py
  opennotes-server/tests/integration/test_scope_enforcement.py
Due: regenerate-openapi

fix(tests): update API key tests to use explicit scopes
  opennotes-server/tests/integration/test_auth.py
Due: none

fix(discourse): align admin dashboard routes with Discourse plugin naming convention
  mise.toml
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/mise.toml
  opennotes-discourse/plugin/assets/javascripts/discourse/components/opennotes-admin-dashboard.gjs
  opennotes-discourse/plugin/assets/javascripts/discourse/routes/admin-opennotes.js
  opennotes-discourse/plugin/config/routes.rb
  opennotes-discourse/plugin/spec/controllers/admin_controller_spec.rb
  opennotes-discourse/tests/e2e/helpers/dashboard-page.ts
  opennotes-discourse/tests/e2e/specs/smoke.spec.ts
Due: none

fix(discourse): check running container before requiring bootstrap dir
  mise.toml
  opennotes-discourse/mise.toml
Due: none

fix(discourse): update plugin display name to "Open Notes - Moderation" and author to "Open Notes"
  opennotes-discourse/plugin/plugin.rb
Due: none

fix(observability): raise Logfire tail sampling level threshold from notice to warning
  opennotes-cli/src/opennotes_cli/api_client/api/health/taskiq_health_health_taskiq_get.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-discourse/plugin/assets/javascripts/discourse/components/opennotes-admin-dashboard.gjs
  opennotes-discourse/plugin/assets/javascripts/discourse/routes/admin-opennotes.js
  opennotes-discourse/plugin/config/routes.rb
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/src/config.py
  opennotes-server/src/monitoring/observability.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(discourse): use post-boot /etc/hosts injection for host.docker.internal
  mise.toml
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/mise.toml
  opennotes-discourse/plugin/config/locales/client.en.yml
Due: none

feat(observability): add per-module tail sampling rates for Logfire
  opennotes-server/src/monitoring/observability.py
  opennotes-server/tests/unit/monitoring/test_observability.py
Due: regenerate-openapi

fix(discourse): resolve platform ID to UUID before calling scoring-analysis
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/spec/controllers/admin_controller_spec.rb
Due: none

feat(admin): scope list/revoke to keys created by calling service account
  opennotes-server/alembic/versions/task1422_03_add_api_key_created_by.py
  opennotes-server/src/admin/api_key_admin_router.py
  opennotes-server/src/users/models.py
Due: schema-consistency, regenerate-openapi

fix(discourse): return empty dashboard data on 404 instead of error
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
Due: none

fix(discourse): align admin dashboard routes with plugin naming convention [task-1400.10] (#354)
  mise.toml
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/mise.toml
  opennotes-discourse/plugin/app/controllers/opennotes/admin_controller.rb
  opennotes-discourse/plugin/config/locales/client.en.yml
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/plugin/spec/controllers/admin_controller_spec.rb
  opennotes-discourse/tests/e2e/helpers/dashboard-page.ts
  opennotes-discourse/tests/e2e/specs/smoke.spec.ts
Due: none

feat(bulk-scan): add ContentItem and ContentModerationClassificationResult schemas
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_category_labels.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_category_scores_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/flagged_message_attributes.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_schemas.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(bulk-scan): extract capabilities, policy evaluator, and ContentItem adapter
  opennotes-server/src/bulk_content_scan/capabilities/__init__.py
  opennotes-server/src/bulk_content_scan/capabilities/flashpoint.py
  opennotes-server/src/bulk_content_scan/capabilities/moderation.py
  opennotes-server/src/bulk_content_scan/capabilities/similarity.py
  opennotes-server/src/bulk_content_scan/nats_handler.py
  opennotes-server/src/bulk_content_scan/policy_evaluator.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_flashpoint.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_moderation.py
  opennotes-server/tests/unit/bulk_content_scan/test_capabilities_similarity.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_item_adapter.py
  opennotes-server/tests/unit/bulk_content_scan/test_policy_evaluator.py
Due: schema-consistency, regenerate-openapi

feat(bulk-scan): implement ContentReviewerAgent with pydantic-ai
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
Due: regenerate-openapi

feat(bulk-scan): replace relevance_filter_step with content_reviewer_step
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
  opennotes-server/tests/unit/dbos_workflows/test_content_scan_workflow.py
Due: regenerate-openapi

fix(database): raise default pool_size to 10 and decouple pool config tests from defaults
  opennotes-server/src/config.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

feat(bulk-scan): wire ModerationAction creation from policy evaluator
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/moderation_actions/crud.py
  opennotes-server/src/moderation_actions/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

feat(monitoring): add OTEL pool utilization gauges with SQLAlchemy event listeners
  opennotes-server/src/database.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/tests/unit/test_pool_metrics.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(database): add QueuePool type cast for pool metrics Pyright compatibility
  opennotes-server/src/database.py
Due: regenerate-openapi

fix(database): address review findings — isinstance guard and debug logging for pool metrics
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_pool_metrics.py
Due: regenerate-openapi

fix(database): add pool label to metrics to distinguish per-loop engines
  opennotes-server/src/database.py
  opennotes-server/tests/unit/test_pool_metrics.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

fix(bulk-scan): address Codex review findings
  opennotes-cli/src/opennotes_cli/api_client/models/__init__.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_action_tier_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/content_moderation_classification_result_recommended_action_type_0.py
  opennotes-cli/src/opennotes_cli/api_client/models/moderation_action_create.py
  opennotes-discord/src/lib/generated-types.ts
  opennotes-playground/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/bulk_content_scan/schemas.py
  opennotes-server/src/bulk_content_scan/service.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
  opennotes-server/src/moderation_actions/crud.py
  opennotes-server/src/moderation_actions/schemas.py
  opennotes-server/tests/unit/bulk_content_scan/test_action_bridge.py
  opennotes-server/tests/unit/bulk_content_scan/test_content_reviewer_agent.py
  opennotes-server/tests/unit/dbos_workflows/test_content_reviewer_step.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(bulk-scan): resolve pyright type errors from CI
  opennotes-server/src/bulk_content_scan/action_bridge.py
  opennotes-server/src/bulk_content_scan/capabilities/flashpoint.py
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
Due: regenerate-openapi

refactor(opennotes): remove OpenTofu coupling from standalone codebase
  .env.yaml.example
  .github/workflows/ci.yml
  mise.toml
  opennotes-server/tests/conftest.py
Due: none

fix: increase DB pool sizes and add pool utilization metrics (TASK-1387) (#356)
  opennotes-server/src/config.py
  opennotes-server/src/database.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/tests/unit/test_pool_metrics.py
  opennotes-server/tests/unit/test_supavisor_connection_config.py
Due: regenerate-openapi

refactor(opennotes): migrate .env.yaml to plain .env format
  .env.ci
  .env.example
  .env.md
  .github/workflows/ci.yml
  .gitignore
  mise.toml
Due: none

feat(db): enable RLS on moderation_actions and webhook_deliveries (TASK-1428.01)
  opennotes-server/alembic/versions/task1428_01_rls_moderation_actions_webhook_deliveries.py
Due: none

fix(bulk-scan): resolve remaining pyright errors
  opennotes-server/src/bulk_content_scan/content_reviewer_agent.py
  opennotes-server/src/dbos_workflows/content_scan_workflow.py
Due: regenerate-openapi

fix(opennotes): update remaining .env.yaml references across docs and sub-service configs
  .env.md
  .gitignore
  README.md
  docs/AUTHENTICATION.md
  opennotes-discord/mise.toml
  opennotes-server/mise.toml
  scripts/generate-discord-bot-api-key.sh
Due: none

test(db): add RLS policy enforcement integration test (TASK-1428.02)
  opennotes-server/tests/integration/test_rls_policies.py
Due: none

feat(opennotes): add Docker Compose mise wrapper tasks (dev:up, dev:down, dev:ps)
  mise.toml
Due: none

fix(bulk-scan): update test_dual_completion to mock content_reviewer_step
  opennotes-server/tests/unit/dbos_workflows/test_dual_completion.py
Due: none

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
