Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

eslint-discord:
  name: ESLint (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run lint'
  language: system
  pass_filenames: false

schema-consistency:
  name: Schema Consistency Validation
  entry: mise run db:check
  language: system
  pass_filenames: false
  verbose: true

regenerate-openapi:
  name: Regenerate OpenAPI and TypeScript types
  entry: bash -c 'mise run build:types:openapi && git add opennotes-server/openapi.json opennotes-discord/src/lib/generated-types.ts 2>/dev/null || true'
  language: system
  pass_filenames: false
  verbose: true
  require_serial: true

typecheck-discord:
  name: TypeScript type check (opennotes-discord)
  entry: bash -c 'cd opennotes-discord && pnpm run type-check'
  language: system
  pass_filenames: false
  require_serial: true

fix(task-1009): complete falsely-marked-done work from task-982.x and task-1008.01 (#119)
  opennotes-server/alembic/versions/task_1009_01_align_rating_field_lengths.py
  opennotes-server/pyproject.toml
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/cli/utils.py
  opennotes-server/src/fact_checking/candidate_models.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/scrape_tasks.py
  opennotes-server/src/fact_checking/models.py
  opennotes-server/uv.lock
Due: schema-consistency, regenerate-openapi

feat(task-1006): add process_promotion_batch TaskIQ task
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
Due: regenerate-openapi

feat(task-1006): add process_scrape_batch TaskIQ task
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/__init__.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
Due: regenerate-openapi

feat(task-1006): add start_scrape_job and start_promotion_job to ImportBatchJobService
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
Due: regenerate-openapi

fix(batch-jobs): fix race condition in promotion batch processing
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
Due: regenerate-openapi

increased timeout
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

fix(task-1006): improve batch job reliability and test coverage
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/__init__.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/fact_checking/candidate_models.py
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/conftest.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

fix(task-1006): complete batch job implementation tasks 1006.17-1006.22
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/conftest.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: regenerate-openapi

fix(tasks): single-candidate scrape processing to limit crash impact
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
Due: regenerate-openapi

refactor(task-1006): improve batch job reliability and test coverage
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/__init__.py
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(task-1006): add scrape-candidates and promote-candidates API endpoints
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/tests/integration/fact_checking/__init__.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(scraping): add parallel scraping constants
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

feat(scraping): add _scrape_single_url helper with timeout protection
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
Due: regenerate-openapi

fix(scrape): use BaseException for asyncio.gather type narrowing
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

test: minor test cleanup for task-1008.10
  opennotes-server/tests/integration/fact_checking/conftest.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: none

test: remove fragile source inspection tests
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/test_health_sql_injection.py
Due: none

docs: document PROMOTING status acceptance for retry/idempotency
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
Due: regenerate-openapi

feat(scraping): add concurrency parameter to process_scrape_batch
  opennotes-server/src/batch_jobs/constants.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/tasks/import_tasks.py
Due: regenerate-openapi

fix(import_tasks): clear partial content on scraping recovery
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
Due: regenerate-openapi

refactor(tests): use job type constants instead of hardcoded strings
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
Due: none

feat(scraping): implement parallel URL scraping with asyncio.gather
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
Due: regenerate-openapi

feat(promotion): filter empty content strings in promotion queries
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
Due: regenerate-openapi

fix(docs): rename BatchJobRateLimitMiddleware to DistributedRateLimitMiddleware in comments
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: regenerate-openapi

refactor(tasks): remove lock_operation parameter (now handled by middleware)
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
Due: regenerate-openapi

refactor(services): remove manual lock management (now handled by middleware)
  docs/plans/2026-01-16-task-1008-parallel-scraping-and-rate-limit-middleware.md
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/__init__.py
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

feat(broker): integrate DistributedRateLimitMiddleware
  opennotes-server/src/tasks/broker.py
Due: regenerate-openapi

refactor: delete custom lock managers (replaced by middleware)
  opennotes-server/src/fact_checking/rechunk_lock.py
  opennotes-server/src/tasks/rechunk_tasks.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/integration/test_chunk_task_cancel_endpoints.py
  opennotes-server/tests/unit/test_rechunk_lock_manager.py
  opennotes-server/tests/unit/test_rechunk_tasks.py
Due: regenerate-openapi

feat(deps): add redis-rate-limiters for distributed rate limiting
  opennotes-server/pyproject.toml
  opennotes-server/uv.lock
Due: none

chore: move plan document to multiverse repo
  docs/plans/2026-01-16-task-1008-parallel-scraping-and-rate-limit-middleware.md
Due: none

fix(task-1010): address PR #118 review feedback for BatchJob implementation
  opennotes-discord/src/lib/generated-types.ts
  opennotes-server/docs/api-migration-notes.md
  opennotes-server/openapi.json
  opennotes-server/src/batch_jobs/__init__.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/import_pipeline/promotion.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/integration/fact_checking/conftest.py
  opennotes-server/tests/integration/fact_checking/test_import_router.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
  opennotes-server/tests/integration/test_redis_rate_limiters.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_promotion_batch_job.py
  opennotes-server/tests/unit/fact_checking/import_pipeline/test_scrape_batch_job.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
Due: eslint-discord, regenerate-openapi, typecheck-discord

fix(types): resolve basedpyright errors in rate limit middleware
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
Due: regenerate-openapi

test(integration): add redis-rate-limiters proof-of-concept tests
  opennotes-server/tests/integration/test_redis_rate_limiters.py
Due: none

test(integration): add comprehensive rate limit middleware tests
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
Due: none

feat(tasks): add DistributedRateLimitMiddleware for TaskIQ
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
Due: regenerate-openapi

feat(tasks): add rate_limit labels to batch tasks
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rechunk_tasks.py
Due: regenerate-openapi

fix(task-1010): address PR review feedback for batch job concurrency
  opennotes-server/pyproject.toml
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/chunk_router.py
  opennotes-server/src/monitoring/metrics.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/integration/batch_jobs/test_rechunk_service_concurrency.py
  opennotes-server/tests/integration/test_chunk_endpoints.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
  opennotes-server/tests/unit/batch_jobs/test_rechunk_service.py
  opennotes-server/tests/unit/fact_checking/test_import_tasks.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
  opennotes-server/uv.lock
Due: regenerate-openapi

feat(batch-jobs): implement code review fixes from tasks 1010.16-1010.25
  opennotes-server/src/batch_jobs/import_service.py
  opennotes-server/src/batch_jobs/rechunk_service.py
  opennotes-server/src/fact_checking/import_pipeline/__init__.py
  opennotes-server/src/fact_checking/import_pipeline/importer.py
  opennotes-server/src/fact_checking/import_pipeline/router.py
  opennotes-server/src/tasks/broker.py
  opennotes-server/src/tasks/import_tasks.py
  opennotes-server/src/tasks/rate_limit_middleware.py
  opennotes-server/tests/integration/batch_jobs/conftest.py
  opennotes-server/tests/integration/batch_jobs/test_rechunk_service_concurrency.py
  opennotes-server/tests/integration/test_distributed_rate_limit_middleware.py
  opennotes-server/tests/integration/test_redis_rate_limiters.py
  opennotes-server/tests/unit/batch_jobs/test_import_service.py
  opennotes-server/tests/unit/fact_checking/test_import_pipeline.py
  opennotes-server/tests/unit/tasks/test_rate_limit_middleware.py
Due: regenerate-openapi

fix: resolve circular import between rechunk_tasks and batch_jobs
  opennotes-server/src/batch_jobs/rechunk_service.py
Due: regenerate-openapi

refactor: remove server-side CLI in favor of HTTP-based CLI
  opennotes-server/opennotes_cli.py
  opennotes-server/pyproject.toml
  opennotes-server/src/cli/__init__.py
  opennotes-server/src/cli/fact_check.py
  opennotes-server/src/cli/utils.py
  opennotes-server/tests/unit/cli/__init__.py
  opennotes-server/tests/unit/cli/test_fact_check_commands.py
  opennotes-server/tests/unit/cli/test_utils.py
Due: regenerate-openapi

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$
