Repository opennotes-ai/opennotes: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-discord, schema-consistency, regenerate-openapi, typecheck-discord

Path conditions:
  eslint-discord: any of: ^opennotes-discord/src/.*\.ts$
  schema-consistency: any of: ^opennotes-server/src/.*(schemas?|models?)\.py$
  regenerate-openapi: any of: ^opennotes-server/src/.*\.(py)$
  typecheck-discord: any of: ^opennotes-discord/src/.*\.ts$

refactor(llm): remove db/community_server_id from completion methods
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/dbos_workflows/content_monitoring_workflows.py
  opennotes-server/src/llm_config/manager.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/src/services/vision_service.py
  opennotes-server/tests/services/test_vision_service.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
  opennotes-server/tests/unit/test_global_api_key_fallback.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
Due: regenerate-openapi

refactor(embedding): update callers for pydantic-ai Embedder interface
  opennotes-server/src/fact_checking/chunk_embedding_service.py
  opennotes-server/src/fact_checking/embedding_service.py
  opennotes-server/tests/unit/fact_checking/test_embedding_service_chunk_search.py
  opennotes-server/tests/unit/test_chunk_embedding_service.py
  opennotes-server/tests/unit/test_embedding_service_tracing.py
Due: regenerate-openapi

feat(migration): backfill embedding_provider from litellm to openai
  opennotes-server/alembic/versions/1185d275f39b_backfill_embedding_provider_litellm_to_.py
Due: none

fix(tests): mock Agent for relevance filter tests and add SIMILARITY_SEARCH_DEFAULT_THRESHOLD
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
Due: none

feat(llm): replace LiteLLMProvider with DirectProvider using pydantic_ai.direct
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/llm_config/providers/__init__.py
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/src/llm_config/providers/factory.py
  opennotes-server/src/llm_config/providers/litellm_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
  opennotes-server/tests/unit/llm_config/test_factory.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider.py
  opennotes-server/tests/unit/llm_config/test_litellm_provider_empty_response.py
  opennotes-server/tests/unit/test_llm_client_manager_fallback.py
  opennotes-server/tests/unit/test_llm_config.py
  opennotes-server/tests/unit/test_llm_config_unit.py
  opennotes-server/tests/unit/test_secure_string.py
Due: regenerate-openapi

feat(llm): replace litellm.aembedding with pydantic-ai Embedder
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/services/chunk_embedding.py
  opennotes-server/tests/unit/llm_config/test_llm_service_batch.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

fix(llm): handle multimodal content in DirectProvider._convert_messages
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
Due: regenerate-openapi

chore: remove litellm dependency entirely
  opennotes-server/pyproject.toml
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/llm_config/adapter.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/src/llm_config/providers/__init__.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/main.py
  opennotes-server/tests/integration/test_taskiq_content_monitoring.py
  opennotes-server/tests/unit/claim_relevance_check/test_augment_dataset.py
  opennotes-server/tests/unit/llm_config/test_factory.py
  opennotes-server/tests/unit/llm_config/test_llm_service_provider_inference.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
  opennotes-server/tests/unit/test_config.py
  opennotes-server/tests/unit/test_llm_config.py
  opennotes-server/tests/unit/test_llm_config_unit.py
  opennotes-server/uv.lock
Due: regenerate-openapi

fix(ci): add migration to drop llm_usage_log table and fix Literal type annotation
  opennotes-server/alembic/versions/2a3373461956_drop_llm_usage_log_table.py
  opennotes-server/src/fact_checking/embedding_service.py
Due: regenerate-openapi

refactor(llm): remove cost calculator and usage tracking
  opennotes-server/openapi.json
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/llm_config/cost_calculator.py
  opennotes-server/src/llm_config/models.py
  opennotes-server/src/llm_config/router.py
  opennotes-server/src/llm_config/usage_tracker.py
  opennotes-server/tests/fact_checking/test_embeddings_jsonapi.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
  opennotes-server/tests/integration/test_llm_usage_concurrency.py
  opennotes-server/tests/unit/llm_config/test_usage_tracker.py
  opennotes-server/tests/unit/test_cost_calculator.py
  opennotes-server/tests/unit/test_llm_config.py
  opennotes-server/tests/unit/test_llm_config_unit.py
Due: schema-consistency, regenerate-openapi

fix(tests): update mocks for pydantic-ai Agent and global-only cache keys
  opennotes-server/tests/unit/bulk_content_scan/test_unified_relevance_filter.py
  opennotes-server/tests/unit/test_llm_config.py
Due: none

feat(config): migrate all model config to pydantic-ai format
  .env.yaml.example
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/constants.py
  opennotes-server/src/llm_config/model_id.py
  opennotes-server/tests/unit/llm_config/test_model_id.py
  opennotes-server/tests/unit/test_config.py
Due: regenerate-openapi

chore(embedding): update env example to pydantic-ai format
  opennotes-server/.env.yaml.example
Due: none

fix(tests): update assertions for pydantic-ai format and v1.73.0 upgrade
  opennotes-server/tests/unit/bulk_content_scan/test_flashpoint_service.py
  opennotes-server/tests/unit/simulation/test_agent.py
Due: none

refactor(relevance): migrate structured output to pydantic-ai Agent
  opennotes-server/src/claim_relevance_check/prompt_optimization/augment_dataset.py
  opennotes-server/src/claim_relevance_check/prompt_optimization/utils.py
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/tests/unit/bulk_content_scan/test_relevance_check.py
  opennotes-server/tests/unit/claim_relevance_check/test_augment_dataset.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
Due: regenerate-openapi

fix(llm): address codex review — detail field, model_settings, retry filtering, batch retry
  opennotes-server/src/claim_relevance_check/service.py
  opennotes-server/src/llm_config/providers/direct_provider.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/tests/unit/claim_relevance_check/test_service.py
  opennotes-server/tests/unit/llm_config/test_direct_provider.py
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: regenerate-openapi

chore(llm): fix batch input_type dispatch, remove dead code, update docstrings
  opennotes-server/alembic/versions/2a3373461956_drop_llm_usage_log_table.py
  opennotes-server/src/config.py
  opennotes-server/src/llm_config/__init__.py
  opennotes-server/src/llm_config/schemas.py
  opennotes-server/src/llm_config/service.py
  opennotes-server/src/services/ai_note_writer.py
  opennotes-server/tests/unit/test_llm_config.py
  opennotes-server/tests/unit/test_llm_config_unit.py
Due: schema-consistency, regenerate-openapi

fix(llm): use pydantic-ai ModelHTTPError in TRANSIENT_EXCEPTIONS for retry logic
  opennotes-server/tests/unit/llm_config/test_llm_service_retry.py
Due: none

fix(discourse): move plugin source to plugin/ subdir and fix bootstrap
  opennotes-discourse/README.md
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/docker/scripts/seed.sh
  opennotes-discourse/plugin/config/locales/client.en.yml
  opennotes-discourse/plugin/config/locales/server.en.yml
  opennotes-discourse/plugin/config/settings.yml
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/tests/e2e/fixtures/users.ts
Due: none

fix(discourse): address Codex review findings
  opennotes-discourse/README.md
  opennotes-discourse/docker/.gitignore
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/tests/e2e/global-setup.ts
  opennotes-discourse/tests/e2e/helpers/post-page.ts
  opennotes-discourse/tests/e2e/helpers/test-setup.ts
Due: none

feat(discourse): add bootstrap scripts, plugin skeleton, and dev docs
  opennotes-discourse/.gitignore
  opennotes-discourse/README.md
  opennotes-discourse/config/locales/client.en.yml
  opennotes-discourse/config/locales/server.en.yml
  opennotes-discourse/config/settings.yml
  opennotes-discourse/docker/.gitignore
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/docker/scripts/wait-for-discourse.sh
  opennotes-discourse/plugin.rb
Due: none

feat(discourse): add Playwright E2E project, page objects, and smoke tests
  opennotes-discourse/tests/e2e/fixtures/users.ts
  opennotes-discourse/tests/e2e/helpers/admin-page.ts
  opennotes-discourse/tests/e2e/helpers/discourse-api.ts
  opennotes-discourse/tests/e2e/helpers/flag-page.ts
  opennotes-discourse/tests/e2e/helpers/index.ts
  opennotes-discourse/tests/e2e/helpers/login-page.ts
  opennotes-discourse/tests/e2e/helpers/navigation-page.ts
  opennotes-discourse/tests/e2e/helpers/post-page.ts
  opennotes-discourse/tests/e2e/helpers/review-page.ts
  opennotes-discourse/tests/e2e/helpers/test-setup.ts
  opennotes-discourse/tests/e2e/package.json
  opennotes-discourse/tests/e2e/playwright.config.ts
  opennotes-discourse/tests/e2e/specs/smoke.spec.ts
  opennotes-discourse/tests/e2e/tsconfig.json
Due: none

feat(discourse): add seed scripts, mise tasks, and Playwright global setup
  mise.toml
  opennotes-discourse/docker/scripts/seed.sh
  opennotes-discourse/docker/scripts/shutdown.sh
  opennotes-discourse/mise.toml
  opennotes-discourse/tests/e2e/global-setup.ts
  opennotes-discourse/tests/e2e/playwright.config.ts
Due: none

chore(migration): merge alembic heads after rebase onto main
  opennotes-server/alembic/versions/db483a298410_merge_heads_task_1368.py
Due: none

feat: Discourse plugin dev environment and Playwright test harness (#334)
  mise.toml
  opennotes-discourse/.gitignore
  opennotes-discourse/README.md
  opennotes-discourse/docker/.gitignore
  opennotes-discourse/docker/bootstrap.sh
  opennotes-discourse/docker/scripts/seed.sh
  opennotes-discourse/docker/scripts/shutdown.sh
  opennotes-discourse/docker/scripts/wait-for-discourse.sh
  opennotes-discourse/mise.toml
  opennotes-discourse/plugin/config/locales/client.en.yml
  opennotes-discourse/plugin/config/locales/server.en.yml
  opennotes-discourse/plugin/config/settings.yml
  opennotes-discourse/plugin/plugin.rb
  opennotes-discourse/tests/e2e/fixtures/users.ts
  opennotes-discourse/tests/e2e/global-setup.ts
  opennotes-discourse/tests/e2e/helpers/admin-page.ts
  opennotes-discourse/tests/e2e/helpers/discourse-api.ts
  opennotes-discourse/tests/e2e/helpers/flag-page.ts
  opennotes-discourse/tests/e2e/helpers/index.ts
  opennotes-discourse/tests/e2e/helpers/login-page.ts
  opennotes-discourse/tests/e2e/helpers/navigation-page.ts
  opennotes-discourse/tests/e2e/helpers/post-page.ts
  opennotes-discourse/tests/e2e/helpers/review-page.ts
  opennotes-discourse/tests/e2e/helpers/test-setup.ts
  opennotes-discourse/tests/e2e/package.json
  opennotes-discourse/tests/e2e/playwright.config.ts
  opennotes-discourse/tests/e2e/specs/smoke.spec.ts
  opennotes-discourse/tests/e2e/tsconfig.json
Due: none

fix(routers): catch pydantic-ai ModelHTTPError/ModelAPIError in search endpoints
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/tests/fact_checking/test_hybrid_searches_jsonapi.py
Due: regenerate-openapi

fix(llm): convert provider config errors to ValueError for proper HTTP 404 response
  opennotes-server/src/llm_config/service.py
Due: regenerate-openapi

docs(discourse): add comprehensive MVP spec with all clarification decisions
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

fix(discourse): correct API paths and contracts per Codex review
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

fix(routers): wire Embedder into LLMService in search endpoint dependencies
  opennotes-server/src/fact_checking/embeddings_jsonapi_router.py
  opennotes-server/src/fact_checking/hybrid_searches_jsonapi_router.py
  opennotes-server/src/fact_checking/previously_seen_jsonapi_router.py
Due: regenerate-openapi

docs(discourse): add two-tier action model and retroactive review to MVP spec
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

fix(discourse): align review_group values across spec sections
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

docs(discourse): scope review groups to labels within categories
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

docs(discourse): comprehensive MVP spec with two-tier action model [task-1400.03, task-1400.08] (#335)
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

docs(discourse): add moderation-action contract to MVP spec (section 13)
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

fix(discourse): address Codex review of moderation-action contract
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

docs(discourse): moderation-action contract for two-tier model [task-1400.09] (#336)
  opennotes-discourse/docs/MVP-SPEC.md
Due: none

docs(discourse): add comprehensive test plan for plugin E2E testing
  opennotes-discourse/docs/TEST-PLAN.md
Due: none

fix(discourse): address Codex coverage review of test plan
  opennotes-discourse/docs/TEST-PLAN.md
Due: none
